<header>
	<div class="header-title">
		<h2>{{this.countryName}}</h2>
		<h3>
			<span>
				{{this.widgetName}}
	      <a class="btn-action source" href="#" data-source="source-{{this.widgetSlug}}">
	        <svg><use xlink:href="#shape-info"></use></svg>
	      </a>
			</span>
		</h3>
	</div>
	<h1><a href="http://climate.globalforestwatch.org/" target="_blank">GFW Climate</a></h1>
</header>