.areas-grid {

  .areas-grid__header {
    .areaSelector {
      position: relative;
      display: inline-block;
      height: 39px;
      width: 310px;
      border: 1px solid #6B6B6B;
      border-radius: 39px;
      cursor: pointer;
      span {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translate(0, -50%);
        text-transform: uppercase;
      }
    }
    .available-areas-menu {
      padding: 15px;
      ul {
        display: flex;
        flex-flow: row wrap;
        li {
          flex-grow: 3;
          width: 33%;
          margin: 10px 0;

          span {
            font-size: 14px;
            color: $dark;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;

          }
          &.is-selected {
            span {
              color: $blue;
            }
          }
        }
      }
      .row {
        text-align: center;
        button {
          margin: 15px 0;
        }
      }
    }
  }

  .areas-grid__content {}
}
