.subnational-grid {
  overflow: hidden;
  .subnational-grid__header {
    .wrapper-subnational-selector {
      position: relative;
      display: inline-block;
      height: 39px;
      width: 310px;
      border: 1px solid #6B6B6B;
      border-radius: 39px;


      select {
        border: none;
        font-size: 13px;
        text-transform: uppercase;
        background: transparent;
        -webkit-appearance: none;
        padding: 10px 15px;
        width: 100%;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        &::-ms-expand {
          display: none;
        }

        &:focus {
          outline: 0;
        }
      }

      .selector-area-country--white {
        color: $white;
      }

      .selector-area-country--dark {
        color: $dark;
      }

      .selector-area-country--embed & {
        display: none;
      }

      .selector-arrow {
        border-color: #73707D transparent;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        width: 0;
        height: 0;
        top: 50%;
        right: 20px;
        margin-top: -3px;
        position: absolute;
        pointer-events: none;
      }

      .selector-remove {
        padding: 5px;
        color: #73707D;
        font-size: 13px;
        top: 9px;
        right: 35px;
        position: absolute;
        cursor: pointer;
        display: none;
        &:hover {
          color: lighten(#73707D, 10);
        }
      }
    }
  }

  .subnational-grid__content {

  }
}
