.chart-glad {
  .axis {
    &.y {
      .domain {
        shape-rendering: crispEdges;
      }

      .tick {
        text {
          fill: #555555;
          stroke-width: 0;
          font-size: 12px;
        }
      }
    }

    &.x {
      .domain {
        shape-rendering: crispEdges;
        stroke: rgba(0, 0, 0, 0.3);
      }

      .tick {
        line {
          stroke-width: 0;
        }

        text {
          stroke-width: 0;
          fill: #555555;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }

  .line-dashed-group {
    .dash-line-path {
      shape-rendering: crispEdges;
      stroke: rgba(91, 128, 160, 0.70);
      fill: transparent;
      stroke-width: 3;
      stroke-dasharray: 13, 6;
    }
  }

  .line-solid-group {
    .line-solid-path {
      stroke: rgba(91, 128, 160, 0.70);
      fill: transparent;
      stroke-width: 3;
    }
  }

  .dots-group {
    .dot {
      fill: rgba(237, 176, 74, 0.70);
      // transform-origin: center center;
      transition: .2s ease;
      transform: scale(0);
    }
  }

  .handle {
    shape-rendering: crispEdges;
    fill: rgba(0, 0, 0, 0.3);
  }

  .handle-label {
    text-anchor: middle;
    font-size: 12px;
    stroke-width: 0;
    fill: #555555;
    font-weight: 500;
  }

  .timeline-button {
    fill: transparent;
    stroke: rgba(91, 128, 160, 0.70);
    stroke-width: 1;
    cursor: pointer;
  }

  &.deforestation {
    .dash-line-path {
      stroke: #FF6398;
    }

    .line-solid-path {
      stroke: #FF6398;
    }
  }
}
