.chart-glad {
  $hoverOpacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;

  .axis {
    &.y {
      .domain {
        shape-rendering: crispEdges;
      }

      .tick {
        text {
          fill: #555555;
          stroke-width: 0;
          font-size: 12px;

          @media only screen and (max-width: $br-mobile) {
            font-size: 10px;
          }
        }
      }
    }

    &.x {
      .domain {
        shape-rendering: crispEdges;
        stroke: rgba(0, 0, 0, 0.3);
      }

      .tick {
        line {
          stroke-width: 1;
          shape-rendering: crispEdges;
          stroke: #EDEDED;
        }

        text {
          stroke-width: 0;
          fill: #555555;
          font-size: 13px;
          text-transform: uppercase;
        }
      }
    }
  }

  .y-label {
    text-anchor: start;
    fill: #555555;
    font-size: 13px;
  }

  .line-label {
    text-anchor: end;
    fill: #555555;
    font-size: 13px;
  }

  .underscript {
    font-size: 10px;
  }

  .line-dashed-group {
    .dash-line-path {
      stroke: #999999;
      fill: transparent;
      stroke-width: 2;
      stroke-dasharray: 13, 6;
      transition: .2s ease;
    }
  }

  .line-semidashed-group {
    .semidash-line-path {
      shape-rendering: crispEdges;
      stroke: #999999;
      fill: transparent;
      stroke-width: 1;
      stroke-dasharray: 3, 3;
      transition: .2s ease;
    }
  }

  .line-solid-group {
    .line-solid-path {
      stroke: #5B80A0;
      fill: transparent;
      stroke-width: 3;
      transition: .2s ease;

      @media only screen and (max-width: $br-mobile) {
        // stroke-width: 1.5;
      }
    }
  }

  .dots-group {
    .dot {
      stroke: #FFFFFF;
      stroke-width: 2;
      fill: #5B80A0;
      transition: .2s ease;
      opacity: 0;

      &.hovered {
        opacity: 1;
        stroke-width: 2;
        stroke: #FFFFFF;
      }
    }
  }

  .handle {
    shape-rendering: crispEdges;
    fill: rgba(0, 0, 0, 0.3);
  }

  .handle-label {
    text-anchor: middle;
    font-size: 12px;
    stroke-width: 0;
    fill: #555555;
    font-weight: 500;
  }

  .handle-triangle {
    fill: #F9F9F9;
    stroke-width: 1;
    stroke: #BCBDBE;

    &.-fill {
      stroke-width: 0;
    }
  }

  &.deforestation {
    .line-solid-path {
      stroke: #FF6398;
    }

    .dots-group {
      .dot {
        fill: #FF6398;
      }
    }
  }

}
