.glad-vis {
  width: 100%;
  position: relative;

  @media only screen and (max-width: $br-mobile-portrait ) {
    height: 790px;

    .is-embed-page & {
      height: auto;
    }
  }

  @media only screen and (min-width: $br-mobile-portrait)
   and (max-width: $br-mobile) {
    height: 660px;
    overflow: hidden;
  }

  .year-selector {
    margin-top: 3px;

    .label {
      font-size: 14px;
      color: #555555;
      margin-right: 10px;
    }

    .action {
      width: 78px;
      height: 35px;
      border-radius: 30px;
      border: 1px solid #5B80A0;
      display: flex;
      align-items: center;
      justify-content: center;

      select {
        background: transparent;
        border: 0;
        -webkit-appearance:none;
        -moz-appearance: none;
        font-size: 14px;
        font-weight: 400;
        color: #555555;
        padding: 8px 11px;
        cursor: pointer;

        @media only screen and (max-width: $br-mobile) {
          font-size: 11px;
          padding-bottom: 9px;
        }
      }

      @media only screen and (max-width: $br-mobile) {
        height: 25px;
      }
    }

    @media only screen and (max-width: $br-mobile) {
      margin-top: 0;
    }
  }

  .main-chart {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    position: relative;

    @media only screen and (max-width: $br-mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .chart-container {
      width: 100%;
      height: 450px;
      position: relative;

      .chart {
        width: 100%;
        height: inherit;
      }

      @media only screen and (max-width: $br-mobile) {
        height: 300px;
      }
    }

    > .heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 60px;

      @media only screen and (max-width: $br-mobile) {
        margin-top: 20px;
      }

      .country-selector {
        position: relative;

        .label {
          font-size: 35px;
          font-weight: 300;
          color: #555555;
          margin-bottom: 25px;
          padding-right: 25px;

          @media only screen and (max-width: $br-mobile) {
            // font-size: 22px;
            font-size: 17px;
            margin-bottom: 16px;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 22%;
            right: 0;
            width: 8px;
            height: 8px;
            border-bottom: 2px solid #5B80A0;
            border-right: 2px solid #5B80A0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

            @media only screen and (max-width: $br-mobile) {
              top: 13%;
              right: 10px;
            }
          }
        }

        .action {
          width: 100%;
          position: absolute;
          top: 0;
          border: 0;
          -webkit-appearance:none;
          -moz-appearance: none;
          font-size: 14px;
          font-weight: 400;
          color: #555555;
          padding: 8px 11px;
          background: transparent;
          opacity: 0;
          cursor: pointer;

          @media only screen and (max-width: $br-mobile) {
            padding-bottom: 4px;
            padding-top: 4px;
          }
        }
      }
    }
  }

  .selectors {
    width: 210px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: inset 0 0 0 1px #B6B6BA;
    border-radius: 36px;
    overflow: hidden;
    display: flex;

    .action {
      font-size: 10px;
      font-weight: 500;
      color: #555555;
      line-height: 12px;
      text-transform: uppercase;
      padding: 4px 10px 3px 10px;
      cursor: pointer;

      &:last-child {
        margin-left: auto;
      }

      &.-selected {
        background: #5B80A0;
        border-radius: 36px;
        color: #FFFFFF;
        cursor: default;

        &.deforestation {
          background: #FF6398;
        }
      }
    }
  }

  .legend-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    .is-embed-page & {
      flex-direction: column-reverse;
    }

    @media only screen and (max-width: $br-mobile-portrait) {
      flex-direction: column-reverse;
    }

    @media only screen and (min-width: $br-mobile-portrait)
      and (max-width: $br-mobile) {
      flex-direction: column-reverse;
    }
  }

  .level-indicator {
    width: 120px;
    display: flex;
    flex-direction: row;
    margin-left: 26px;
    margin-top: 15px;

    .icon {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      border: 1px solid #B6B6B6;
      flex-shrink: 0;
      position: relative;

      .level {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        border: 1px solid #B6B6B6;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    .labels {
      margin-left: 10px;
      margin-top: 3.5px;

      .text {
        font-size: 14px;
        color: #555555;
        margin-bottom: 3px;
      }
    }
  }

  .caveat {
    width: 300px;
    flex-shrink: 0;
    margin-left: 57px;

    .content {
      font-size: 13px;
      font-weight: 400;
      line-height: 14px;
      color: #555555;
    }

    .is-embed-page & {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }

    @media only screen and (max-width: $br-mobile) {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .legend {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &.-main{
      width: 100%;
      margin: 0 0 0 auto;
    }

    .list {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-flow: row wrap;
      justify-content: flex-end;

      .item {
        width: 120px;
        margin-right: 20px;

        &.glad-alerts {
          display: none;
        }

        .heading {
          display: flex;
          flex-direction: row;

          .icon {
            width: 20px;
            height: 15px;
            flex-shrink: 0;
            margin-right: 5px;
            position: relative;
            overflow: hidden;

            &.-line {
              &:after {
                content: '';
                width: 100%;
                height: 3px;
                background: #5B80A0;
                position: absolute;
                top: 5px;
              }
            }

            &.-dashed {
              &:before {
                content: '';
                width: 45%;
                height: 2px;
                background: #5B80A0;
                position: absolute;
                top: 5px;
                left: 0;
              }
              &:after {
                content: '';
                width: 40%;
                height: 2px;
                background: #5B80A0;
                position: absolute;
                top: 5px;
                right: 0;
              }
            }

            &.-semidashed {
              &:after {
                content: '';
                width: 100%;
                height: 3px;
                border-bottom: 1.5px dashed #5B80A0;
                position: absolute;
                top: 3px;
                right: -2px;
              }
            }

            &.-dot {
              &:after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #EDB04A;
                position: absolute;
                top: 1px;
                left: 9px;
                right: 0;
              }
            }
          }

          .label {
            font-size: 14px;
            color: #555555;
            height: 46px;
          }
        }

        .value {
          font-size: 35px;
          font-weight: 300;
          color: #5B80A0;
          margin-left: 20px;
        }

        &.-no-icon {
          .value {
            margin-left: 0;
          }
        }
      }

      &.deforestation {
        .item {
          .heading {
            .icon {
              &.-line {
                &:after {
                  background: #FF6398;
                }
              }

              &.-dashed {
                &:before {
                  background: #FF6398;;
                }
                &:after {
                  background: #FF6398;
                }
              }

              &.-semidashed {
                &:before {
                  border-color: #FF6398;
                }
                &:after {
                  border-color: #FF6398;
                }
              }
            }
          }
          .value {
            color: #FF6398;

            &.default {
              color: #5B80A0;
            }
          }
        }
      }
    }

    @media only screen and (max-width: $br-mobile-portrait ) {
      .list {
        justify-content: flex-start;
        padding-left: 10%;

        .item {
          margin-bottom: 25px;

          &.glad-alerts {
            display: block;
          }

          .heading {
            .label {
              font-size: 13px;
              height: auto;
              margin-bottom: 10px;
            }
          }

          .value {
            font-size: 25px;
          }
        }
      }
    }

    @media only screen and (min-width: $br-mobile-portrait)
      and (max-width: $br-mobile) {
      .list {
        justify-content: flex-start;
        padding-left: 0;

        .item {
          margin-bottom: 25px;

          &.glad-alerts {
            display: block;
          }

          .heading {
            .label {
              font-size: 13px;
              height: auto;
              margin-bottom: 10px;
            }
          }

          .value {
            font-size: 25px;
          }
        }
      }
    }
  }

  .insights-glad-alerts-tooltip {
    width: 300px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
    transform: translateZ(0);

    &:after {
      content: '▼';
      position: absolute;
      bottom: -13px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
      transform: scale(-1.5, 1);
    }

    .tooltip-content {
      width: 100%;
      display: flex;
      flex-direction: column;

      .data {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;

        .thumbnail {
          width: 116px;
          flex-shrink: 0;

          .image {
            width: 95px;
            height: 96px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
            text-align: center;
            font-weight: 400;

            .loader {
              width: 20px;
              height: 20px;
              @include spinner (20px, 3px, $color-1);
              pointer-events: none;
            }

            img {
              width: 100%;
            }
          }
        }

        .detail {
          margin-left: 20px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .value {
            font-size: 29px;
            color: #5B80A0;
            font-weight: 500;
          }

          .label {
            color: #555555;
            font-size: 14px;
            margin-top: 2px;
          }
        }
      }

      .btn-map {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
          padding-left: 25px;
          padding-right: 25px;
          text-transform: uppercase;
          font-weight: 400;
          pointer-events: none;
        }
      }
    }

    &.-visible {
      opacity: 1;

      .is-embed-page & {
        opacity: 0;
      }

      .tooltip-content {
        .btn-map {
          .btn {
            pointer-events: all;
          }
        }
      }
    }
  }
}
