.glad-vis {
  width: 100%;
  position: relative;

  @media only screen and (max-width: $br-mobile-portrait ) {
    height: 1250px;
  }

  @media only screen and (min-width: $br-mobile-portrait ) and (max-width: $br-mobile) {
    height: 740px;
  }

  @media only screen and (min-width: $br-mobile-portrait)
    and (max-width: $br-mobile) {
    height: 820px;
    overflow: hidden;

    .is-embed-page & {
      height: 910px;
    }
  }

  .year-selector {
    margin-left: 10px;

    .label {
      font-size: 14px;
      color: $font-color-2;
      margin-right: 10px;
    }

    .action {
      width: 65px;
      height: 20px;
      border-radius: 30px;
      background: #fff;
      box-shadow: inset 0 0 0 1px #b6b6ba;
      display: flex;
      align-items: center;
      justify-content: center;

      .nav {
        width: 20px;
        font-size: 12px;
        font-weight: 300;
        transform: scale(0.8,1.6);
        color: $font-color-3;
        text-align: center;
        cursor: pointer;

        &.-disabled {
          color: $font-color-1;
          opacity: 0.4;
          pointer-events: none;
        }
      }

      select {
        background: transparent;
        border: 0;
        -webkit-appearance:none;
        -moz-appearance: none;
        font-size: 10px;
        font-weight: 600;
        color: $font-color-1;
        cursor: pointer;
        margin-bottom: 2px;
        pointer-events: none;
        user-select: none;

        &::-ms-expand {
          display: none;
        }
      }
    }

    @media only screen and (max-width: $br-mobile) {
      margin-top: 0;
    }
  }

  .main-chart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    position: relative;

    @media only screen and (max-width: $br-mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .visualization {
      width: 100%;
      min-height: 300px;
      position: relative;

      &.is-loading {
        .legend-container {
          display: none;
        }

        .caveat {
          display: none;
        }
      }
    }

    .chart-container {
      width: 100%;
      height: 300px;
      position: relative;
      z-index: 1;

      .chart {
        width: 100%;
        height: inherit;

        .insights-glad-alerts-tooltip {
          width: 170px;
          height: 105px;
          position: absolute;
          top: 75px;
          left: 0;
          background: #5b80a0;
          box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
          border-radius: 3px;
          pointer-events: none;
          opacity: 0;
          transform: translateZ(0);

          &.-right {
            &:after {
              transform: scale(-1, 1.8);
              left: -12px;
              right: auto;
            }
          }

          &:after {
            content: '▶';
            position: absolute;
            top: 48px;
            right: -12px;
            color: #5b80a0;
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
            transform: scale(1, 1.8);
          }

          .tooltip-content {
            width: 100%;
            display: flex;
            flex-direction: column;

            .data {
              width: 100%;
              height: 100px;
              display: flex;
              flex-direction: row;
              margin-bottom: 15px;
              padding: 5px 10px;

              .item {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 8px;

                .label {
                  color: $font-color-2;
                  font-size: 14px;
                  line-height: 17px;
                  margin-top: 2px;
                }

                .value {
                  font-size: 35px;
                  color: $font-color-2;
                  font-weight: 300;
                }
              }

            }
          }

          &.-visible {
            opacity: 1;

            @media only screen and (max-width: $br-mobile) {
              opacity: 0;

              .is-embed-page & {
                opacity: 1;
              }
            }
          }
        }

        &.deforestation {
          .insights-glad-alerts-tooltip {
            background: #ff6398;

            &:after {
              color: #ff6398;
            }
          }
        }
      }

      @media only screen and (max-width: $br-mobile) {
        height: 300px;
      }
    }

    > .heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 50px;

      @media only screen and (max-width: $br-mobile) {
        margin-top: 20px;
        flex-direction: column-reverse;
        position: relative;

        .is-embed-page & {
          flex-direction: row;
          margin-top: 25px;
        }
      }

      .countries {
        width: 30%;
        display: flex;

        @media only screen and (max-width: $br-mobile) {
          width: 60%;
        }

        .country-selector {
          position: relative;

          .label {
            font-size: 35px;
            font-weight: 300;
            color: #555;
            margin-bottom: 25px;
            padding-right: 25px;
            max-width: 150px;

            @include ellipsis(300px);

            @media only screen and (max-width: $br-mobile) {
              @include ellipsis(270px);

              .is-embed-page & {
                @include ellipsis(250px);
              }
            }

            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 22%;
              right: 0;
              width: 8px;
              height: 8px;
              border-bottom: 2px solid #5b80a0;
              border-right: 2px solid #5b80a0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }

          .action {
            width: 100%;
            position: absolute;
            top: 0;
            border: 0;
            -webkit-appearance:none;
            -moz-appearance: none;
            font-size: 14px;
            font-weight: 400;
            color: #555;
            padding: 8px 11px;
            background: transparent;
            opacity: 0;
            cursor: pointer;
          }
        }
      }

      .filters {
        width: 40%;
        display: flex;
        margin-top: 8px;
        justify-content: center;

        @media only screen and (max-width: $br-mobile) {
          width: 88%;
          justify-content: flex-end;
          margin-bottom: 23px;

          .is-embed-page & {
            width: 52%;
          }
        }
      }
    }

    &.no-data {
      .main-vis-switch {
        pointer-events: none;
        opacity: 0.5;
      }

      .legend-container {
        display:none;
      }

      .caveat {
        display: none;
      }
    }
  }

  .selectors {
    width: 172px;
    height: 20px;
    background: #fff;
    box-shadow: inset 0 0 0 1px #b6b6ba;
    border-radius: 36px;
    overflow: hidden;
    display: flex;

    .action {
      font-size: 10px;
      font-weight: 500;
      color: #555;
      line-height: 12px;
      text-transform: uppercase;
      padding: 4px 10px 3px 10px;
      cursor: pointer;

      &:last-child {
        margin-left: auto;
      }

      &.-selected {
        background: #5b80a0;
        border-radius: 36px;
        color: #fff;
        cursor: default;

        &.deforestation {
          background: #ff6398;
        }
      }
    }
  }

  .legend-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    position: relative;
    z-index: 0;
    top: -9px;
  }

  .level-indicator {
    width: 120px;
    display: flex;
    flex-direction: row;
    margin-left: 26px;
    margin-top: 15px;

    .icon {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      border: 1px solid #b6b6b6;
      flex-shrink: 0;
      position: relative;

      .level {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        border: 1px solid #b6b6b6;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    .labels {
      margin-left: 10px;
      margin-top: 3.5px;

      .text {
        font-size: 14px;
        color: #555;
        margin-bottom: 3px;
      }
    }
  }

  .caveat {
    flex-shrink: 0;
    margin-left: 220px;
    margin-top: 18px;
    margin-right: 60px;
    padding-top: 20px;
    border-top: 1px solid #dfdfdf;
    padding-bottom: 30px;

    @media only screen and (max-width: $br-mobile) {
      margin-left: 20px;
      margin-right: 20px;
    }

    .content {
      font-size: 13px;
      font-weight: 400;
      line-height: 14px;
      color: #555;
    }
  }

  .legend {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 0 20px;

    @media only screen and (max-width: $br-mobile-portrait ) {
      flex-direction: column;
      padding-left: 0;

      .is-embed-page & {
        flex-direction: row;
        padding-left: 20px;
      }
    }

    .stats {
      display: flex;

      > .label {
        width: 180px;
        font-size: 35px;
        font-weight: 300;
        color: $font-color-1;
        margin-left: 20px;
      }

      @media only screen and (max-width: $br-mobile-portrait ) {
        width: 100%;
        flex-direction: column;

        > .label {
          width: 100%;
          margin-bottom: 25px;
          padding-left: 10%;
          margin-left: 0;
        }

        .is-embed-page & {
          > .label {
            padding-left: 0;
          }
        }
      }

      @media only screen and (min-width: $br-mobile-portrait) and (max-width: $br-mobile) {
        width: 60%;
        flex-direction: column;

        > .label {
          width: 100%;
          margin-left: 0;
          margin-bottom: 20px;
        }
      }

      .list {
        flex-grow: 2;
        max-width: 312px;
        margin-right: 35px;

        @media only screen and (max-width: $br-mobile) {
          max-width: none;
          margin-right: 0;
        }

        .main-data {
          width: 100%;
          display: flex;
          border-bottom: 1px solid #dfdfdf;
          padding-bottom: 20px;

          @media only screen and (max-width: $br-mobile-portrait ) {
            flex-direction: column;
          }

          @media only screen and (max-width: $br-mobile) {
            padding-bottom: 0;
          }

          .item {
            width: 120px;
            margin-right: 20px;

            &.-mobile {
              display: none;
            }

            @media only screen and (max-width: $br-mobile-portrait ) {
              width: 100%;

              &.-mobile {
                display: block;

                .is-embed-page & {
                  display: none;
                }
              }
            }

            .heading {
              height: 55px;
              display: flex;
              flex-direction: row;

              @media only screen and (max-width: $br-mobile-portrait ) {
                height: 20px;
              }

              @media only screen and (max-width: $br-mobile) {
                justify-content: space-between;
              }

              .label {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #555;
                height: 38px;

                @media only screen and (max-width: $br-mobile-portrait ) {
                  br {
                    display: none;
                  }
                }
              }
            }

            .value {
              font-size: 35px;
              font-weight: 300;
              color: #5b80a0;

              &.-neutral {
                color: #555;
              }
            }
          }
        }

        .extra-data {
          width: 100%;
          margin-top: 20px;
          font-size: 12px;
          line-height: 17px;
          color: #555;

          @media only screen and (max-width: $br-mobile-portrait ) {
            margin-bottom: 20px;
          }
        }

        &.deforestation {
          .item {
            .value {
              color: #ff6398;
            }
          }
        }
      }
    }

    .map {
      display: flex;
      flex-grow: 3;
      margin-left: 40px;

      @media only screen and (max-width: $br-mobile) {
        flex-direction: column;
        align-items: center;
        margin-left: 5px;
      }

      .thumbnail {
        .image {
          width: 150px;
          height: 150px;
          overflow: hidden;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 12px;
          line-height: 17px;
          color: #555;

          &.-no-data {
            border: 1px solid #dfdfdf;
          }

          .loader {
            width: 20px;
            height: 20px;

            @include spinner (20px, 3px, $color-1);

            pointer-events: none;
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .btn-map {
        width: 100%;
        display: flex;
        align-items: baseline;;
        justify-content: center;

        @media only screen and (max-width: $br-mobile) {
          margin-top: 30px;
        }

        .btn {
          height: 34px;
          padding-left: 25px;
          padding-right: 25px;
          text-transform: uppercase;
          font-weight: 400;
          line-height: 34px;
          cursor: pointer;

          .map-link {
            display: inline-block;
            color: $font-color-1;
          }
        }
      }
    }

    @media only screen and (max-width: $br-mobile-portrait ) {
      .list {
        justify-content: flex-start;
        padding-left: 10%;

        .item {
          margin-bottom: 25px;

          &.glad-alerts {
            display: block;
          }

          .heading {
            .label {
              font-size: 13px;
              height: auto;
              margin-bottom: 10px;
            }
          }

          .value {
            font-size: 25px;
          }
        }
      }
    }

    @media only screen and (min-width: $br-mobile-portrait)
      and (max-width: $br-mobile) {
      .list {
        justify-content: flex-start;
        padding-left: 0;

        .item {
          margin-bottom: 25px;

          &.glad-alerts {
            display: block;
          }

          .heading {
            .label {
              font-size: 13px;
              height: auto;
              margin-bottom: 10px;
            }
          }

          .value {
            font-size: 25px;
          }
        }
      }
    }
  }

}
