.insights-title {
  h2 {
    font-size: 47px;
    color: $white;

    @media only screen and (max-width: $br-mobile-portrait) {
      font-size: 26px;

      &.-width-margin {
        margin-top: 40px;
      }
    }

    @media only screen and (min-width: $br-mobile-portrait) and (max-width: $br-mobile) {
      font-size: 26px;

      &.-width-margin {
        margin-top: 0;
      }

      .is-embed-page & {
        &.-width-margin {
          margin-top: 0;
        }
      }
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 300;
    color: rgba($white, 0.7);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 23px;
    line-height: 20px;

    @media only screen and (max-width: $br-mobile) {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: $br-mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.is-embed-page {
  &.is-insights-action {
    background: $white;
  }
}

.insights-content {
  width:100%;
  height: 600px;
  position: relative;

  &.loaded {
    height: auto;
    padding-bottom: 50px;

    @media only screen and (max-width: $br-mobile) {
      padding-bottom: 0;
    }
  }
}

.insights {
  .visualization-list {
    display: flex;

    @media only screen and (max-width: $br-mobile) {
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }

    .item {
      display: flex;
      flex-direction: column;
      flex-basis: 33%;
      padding: 40px 25px;
      padding-left: 0;

      &:last-child {
        border: 0;
      }

      .link {
        margin-top: 15px;
      }

      .thumb {
        width: 100%;
        flex-shrink: 0;
        margin-bottom: 15px;

        .image {
          width: 100%;
          height: auto;
        }
      }

      .title {
        font-size: 34px;
        font-weight: 300;
        color: #555555;
        margin-bottom: 15px;
      }

      .text {
        font-size: 14px;
        color: #555555;
        line-height: 21px;
      }
    }
  }

  .nav-options {
    width: 30%;
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: $br-mobile) {
      width: auto;
      position: absolute;
      right: 0;
      top: 0;

      .is-embed-page & {
        width: auto;
        position: relative;
        right: auto;
        top: auto;
      }
    }
  }

  .extra-selector {
    display: flex;
    align-items: center;
    height: 34px;
    justify-content: center;
    margin-left: 10px;

    > .action {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border-radius: 10px;
      border: 1px solid #CACACA;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.-info {
        border-color: #4E819F;
        background: #4E819F;

        .btn-action {
          position: relative;
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        svg {
          width: 8px;
          height: 9px;
          fill: #FFFFFF;
          margin: 0 0 1px 0 !important;
        }
      }

      &.-share {
        svg {
          width: 11px;
          height: 11px;
          fill: #BDBDBD;
          margin-right: 1px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @media only screen and (max-width: $br-mobile) {
      > .action {
        &.-share {
          display: none;
        }
      }
    }
  }
}
