.countries_list_index {
  @extend .clearfix;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto 85px;


  .country {
    float: left;
    margin: 0 0 -1px -1px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #999;
    width: 100%;

    @media (min-width: 480px){
      width: 50%;
    }

    @media (min-width: 768px){
      width: 33.333333%;
    }

    @media (min-width: 1000px){
      width: 25%;
    }

    @media (min-width: 1600px){
      width: 20%;
    }


    a {
      position: relative;
      display: block;
      width: 100%;
      height: 240px;
      padding: 20px;
      border: 1px solid #e5e5e5;
      background: #fff;
      transition: all 0.1s $easeInOutCubic;

      .country_main,
      .country_alt {
        transition: all 0.1s $easeInOutCubic;
      }

      &:hover {
        z-index: 1000;
        box-shadow: 0 0 1px rgba(#000, 0.1);

        .country_main,
        .country_alt {
          fill: $blue;
        }

        @media (min-width: 480px){
          transform: scale(1.1);
        }
      }
    }

    .country-content {
      position: absolute;
      top: 190px; left: 20px;
      right: 20px;

      span {
        display: block;
        color: #999;
        font-size: 15px;
        line-height: 1.1;
      }
    }

    h3 {
      display: block;
      margin-bottom: 5px;
      font-size: 19px;
      line-height: 1.1;
      color: #555;
      text-transform: uppercase;
      padding: 0;

      &.small {
        font-size: 19px;
      }
    }

    strong {
      font-weight: 500;
    }

    svg {
      position: absolute;
      top: 20px; left: 50%;
      margin-left: -75px;
      fill: #555;
    }
  }

  @media only screen and (max-width: 480px) {
    .country {
      &:first-of-type a {
        border-top: 0;
      }

      a {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 80px;
      }

      a:hover {
        svg {
          top: 0;
        }

        .country-content {
          top: 0;
          left: 20px;
          right: 0;
        }
      }

      .country-content, svg {
        top: 0;
        margin-left: 20px;
        right: 0;
        display: table;
        max-width: 60%;
        height: 100%;

        path {
          transform: scale(0.4);
          -webkit-transform: scale(0.4);
        }

        h3 {
          font-size: 20px;
          text-align: left;
          position: relative;
          left: -18px;
          color: #333;
          display: table-cell;
          vertical-align: middle;
          height: 100%;
        }
      }

      a svg {
        margin-top: 10px;
        left: 68%;
        width: 84px;
      }
    }
  }
}
