<div class="l-header -large">
  <div class="inner insights-title">
    <h2 class="-width-margin">How does the Carbon Cycle work?</h2>
  </div>
</div>


<div class='scroll'>
  <div class='scroll__graphic'>
    <div id="animation"></div>
  </div>
  <div class='scroll__text'>
    <section class='inner carbon-section step -current' data-step='1'>
      <div class="carbon-section-content">
        <h2>Fossil Fuel Emissions</h2>
        <p>
          In the atmosphere, carbon is most commonly found in the form of carbon dioxide or methane, these are both important greenhouse gases. The accumulation of these gases drives Global Warming.
          <span>The rate of carbon dioxide accumulation depends on the balance between human emissions and the rate at which they are sequestered into so-called sinks: the Ocean and the Land.</span>
        </p>
      </div>
    </section>
    <section class='inner carbon-section step step1' data-step='2'>
      <div class="carbon-section-content">
        <h2>Oceans as Carbon Dioxide Sinks</h2>
        <p>
          Carbon dioxide dissolves into water forming carbonic acid. Through this pathway, oceans and freshwater absorb around half of all human carbon dioxide emissions.
          <span>Carbonic acid is required in low concentrations for aquatic life to develop, however, too much acid breaks down the shells of marine animals faster than they can build them, leading to critical disruptions in the food chain.</span>
        </p>
      </div>
    </section>
    <section class='inner carbon-section step step2' data-step='3'>
      <div class="carbon-section-content">
        <h2>Land as a Sink</h2>
        <p>
          Another quarter of all fossil fuel emissions are absorbed by processes on the land. Forests and soils accumulate carbon acting as a temporary stores, so-called carbon reservoirs.
          <span>Globally, forests cover around 30% of the lands surface. Deforestation and degradation of forests contribute around 20% of global carbon emissions. Most of that contribution comes from tropical regions.</span>
        </p>
      </div>
    </section>
  </div>
</div>
<div class="end"></div>
