<div class='carbon-forest'>
  <div class='carbon-forest-graphic'>
    <div class="carbon-forest-graphic-animation">
      <img class="carbon-forest-image-0" src="/assets/insights/carbon-cycle/tree1@2x.png" alt="Tree absorbing carbon">
      <img class="carbon-forest-image-1" style="display: none;" src="/assets/insights/carbon-cycle/tree2@2x.png" alt="Tree emitting carbon">
    </div>
  </div>
  <div class='carbon-forest-text inner'>
    <section class='carbon-forest-section step'>
      <div class="carbon-forest-section-content">
        <h2 class="carbon-forest-section-content-title">Forests as Carbon Absorbers</h2>
        <ul class="carbon-forest-section-content-list">
          <li class="js-forest-list" data-step="absorption">Carbon Absorption</li>
          <li class="js-forest-list" data-step="reservoir">Carbon Reservoir</li>
        </ul>
      </div>
    </section>
    <section class='carbon-forest-section step'>
      <div class="carbon-forest-section-content">
        <h2 class="carbon-forest-section-content-title">Carbon Emissions</h2>
        <ul class="carbon-forest-section-content-list">
          <li class="js-forest-list" data-step="respiration">Respiration and Decay</li>
          <li class="js-forest-list" data-step="forest">Forest Fires</li>
          <li class="js-forest-list" data-step="human">Human Caused Disturbances</li>
        </ul>
        <p class="carbon-forest-section-content-text">
          Carbon dioxide can also be returned to the atmosphere through natural processes such as decay. In a mature forest, without human influence, the rate of emission usually balances the rate of absorption - the fluxes in such forests can be said to be in equilibrium.
        </p>
      </div>
    </section>
  </div>
</div>

