<div id="loss-carbon-chart" class="graph-line-bar">
  <div id="loss-carbon-chart-legend" class="graph-legend">
    <div class="tree-cover-loss">
      <p>Tree cover loss</p>
      <span class="unit">Ha</span>
      <span class="tree-cover-loss-value"></span>
    </div>
    <div class="gross-carbon-emissions">
      <p>Gross carbon emissions</p>
      <span class="unit">TCO2</span>
      <span class="gross-carbon-emissions-value"></span>
    </div>
  </div>
</div>

<footer class="analysis-footer">
  <ul>
    <li id="analysis-delete">
      <svg class="icon"><use xlink:href="#icon-analysis-remove"></use></svg>
      <span class="tooltipmap bottom">Discard analysis</span>
    </li>
    <li id="analysis-subscribe">
      <svg class="icon"><use xlink:href="#icon-analysis-alerts"></use></svg>
      <span class="tooltipmap bottom">Subscribe</span>
    </li>
  </ul>
</footer>
