<div class="inner">
  <div class="search-countries-box">
    <input type="text" id="searchCountry" autofocus="true" type="text" placeholder="Type country name">
  </div>
</div>
<ul class="inner countries_list_index">
  {{#each data}}
    <li class="country">
      <a class="country-href" href="/countries/{{this.iso}}/report">
        <span class="country-content">
          <h3 class="country-name">{{this.name}}</h3>
        </span>
        <div id="{{this.iso}}-geometry"></div>
      </a>
    </li>
  {{/each}}
</div>
