<ul class="inner countries_list_index">
  {{#each data}}
    <li class="country">
      <a href="/countries/{{this.iso}}">
        <div id="{{this.iso}}-geometry"></div>
        <h3 class="country-name">{{this.name}}</h3>
      </a>
    </li>
  {{/each}}
</div>
