.m-widget {
  min-height: 250px;
  color: $dark;

  // HEADER
  > .m-widget-header {

    .-compare & {
      position: absolute;
      top: 35px;
      left: 25px;
      right: auto;
      width: 43%;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.-right-side {
      left: auto;
      right: 25px;
    }

    .gridgraphs--widget:nth-child(3) & {
      display: none;
    }

    @media only screen and (min-width: $br-mobile) {
      position: static;
      width: 100%;

      .gridgraphs--widget:nth-child(3) & {
        display: flex;
      }
    }

    // NAME
    > .name {
      font-size: 14px;
      text-transform: uppercase;
      color: rgba(0,0,0, .5);
      font-weight: 500;
      max-width: 48%;
    }

    // OPTIONS
    > .options {
      display: flex;
      // min-width: 161px;
      padding: 0 0 0 10px;

      @media only screen and (max-width: $br-mobile) {
        padding-left: 0;
        padding-top: 5px;
      }

      > li{
        margin: 0 3px;

        > .btn-action {
          position: relative;
          display: inline-block;
          width: 18px;
          height: 18px;

          border: 1px $color-3 solid;
          border-radius: 50%;
          color: $font-color-1;

          .tooltip1 {
            font-size: 12px;
          }

          &:hover {
            background: $color-1;
            color: $font-color-2;
            border-color: $color-1;

            svg {
              fill: $font-color-2;
            }

            .tooltip1 {
              visibility: visible;
              opacity: 1;
            }
          }

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            fill: $color-3;
          }

          &.source {
            background-color: $blue;
            border-color: $blue;

            &:hover {
              background-color: darken($blue, .1);
            }

            svg {
              fill: $white;
            }
          }
        }
      }
    }
  }

  // CONTENT
  > .m-widget-content {
    margin-top: 25px;

    .tab-ul {
      display: flex;
      justify-content: space-around;

      .tab-li {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 69px;
        padding: 15px;
        font-size: 12px;
        text-align: center;
        background-color: #f2f2f3;
        border: 1px solid $border;
        border-right: 0;
        cursor: pointer;

        &:last-child {
          border-right: 1px solid $border;
        }
        &.-selected {
          color: $black;
          background: $white;
          border-bottom: 1px solid transparent;
        }

        span {
          display: block;
          width: 100%;
        }
        .subname,.ipcc {
          color: #777;
        }
        .subname {
          font-size: 10px;
        }
        .ipcc {
          font-size: 9px;
        }
      }
    }

    .wrapper {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 15px;
        width: 10px;
        height: 10px;
        border-left: 2px solid #555;
        border-bottom: 2px solid #555;
        transform: rotate(-45deg);
        pointer-events: none;
      }
    }

    .tab-selector {
      max-width: 100%;
      width: 100%;

      -webkit-appearance: none;
      height: 25px;
      padding-left: 20px;
      border-radius: 50px;
      background: none;
      border-color: #ddd;

      font-family: "Fira Sans";
      
      option {
        @include ellipsis(90%);
      }
      
    }
  }
}
