.country-widget {
  float: left;
  width: 50%;
  min-height: 250px;
  .country-widget__header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .country-widget__name {
      float: left;
      font-size: 14px;
      text-transform: uppercase;
      color: rgba(0,0,0, .5);
      font-weight: 500;
    }

    .options {
      display: flex;
      float: right;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        fill: #bebcc2;
      }

      .close {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50px;
        padding-right: 3px;
        font-size: 10px;
        color: #7f7f7f;
        border: 1px #bebcc2 solid;
        border-radius: 8px;
        svg {
          left: 3px;
          transform: translate(0, -50%);
        }
      }

      .info,
      .share {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 0 3px;
        border: 1px #bebcc2 solid;
        border-radius: 50%;

      }
    }
  }

  .country-widget__content {
    margin-top: 25px;
    .indicators-grid {
      display: flex;
      justify-content: space-around;
      .indicators-grid__item {
        display: inline-flex;
        width: 100%;
        padding: 15px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
        background-color: #f2f2f3;
        border: 1px solid #e5e5e5;
        border-right: 0;
        cursor: pointer;
        &:last-child {
          border-right: 1px solid #e5e5e5;
        }
        &.is-selected {
          background: $white;
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  select.selector {
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    padding: 3px;
    border-radius: 11px;
    &.blue {
      border: 1px solid $blue;
    }
  }
}
