.reports-content {
  height: 100%;
  margin-top: 60px;
}

.no-indicators-warning {
  margin: 75px 0;
  text-align: center;
  h3 {
    font-size: 32px;
    font-weight: 300;
  }
  .btn {
    margin-top: 45px;
  }
}

.reports-grid {
  overflow: hidden;
  margin: 75px 0;
}
