.gridgraphs {

  > .gridgraphs-header {
    overflow: hidden;
    margin: 60px 0 0;

    > .btn  {
      float: right;
    }
  }
  .gridgraphs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    > .gridgraphs-widget {
      width: 47.5%;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 80px;
      margin-bottom: 60px;

      &:nth-child(2n +1) {
        position: relative;

        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -1px;
          right: -25%;
          width: 25%;
          height: 1px;
          background-color: #e5e5e5;
        }
      }
    }
  }

  &.-areas,
  &.-subnational {

    > .gridgraphs-content {
      transform: translate(0, -1.05%);

      > .box > .title {
        font-size: 32px;
        color: $dark;
        font-weight: 300;
      }
    }
  }
}
