.container-country__header-country {
  position: relative;
  overflow: hidden;
  padding: 25px 0 0;
  background-color: #333;

  .container-country__content {
    width: 100%;
    // min-height: 380px;
    padding-right: 300px;

    .header-country__title-country {
      padding: 35px 0 50px;
      h1 {
        display: inline-block;
        color: $white;
        font-size: 47px;
        font-weight: 300;
      }
    }

    .header-country__selector-area-country {
      position: relative;
      display: inline-block;
      height: 39px;
      width: 310px;
      border: 1px solid #6B6B6B;
      border-radius: 39px;
    }

    .country-description {
      margin: 20px 0;
      font-size: 19px;
      line-height: 1.3;
      color: rgba($white, .7)
    }

    .header-country__preview-country {
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      padding: 40px 0 0;
      svg {
        fill: $blue;
      }
    }
    .header-country__display-options {
      position: absolute;
      right: 0;
      bottom: 0;

      ul {
        border: 1px solid #616161;
        border-radius: 12px;

        > li {
          display: inline-block;
          padding: 0 10px;
          font-size: 10px;
          color: rgba($white, .5);
          text-transform: uppercase;
          cursor: pointer;

          &.is-selected {
            background-color: #616161;
            color: $white;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
