.source_window--countries {
  width: 820px;

  .content-wrapper {
    padding: 40px;

    .source_header {
      margin-bottom: 25px;
      padding: 0;
      .source_title {
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        text-transform: none;
      }
    }

    .item-list {

      .item-group {
        margin: 25px 0;
        h3 {
          color: rgba($dark, .5);
          font-size: 16px;
          font-weight: 500;
        }

        ul {
          display: flex;
          margin-top: 10px;
          flex-grow: 1;
          flex-wrap: wrap;
          .item {
            display: inline-flex;
            align-items: center;
            width: calc(33.333% - 4px);
            min-height: 52px;
            margin: 2px;
            padding: 10px;
            justify-content: space-between;
            border: 1px solid #e6e6e6;
            border-radius: 6px;
            line-height: 1.1;
            cursor: pointer;
            .item__name {
              position: relative;
              display: inline-block;
              width: 100%;
              padding-right: 20px;
              color: rgba($black, .5);
              font-size: 14px;
              font-weight: 500;
              text-transform: uppercase;
              .checkbox {
                position: absolute;
                top: 0;
                right: 0;
                width: 12px;
                height: 12px;
                border: 1px solid rgba($dark, .5);
                border-radius: 3px;
                .icon-check {
                  display: none;
                  left: 0;
                  width: 0.6em;
                  fill: $white;
                }
              }
            }
            &.is-selected {
              border-color: $blue;
              background: $blue;
              .item__name {
                color: $white;
              }
              svg {
                fill: $white;
              }
              .checkbox {
                border-color: $white;
                .icon-check {
                  display: block;
                }
              }
            }
            .jurisdiction {
              text-transform: initial;
            }
            svg {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
              width: 18px;
              height: 18px;
              fill: #e6e6e6;
            }
          }
        }
      }
    }

    .row {
      text-align: center;
      button {
        margin-top: 20px;
      }
    }
  }
}
