.container-country__content-country {

  .content-country__report-indicators {
    clear: both;
    padding: 25px 0;
    background: $blue;
    text-align: center;
    h3{
      color: $white;
      font-size: 32px;
    }
    button {
      margin: 20px 0;
      color: $blue;
    }
  }
}

