.container-country__content-country {
  padding: 50px 0 0;
  background-color: $white;

  .more-indicators-warning {
    clear: both;
    padding: 25px 15px;
    background: $blue;
    text-align: center;

    h3{
      font-size: 32px;
      color: $white;
      font-weight: 300;
    }

    button {
      margin: 20px 0 0;
      color: $blue;
    }
  }
}

