<div class="piechart-graph">
  <h3>There where <span>{{this.total}}</span> of <span class="underline">carbon</span>, in {{this.country_name}}'s forests in 2000.</h3>
  <div class="pie-graph"></div>
</div>
