<div class="piechart-graph">
  <h3>
    There where <span>{{this.total}}</span> of <span class="select-text"><span class="section-name"></span><select class="section" name="section">{{#each this.sectionswitch}}<option value="{{this.unit}}">{{this.unitname}}</option>{{/each}}</select></span>, in {{this.country_name}}'s forests in 2000.
  </h3>
  <div class="pie-graph"></div>
</div>
