.m-report-pie-chart {
  width: 100%;
  margin-bottom: 40px;

  .chart {
    min-height: 250px;
    display: block;

    .arc {
      .path {
        stroke: #FFFFFF;
        stroke-width: 2;
      }
    }
  }

  .legend {
    width: 100%;
    margin-top: 10px;

    .content {
      .list {
        display: flex;
        margin: 0 30px;
        flex-wrap: wrap;

        .header {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 14px;
          color: $font-color-1;
          font-weight: 500;
          margin-bottom: 10px;
        }

        .item {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 14px;
          color: $font-color-1;
          padding: 7px 0 6px 0;
          border-bottom: 1px solid #E5E5DF;

          &:last-child {
            border-bottom: 0;
          }

          .label {
            display: flex;

            .icon {
              width: 12px;
              height: 12px;
              border-radius: 12px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
