$reference-color: #5B80A0;
$monitoring-color: #EDB04A;

.m-summary-chart {
  width: 100%;

  .years-selector {
    padding: 0 35px 0 75px;
    .noUi-target {
      margin: 0;
    }

    .noUi-base {
      .noUi-connect:nth-of-type(2) {
        background: $reference-color;
      }

      .noUi-connect:nth-of-type(4) {
        background: $monitoring-color;
      }
    }

  }

  .chart {
    width: 100%;
    height: 250px;
    display: block;
    max-width: 180mm !important;
    margin: 0 auto;

    .axis {
      &.y {
        .domain {
          shape-rendering: crispEdges;
        }

        .tick {
          text {
            fill: #555555;
            stroke-width: 0;
            font-size: 10px;
          }
        }
      }

      &.x {
        .domain {
          stroke-width: 0;
        }

        .tick {
          line {
            stroke-width: 0;
          }

          text {
            stroke-width: 0;
            fill: #555555;
            font-size: 10px;
            text-transform: uppercase;
          }
        }
      }
    }

    .line-group {
      .line-reference {
        stroke: $reference-color;
        fill: transparent;
        stroke-width: 3;
      }

      .line-monitoring {
        stroke: $monitoring-color;
        fill: transparent;
        stroke-width: 3;
      }
    }

    .dots-group {
      .dot {
        stroke: #FFFFFF;
        stroke-width: 1.5;

        &.reference {
          fill: $reference-color;
        }

        &.monitoring {
          fill: $monitoring-color;
        }
      }
    }

    .curstom-domain {
      stroke: #E5E5DF;
      stroke-width: 3;
      shape-rendering: crispEdges;
    }
  }

  .legend {
    width: 100%;
    margin-top: 30px;

    .content {
      min-width: 370px;
      max-width: 408px;
      margin: 0 auto;

      .list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;

        > .item {
          font-size: 14px;
          color: $font-color-1;
          display: flex;
          justify-content: center;
          align-items: center;

          > .icon {
            width: 12px;
            height: 12px;
            border-radius: 12px;
            margin-right: 7px;
            margin-bottom: 2px;
          }

          &.-reference {
            > .icon {
              background: $reference-color;
            }
          }

          &.-monitoring {
            > .icon {
              background: $monitoring-color;
            }
          }
        }
      }

      .table {
        width: 100%;
        border: 1px solid #E5E5DF;
        padding: 30px 40px;
        margin-top: 40px;

        .item {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          .label {
            width: 45%;
            margin-right: 10%;
            font-size: 14px;
            color: $font-color-1;
          }

          .value {
            font-size: 16px;
            color: $font-color-1;
            display: flex;
          }
        }
      }
    }
  }
}
