.m-year-selector {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .slider {
    height: 100px;
    margin: 15px;
    min-width: 150px;

    .label {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      padding-left: 10px;
    }

    &.reference {
      margin: 15px 30px 15px 15px;
      .label {
        color: #5B80A0;
      }
    }

    &.monitor {
      .label {
        color: #EDB04A;
      }

      .noUi-connect {
        background: #EDB04A;
      }
    }
  }
}
