<div class="insights-glad-alerts-tooltip">
  <div class="tooltip-content">
    <div class="data">
      <div class="thumbnail">
        <div class="image"></div>
      </div>

      <div class="detail">
        <div class="value">
          {{value}}
        </div>

        <div class="label">
          confirmed alerts
        </div>
      </div>
    </div>

    <div class="btn-map">
      <button class="btn gray">View on map</button>
    </div>
  </div>
</div>
