<div class="glad-vis">
  <div id="visMain" class="main-chart">
    <div class="selectors">
      <div class="action -selected">CO2 Emissions</div>
      <div class="action">Deforestation Area</div>
    </div>

    <div class="selectors -highlight">
      <div class="action -selected">Glad Alerts</div>
    </div>
    <div class="chart"></div>
    <div class="legend -main"></div>
  </div>

  <div class="compare-list">
    <div class="selectors">
      <div class="action -selected">CO2 Emissions</div>
      <div class="action">Deforestation Area</div>
    </div>

    <div class="selectors -highlight">
      <div class="action -selected">Glad Alerts</div>
    </div>

    <div class="visualizations">
      <div id="vis1" class="compare-chart">
        <div class="chart"></div>
        <div class="legend -compare"></div>
      </div>

      <div id="vis2" class="compare-chart">
        <div class="chart"></div>
        <div class="legend -compare"></div>
      </div>

      <div id="vis3" class="compare-chart">
        <div class="chart"></div>
        <div class="legend -compare"></div>
      </div>
    </div>
  </div>
</div>
