<div class="insights-glad-alerts-tooltip">
  <div class="tooltip-content">
    <div class="data">

      {{#if isDesforestation}}
        <div class="item">
          <div class="label">Deforestation to Date (ha)</div>
          <div class="value">{{deforestation}}</div>
        </div>
      {{else}}
        <div class="item">
          <div class="label">Cumulative Emissions to Date (MtCO<sub>2</sub>)</div>
          <div class="value">{{emissions}}</div>
        </div>
      {{/if}}
      
    </div>
  </div>
</div>
