<div class="glad-vis">
  <div id="visMain" class="main-chart">
    <div class="heading">
      <h3>Pantropical</h3>
    </div>
    <div class="selectors">
      <div class="action carbon-emissions -selected js-selector-main" data-filter="carbon_emissions">CO2 Emissions</div>
      <div class="action deforestation js-selector-main" data-filter="deforestation">Deforestation Area</div>
    </div>

    <div class="selectors -highlight">
      <div class="action -selected">Glad Alerts</div>
    </div>

    <div class="chart-container">
      <div class="chart"></div>
      <div class="timeline-button">
        <button class="icon play-icon js-timeline-button">
          <svg class="play"><use xlink:href="#icon-play"></use></svg>
        </button>
        <button class="icon pause-icon js-timeline-button">
          <svg class="pause"><use xlink:href="#icon-pause"></use></svg>
        </button>
      </div>
    </div>
    <div class="legend -main"></div>
  </div>

  <div class="compare-list">
    <div class="country-selectors">
      <div class="country">
        <h3>Brazil</h3>
      </div>

      <div class="country">
        <h3>Republic of Congo</h3>
      </div>

      <div class="country">
        <h3>Kalimantan</h3>
      </div>
    </div>

    <div class="selectors">
      <div class="action carbon-emissions -selected js-selector-compare" data-filter="carbon_emissions">CO2 Emissions</div>
      <div class="action deforestation js-selector-compare" data-filter="deforestation">Deforestation Area</div>
    </div>

    <div class="selectors -highlight">
      <div class="action -selected">Glad Alerts</div>
    </div>

    <div class="visualizations">
      <div id="vis1" class="compare-chart">
        <div class="chart"></div>
        <div class="legend -compare"></div>
      </div>

      <div id="vis2" class="compare-chart">
        <div class="chart"></div>
        <div class="legend -compare"></div>
      </div>

      <div id="vis3" class="compare-chart">
        <div class="chart"></div>
        <div class="legend -compare"></div>
      </div>
    </div>
  </div>
</div>
