<div class="l-header -narrow">
  <div class="inner insights-title">
    <h2 class="-width-margin">Monitor progress in near real-time</h2>
    <h3>Use weekly forest disturbance alerts to track forest loss and emissions against <br> the New York Declaration goal to halve the rate of natural forest loss globally by 2020.</h3>
  </div>
</div>

<div class="inner">
  <div class="insights">
    <div id="vis-glad">

      <div class="glad-vis">
        <div id="visMain" class="main-chart">
          <div class="heading">
            <div class="countries">
              <div class="country-selector">
                <div class="label js-country-label"></div>
                <select class="action js-country-selector">
                  {{#each locations}}
                    <option value="{{iso}}" data-iso="{{iso}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="filters">
              <div class="selectors main-vis-switch">
                <div class="action carbon-emissions -selected js-selector" data-filter="carbon_emissions">CO<sub>2</sub> Emissions</div>
                <div class="action deforestation js-selector" data-filter="deforestation">Area of Loss</div>
              </div>

              <div class="year-selector">
                <div class="action">
                  <div class="nav js-year-nav -js-year-nav-left" data-action="sub"><</div>
                  <select class="js-year-selector">
                    <option value="2015">2015</option>
                    <option value="2016" selected>2016</option>
                  </select>
                  <div class="nav js-year-nav -js-year-nav-right -disabled" data-action="add">></div>
                </div>
              </div>
            </div>

            <div class="nav-options">
              <div class="extra-selector">
                <div class="action -info">
                  <a class="btn-action source" href="#" data-source="source-insights-glad-alerts">
                    <svg>
                      <use xlink:href="#shape-info"></use>
                    </svg>
                  </a>
                </div>
                <div class="action -share js-share">
                  <svg>
                    <use xlink:href="#shape-share"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="visualization is-loading">
            <div class="chart-container">
              <div class="chart"></div>
            </div>

            <div class="legend-container">
              <div class="legend -main js-legend"></div>

              <div class="caveat">
                <div class="content">
                  <span class="is-bold-slim">Note</span>: Estimates are based on a conservative forest disturbance alert system meant to provide near real-time information. These are indicative only; the sum of alerts does not reflect or replace annual estimates of area or emissions.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
