---
http_interactions:
- request:
    method: get
    uri: https://wri-01.cartodb.com/api/v2/sql?q=%20%20%20%20%20%20SELECT%20values.indicator_id,%20values.cartodb_id%20AS%20cartodb_id,%20%20%20%20%20%20values.iso,%20values.sub_nat_id,%20values.boundary,%20values.boundary_id,%20%20%20%20%20%20values.thresh,%20values.admin0_name%20AS%20country,%20values.year,%20%20%20%20%20%20values.value,%20subnat.name_1%20AS%20province,%20%20%20%20%20%20boundaries.boundary_name,%20indicators.indicator_short%20AS%20indicator_name,%20%20%20%20%20%20indicators.value_units%20AS%20units%20%20%20%20%20%20FROM%20indicators_values%20AS%20values%20%20%20%20%20%20INNER%20JOIN%20indicators%20ON%20values.indicator_id%20=%20indicators.indicator_id%20%20%20%20%20%20LEFT%20JOIN%20gadm28_adm1%20AS%20subnat%20%20%20%20%20%20ON%20values.sub_nat_id%20%20=%20subnat.id_1%20AND%20values.iso%20=%20subnat.iso%20%20%20%20%20%20LEFT%20JOIN%20boundaries_table%20AS%20boundaries%20%20%20%20%20%20ON%20values.boundary_id%20=%20boundaries.cartodb_id%20%20%20%20%20%20WHERE%20values.iso%20=%20%27BRA%27%20%20%20%20%20%20%20%20AND%20indicators.indicator_id%20IN%20(1)AND%20values.boundary_id%20=%201AND%20values.sub_nat_id%20IS%20NULL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Thu, 15 Jun 2017 12:15:28
        GMT";
      Surrogate-Key:
      - t:0Qor5H t:JD7bcq t:d7vJOZ t:uiJFJp
      Last-Modified:
      - Wed, 07 Jun 2017 18:37:22 GMT
      X-Sqlapi-Profiler:
      - '{"setDBAuth":1,"queryExplain":9,"eventedQuery":1,"beforeSink":208,"total":219}'
    body:
      encoding: ASCII-8BIT
      string: '{"rows":[{"indicator_id":1,"cartodb_id":16623659,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":1,"country":"Brazil","year":2001,"value":2933279.43,"province":null,"boundary_name":"administrative
        boundary","indicator_name":"Tree cover loss","units":"hectares"},{"indicator_id":1,"cartodb_id":16623822,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":1,"country":"Brazil","year":2002,"value":3716128.13,"province":null,"boundary_name":"administrative
        boundary","indicator_name":"Tree cover loss","units":"hectares"},{"indicator_id":1,"cartodb_id":16623985,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":1,"country":"Brazil","year":2003,"value":3489399.29,"province":null,"boundary_name":"ad[...]
