---
http_interactions:
- request:
    method: get
    uri: https://wri-01.cartodb.com/api/v2/sql?q=%20%20%20%20%20%20SELECT%20values.indicator_id,%20values.cartodb_id%20AS%20cartodb_id,%20%20%20%20%20%20values.iso,%20values.sub_nat_id,%20values.boundary,%20values.boundary_id,%20%20%20%20%20%20values.thresh,%20values.admin0_name%20AS%20country,%20values.year,%20%20%20%20%20%20values.value,%20subnat.name_1%20AS%20province,%20%20%20%20%20%20boundaries.boundary_name,%20indicators.indicator_short%20AS%20indicator_name,%20%20%20%20%20%20indicators.value_units%20AS%20units%20%20%20%20%20%20FROM%20indicators_values%20AS%20values%20%20%20%20%20%20INNER%20JOIN%20indicators%20ON%20values.indicator_id%20=%20indicators.indicator_id%20%20%20%20%20%20LEFT%20JOIN%20gadm28_adm1%20AS%20subnat%20%20%20%20%20%20ON%20values.sub_nat_id%20%20=%20subnat.id_1%20AND%20values.iso%20=%20subnat.iso%20%20%20%20%20%20LEFT%20JOIN%20boundaries_table%20AS%20boundaries%20%20%20%20%20%20ON%20values.boundary_id%20=%20boundaries.cartodb_id%20%20%20%20%20%20WHERE%20values.iso%20=%20%27BRA%27%20%20%20%20%20%20%20%20AND%20indicators.indicator_id%20IN%20(1)AND%20thresh%20IN%20(25,30)AND%20values.boundary_id%20=%201AND%20values.sub_nat_id%20IS%20NULL%20%20%20%20%20%20%20%20AND%20values.year%20%3E=%202009%20%20%20%20%20%20%20%20AND%20values.year%20%3C=%202011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Tue, 20 Jun 2017 08:26:27
        GMT";
      Surrogate-Key:
      - t:0Qor5H t:JD7bcq t:d7vJOZ t:uiJFJp
      Last-Modified:
      - Wed, 07 Jun 2017 18:37:22 GMT
      X-Sqlapi-Profiler:
      - '{"setDBAuth":1,"queryExplain":8,"eventedQuery":1,"beforeSink":380,"total":390}'
    body:
      encoding: ASCII-8BIT
      string: '{"rows":[{"indicator_id":1,"cartodb_id":16634134,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":25,"country":"Brazil","year":2009,"value":1829956.19,"province":null,"boundary_name":"administrative
        boundary","indicator_name":"Tree cover loss","units":"hectares"},{"indicator_id":1,"cartodb_id":16634288,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":25,"country":"Brazil","year":2010,"value":2705582.1,"province":null,"boundary_name":"administrative
        boundary","indicator_name":"Tree cover loss","units":"hectares"},{"indicator_id":1,"cartodb_id":16634440,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":25,"country":"Brazil","year":2011,"value":1937607.8,"province":null,"boundary_name":"administrative
        boundary","indicator_name":"Tree cover loss","units":"hectares"},{"indicator_id":1,"cartodb_id":16636399,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":30,"country":"Brazil","year":2009,"value":1817901.23,"province":null,"boundary_name":"administrative
        boundary","indicator_name":"Tree cover loss","units":"hectares"},{"indicator_id":1,"cartodb_id":16636550,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":30,"country":"Brazil","year":2010,"value":2688896.17,"province":null,"boundary_name":"administrative
        boundary","indicator_name":"Tree cover loss","units":"hectares"},{"indicator_id":1,"cartodb_id":16636701,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":30,"country":"Brazil","year":2011,"value":1923363.69,"province":null,"boundary_name":"administrative
        boundary","indicator_name":"Tree cover loss","units":"hectares"}],"time":0.382,"fields":{"indicator_id":{"type":"number"},"cartodb_id":{"type":"number"},"iso":{"type":"string"},"sub_nat_id":{"type":"number"},"boundary":{"type":"string"},"boundary_id":{"type":"number"},"thresh":{"type":"number"},"country":{"type":"string"},"year":{"type":"number"},"value":{"type":"number"},"province":{"type":"string"},"boundary_name":{"type":"string"},"indicator_name":{"type":"string"},"units":{"type":"string"}},"total_rows":6}'
  recorded_at: Tue, 20 Jun 2017 08:26:22 GMT
recorded_with: VCR 3.0.3
