---
http_interactions:
- request:
    method: get
    uri: https://wri-01.cartodb.com/api/v2/sql?q=SELECT%20indicator_id,%20values.cartodb_id%20AS%20cartodb_id,%20values.iso,%20values.sub_nat_id,%20values.boundary,%20values.boundary_id,%20values.thresh,%20values.the_geom,%20values.the_geom_webmercator,%20values.admin0_name,%20values.year,%20values.value,%20values.text_value,%20subnat.name_1%20AS%20sub_nat_name,%20boundaries.boundary_name%20FROM%20indicators_values%20AS%20values%20LEFT%20JOIN%20gadm28_adm1%20AS%20subnat%20ON%20values.sub_nat_id%20=%20subnat.id_1%20AND%20values.iso%20=%20subnat.iso%20LEFT%20JOIN%20boundaries_table%20AS%20boundaries%20ON%20values.boundary_id%20=%20boundaries.cartodb_id%20WHERE%20indicator_id%20=%201%20AND%20(value%20IS%20NOT%20NULL%20OR%20text_value%20IS%20NOT%20NULL)%20AND%20thresh%20=%2025%20AND%20values.iso%20=%20UPPER(%27bra%27)%20AND%20values.sub_nat_id%20IS%20NULL%20AND%20values.boundary_id%20=%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Thu, 15 Jun 2017 08:46:41
        GMT";
      Surrogate-Key:
      - t:0Qor5H t:d7vJOZ t:uiJFJp
      Last-Modified:
      - Wed, 07 Jun 2017 18:37:22 GMT
      X-Sqlapi-Profiler:
      - '{"setDBAuth":1,"queryExplain":9,"eventedQuery":1,"beforeSink":426,"total":437}'
    body:
      encoding: ASCII-8BIT
      string: '{"rows":[{"indicator_id":1,"cartodb_id":16632905,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":25,"the_geom":null,"the_geom_webmercator":null,"admin0_name":"Brazil","year":2001,"value":2761617.79,"text_value":"null","sub_nat_name":null,"boundary_name":"administrative
        boundary"},{"indicator_id":1,"cartodb_id":16633063,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":25,"the_geom":null,"the_geom_webmercator":null,"admin0_name":"Brazil","year":2002,"value":3524428.39,"text_value":"null","sub_nat_name":null,"boundary_name":"administrative
        boundary"},{"indicator_id":1,"cartodb_id":16633220,"iso":"BRA","sub_nat_id":null,"boundary":"admin","boundary_id":1,"thresh":25,"the_geom":null,"the_geom_webmercator":nul[...]
[...]
