---
http_interactions:
- request:
    method: get
    uri: https://wri-01.cartodb.com/api/v2/sql?q=%20%20%20%20%20%20%20SELECT%20indicator_group,%20chart_type,%20description,%20indicator_id,%20value_units%20%20%20%20%20%20%20FROM%20indicators%20%20%20%20%20%20%20GROUP%20BY%20indicator_id,%20indicator_group,%20description,%20value_units,%20chart_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Thu, 09 Nov 2017 15:13:15
        GMT";
      Surrogate-Key:
      - t:JD7bcq
      Last-Modified:
      - Thu, 15 Dec 2016 17:23:30 GMT
      X-Sqlapi-Profiler:
      - '{"setDBAuth":1,"queryExplain":7,"beforeSink":2,"total":10}'
    body:
      encoding: ASCII-8BIT
      string: '{"rows":[{"indicator_group":"Stocks in 2000","chart_type":"pie","description":"Aboveground
        biomass stocks according to Woods Hole data at ({{threshold}}) in the year
        2000","indicator_id":4,"value_units":"Tg"},{"indicator_group":"Carbon Emissions","chart_type":"","description":"Aboveground
        biomass loss according to Woods Hole data at ({{threshold}}) in the year ({{year}})
        in units of Tg biomass","indicator_id":12,"value_units":"Tg biomass"},{"indicator_group":"Carbon
        Emissions","chart_type":"line","description":"Carbon loss from living biomass
        (above- and belowground) FAOSTAT in Tg C","indicator_id":29,"value_units":"TgC"},{"indicator_group":"Carbon
        Emissi[...]
