.lineChart {
  // .area,
  // .line {
  //   clip-path: url(#clip);
  // }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .line {
    fill: none;
    stroke: $color-1;
    stroke-width: 3px;
  }

  .area {
    fill: #61BED4;
  }

  .axis line {
    stroke: #E5E5DF;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: #333;
    font-weight: bold;
    font-size: 11px;
  }

  .axis path {
    stroke: #E5E5DF;
    stroke-width: 3px;
    fill: none;
  }

  .axis.y path {
    visibility: hidden;
  }

  .axis2 path {
    visibility: hidden;
  }

  .axis2 line {
    fill: none;
    stroke: #E5E5DF;
    shape-rendering: crispEdges;
  }

  .axis2 text {
    fill: #333;
    font-size: 10px;
  }

  //Horizontal lines
  .axis.y line {
    fill :none;
    stroke: none;
  }

  .axis.x .tick line {
    visibility: hidden;
  }

  .brush .extent {
    fill: #333;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

  .resize rect {
    visibility: visible !important;
    fill: #333;
  }

  .context .background {
    fill: #3DAFCB;
  }

  .hoverOverlay circle {
    fill: $color-1;
    stroke: white;
    stroke-width: 2px;
    pointer-events: none;
  }

  .hoverOverlay line {
    stroke: white;
    stroke-width: 1px;
    pointer-events: none;
  }
}
