.m-fixed-header {
  width: 100%;
  z-index: 1000;
  transition: .2s all ease;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  position: fixed;

  &.is-fixed {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  &.is-bottom {
    transform: translate(0, -100%);
  }

  .fixed-wrap{
    max-width: 1600px;
    margin: 0 auto;
    background: $extra-light-grey;
    overflow: hidden;
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 15px;
    li {
      width: 47.5%;
      padding: 10px 0;
      text-transform: uppercase;
    }

    &.-country {
      display: inline-block;
      height: 36px;

      transform: translate(0, 0);
      transition: .2s all ease;
      li {
        float: left;
        width: 100%;
      }
    }
  }
}

