.m-grid-button-box {
  float: right;

  @media only screen and (max-width: $br-mobile) {
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    padding-right: 10px;
  }
}
