.m-toolbar {
  display: inline-block;
  width: 100%;
  .options {
    display: inline-flex;
    align-items: center;
    float: right;
    .options_item {
      float: left;
      padding: 0 20px;

      svg {
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        fill: $dark;
      }

      button {
        padding: 0;
        background: none;
        border: 0;
        font-family: inherit;
        cursor: pointer;
      }
      a, button {
        margin-left: 5px;
        font-size: 14px;
        color: $dark;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}
