$l-padding: 50px;

.l-header {
  padding-top: 70px;
  background-color: $dark-grey;
  
  @media screen and (min-width: $br-mobile) {
    padding: 70px 0 25px;
  }
}

.l-toolbar {
  display: none;
  padding: 10px 0;
  background-color: $extra-light-grey;
  
  @media screen and (min-width: $br-mobile) {
    //We dont have design for this.. so for the moment...
    display: block;
  }
}

.l-main-content-wrap {
  position: relative;
}

.l-main-content {
  padding: $l-padding 0;
}

.l-compare {
}

.l-compare-selectors {
  padding: 40px 20px;

  @media screen and (min-width: $br-mobile) {
    display: flex;
    justify-content: space-between;
    
    margin: 40px 0;
  }
}

.l-aside-content {
  padding: $l-padding 0;
  background-color: $color-1;
  text-align: center;
}

.l-cutpoint {
  height: 1px;
}

.l-compare-switcher {
  //To avoid white space due to l-cutpoint.
  position: relative;
  top: -1px;
  
  padding: 8px 20px;
  background-color: #404040;
  
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}
