// COMPARE MODAL HEADER
.m-compare-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2;
  @include clearfix();
  // GRADIENTS
  .gradient {
    content: "";
    position: absolute;
    height: 15px;
    width: 100%;
    left: 0;
    top: 100%;
    @include gradient(top,rgba(255,255,255,1),rgba(255,255,255,0));
  }

  ul{
    margin: 15px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    float: left;
    padding: 4px;
    display: flex;
    justify-content: center;
    border: 1px solid $font-color-3;
    border-radius: 45px;

    li{
      font-size: 19px;
      padding: 10px 20px 7px;
      color: $dark;
      cursor: pointer;
      font-weight: 500;
      border-radius: 40px;
      &:hover {
        background: darken($white,1%);
      }
      &.is-active {
        color: $white;
        background: $font-color-3;
      }
    }
  }
}

// COMPARE MODAL FOOTER
.m-compare-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2;
  padding: 15px 0;
  @include clearfix();
  // GRADIENTS
  .gradient {
    content: "";
    position: absolute;
    height: 15px;
    width: 100%;
    left: 0;
    bottom: 100%;
    border-bottom: 1px solid $border;
    @include gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));
  }

}


// COMPARE MODAL CONTENT
.m-compare-modal {
  // Tabs header

  // Content header
  .m-modal--tabscontent {

  }

  .m-modal--tab {
    padding: 90px 40px 76px;
    display: none;
    &.is-active {
      display: block;
    }
  }

  .m-field {
    margin: 20px 0 0;
    &:first-child{
      margin: 0;
    }
    &.m-select {
      width: 32.7%
    }
    h3 {
      font-weight: 500;
      color: $font-color-3;
      font-size: 19px;
    }
  }

  .m-field-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -0.5%;

    .m-field-list-item {
      position: relative;
      width: 32.333333333%;
      margin: 0.5%;
      padding: 16px;
      padding-right: 32px;
      font-size: 14px;
      color: $dark;
      border: 1px solid $border;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;

      &:before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0,-50%);
        width: 12px;
        height: 12px;
        border: 1px solid $border;
      }

      &.is-checkbox {
        svg{
          display: block;
          position: absolute;
          top: 50%;
          right: 11px;
          transform: translate(0,-50%);
          width: 10px;
          height: 10px;
          display: none;
          fill: $white;
        }
      }
      &.is-radio {
        &:before{
          border-radius: 50%;
        }
      }
      &.is-active {
        color: $white;
        background: $font-color-3;
        &:before {
          border: 1px solid $white;
        }
        &.is-checkbox {
          svg {
            display: block;
          }
        }
        &.is-radio {
          &:before {
            box-shadow: 0 0 0 2px $font-color-3 inset, 0 0 0 12px $white inset;
          }
        }
      }
    }
  }

  // Only shown when you haven't selected any country.
  .m-alert {
    text-align: center;
    padding: 50px 0 0;
    font-size: 32px;
    color: $dark;
    span{
      color: $font-color-3;
    }
  }
}

