.m-compare-selector {
  position: relative;
  width: 47.5%;
  min-height: 280px;

  padding: 20px;
  border: 1px solid rgba($font-color-2,0.3);
  border-radius: 10px;
  background-color: $dark-grey;

  cursor: pointer;

  &:hover {
    background-color: lighten($dark-grey, 5%);
  }

  .m-compare-selector-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $white;
    font-size: 32px;
  }
}


