.m-section-header {
  h1 {
    color: $font-color-2;
    font-size: 47px;
  }

  p {
    font-size: 19px;
    font-weight: 400;
    color: $font-color-2;
    opacity: .5;
    margin: 15px 0 0;
  }
}

