.footer-share-container
  .footer-share
    p
      | Spread the word.
      strong  Share Global Forest Watch.
    .share_buttons
      .fb-root
      a.twitter-share-button(href="http://twitter.com/share" target="_blank" data-url="http://www.globalforestwatch.org/" data-text="Global Forest Watch") Tweet
      .g-plusone(data-size="medium" data-href="http://www.globalforestwatch.org/")
      .fb-like(data-href="http://www.globalforestwatch.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false")
  .footer-share.keep-updated
    p
      | Sign up to
      strong  receive updates
    p
      a(href="http://www.wri.org/global-forest-watch-stay-informed" title="Receive Global Forest Watch updates" target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Subscribe');")
        svg
          use(xlink:href="#shape-mail")
      a(href="https://twitter.com/globalforests" title="Follow @globalforests"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Twitter');")
        svg
          use(xlink:href="#shape-twitter")
      a(href="http://instagram.com/globalforests" title="Follow @globalforests Instagram"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Instagram');")
        svg
          use(xlink:href="#shape-instagram")
#footerGFW
/ footer#footerView.layout-footer
/   .apps-footer.mobile-hide
/     .inner
/       ul
/         li
/           a.world (href="http://www.globalforestwatch.org/map")
/             svg
/               use (xlink:href="#shape-world")
/             h3 GFW Interactive Map
/         li
/           a.shape-country (href="http://www.globalforestwatch.org/countries")
/             svg
/               use (xlink:href="#shape-country")
/             h3 Country profiles & rankings
/         li
/           a.fire.mobile-friendly (href="http://fires.globalforestwatch.org/")
/             svg
/               use (xlink:href="#shape-fire")
/             h3 Fires
/         li
/           a.commodities.mobile-friendly (href="http://commodities.globalforestwatch.org/")
/             svg
/               use (xlink:href="#shape-commodities")
/             h3 Commodities
/         li
/           a.develop (href="http://www.globalforestwatch.org/getinvolved/develop-your-own-app")
/             svg
/               use (xlink:href="#shape-develop")
/             h3 Develop your own app
/         li
/           a.data.mobile-friendly (href="http://data.globalforestwatch.org/")
/             svg
/               use xlink:href="#shape-download">
/             h3 Download data
/         li
/           a (href="http://blog.globalforestwatch.org/")
/             svg
/               use (xlink:href="#shape-blog")
/             h3 Blog
/         li
/           a.soon (href="http://www.globalforestwatch.org/explore#coming-soon")
/             svg
/               use (xlink:href="#shape-soon")
/             h3 Coming soon
/   .site-map.mobile-hide
/     #siteMap.inner
/       #footerMenu.mobile-menu
/         .row
/           .col
/             h3
/               a (href="http://www.globalforestwatch.org/explore") Explore
/             ul
/               li
/                 a (href="http://www.globalforestwatch.org/map") GFW Interactive Map
/               li
/                 a (href="http://www.globalforestwatch.org/countries") Country Profiles & Rankings
/               li
/                 a.mobile-friendly (href="http://commodities.globalforestwatch.org/")Commodities
/               li
/                 a.mobile-friendly (href="http://fires.globalforestwatch.org/") Fires
/               li
/                 a (href="http://www.globalforestwatch.org/explore/applications") All applications
/               li
/                 a.mobile-friendly (href="http://data.globalforestwatch.org/") Download Data
/           .col
/             h3
/               a (href="http://www.globalforestwatch.org/stayinformed") Stay informed
/             ul
/               li
/                 a (href="http://blog.globalforestwatch.org/") Blog
/               li
/                 a (href="http://www.globalforestwatch.org/stayinformed/crowdsourced-stories") Crowdsourced stories
/               li
/                 a (href="http://www.wri.org/global-forest-watch-stay-informed" target="_blank") Newsletter
/               li
/                 a (href="http://www.globalforestwatch.org/stayinformed/publications") Publications
/           .col
/             h3
/               a (href="http://www.globalforestwatch.org/getinvolved") GET INVOLVED
/             ul
/               li
/                 a (href="http://www.globalforestwatch.org/getinvolved/develop-your-own-app") Develop your own app
/               li
/                 a (href="http://www.globalforestwatch.org/stories/new") Submit a story
/               li
/                 a (href="http://www.globalforestwatch.org/getinvolved/share-data") Share data
/               li
/                 a (href="http://www.globalforestwatch.org/getinvolved/help-improve-data") Help improve data
/               li
/                 a (href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank") Join the discussion
/               li
/                 a (href="http://www.globalforestwatch.org/getinvolved/apply-to-the-small-grants-fund") Apply to the Small Grants Fund
/               li
/                 a (href="http://www.globalforestwatch.org/getinvolved/provide-feedback" target="_blank") Provide feedback
/               li
/                 a (href="http://www.globalforestwatch.org/getinvolved/help-improve-translations") Help improve translations
/           .col
/             h3
/               a (href="http://www.globalforestwatch.org/howto") How to
/             ul.submenu
/               li
/                 a (href="http://www.globalforestwatch.org/howto/view-data") Visualize data
/               li
/                 a (href="http://www.globalforestwatch.org/howto/view-statistics") View statistics
/               li
/                 a (href="http://www.globalforestwatch.org/howto/analyze-forest-change") Analyze forest change
/               li
/                 a (href="http://www.globalforestwatch.org/howto/subscribe-to-alerts-and-user-stories") Subscribe to alerts and user stories
/               li
/                 a (href="http://www.globalforestwatch.org/howto/submit-a-story") Submit a story
/               li
/                 a (href="http://www.globalforestwatch.org/howto/odp") Open Data Portal
/               li
/                 a (href="/about?page=faq") FAQs
/           .col
/             h3
/               a (href="http://www.globalforestwatch.org/about") About
/             ul
/               li
/                 a (href="http://www.globalforestwatch.org/about/about-gfw") About GFW
/               li
/                 a (href="http://www.globalforestwatch.org/about/the-gfw-partnership") The GFW partnership
/               li
/                 a (href="http://www.globalforestwatch.org/about/videos") Videos
/               li
/                 a (href="http://www.globalforestwatch.org/about/awards_and_testimonials") Awards & testimonials
/               li
/                 a (href="http://www.globalforestwatch.org/about/data_policy") Data policy
/               li
/                 a (href="http://www.globalforestwatch.org/about/contact-us") Contact us
/   .partner-box
/     .inner
/       h4 A partnership convened by
/       .row
/         a.wri-logo (href="http://www.wri.org/" target="_blank")
/         p.address
/           strong Global Forest Watch
/           span 10 G Street NE Suite 800, Washington, DC 20002, USA
/           span
/             | Phone
/             a<> (href="tel:+1 (202) 729-7600") +1 (202) 729-7600
/             | Fax:
/             a< (href="tel:+1 (202) 720 7610") +1 (202) 720 7610
/   .footer-logos-btn
/     .inner
/       a.btn.gray (href="/about/the-gfw-partnership") View all partners
/   .footer-logos
/     .inner
/       #footer-logos.logo-list.logo-ul
/         li
/           a.afc (target='_blank' title="Agence française de développement international" href='http://www.afd.fr/home')
/         li
/           a.airbus (target='_blank' title="Airbus" href='http://airbusdefenceandspace.com/')
/         li
/           a.bnpb (target='_blank' title="Badan Nasional Penanggulangan Bencana" href='http://bnpb.go.id/')
/         li
/           a.footer-logo.bei (target="_blank" href="http://www.cisl.cam.ac.uk/banking")
/         li
/           a.footer-logo.blueraster (target="_blank" href="http://blueraster.com/")
/         li
/           a.footer-logo.cambridge (target="_blank" href="http://www.cisl.cam.ac.uk/")
/         li
/           a.footer-logo.cartodb (target="_blank" href="http://cartodb.com/")
/         li
/           a.footer-logo.cfgd (target="_blank" href="http://www.cgdev.org/")
/         li
/           a.footer-logo.cgiar (target="_blank" href="http://foreststreesagroforestry.org/")
/         li
/           a.footer-logo.ciat (target="_blank" href='http://ciat.cgiar.org/')
/         li
/           a.clua (target='_blank' title="Climate and Land Use Alliance" href='http://www.climateandlandusealliance.org/')
/         li
/           a.digitalglobe (target="_blank" href='https://www.digitalglobe.com/')
/         li
/           a.footer-logo.esri (target="_blank" href="http://www.esri.com/gfw")
/         li
/           afooter-logo.ejn (target="_blank" href='http://earthjournalism.net/')
/         li
/           a.footer-logo.ewmi (target="_blank" href='http://ewmi.org/')
/         li
/           a.footer-logo.gef (target="_blank" href="http://www.thegef.org/gef/")
/         li
/           a.footer-logo.gfwca (target="_blank" href="http://globalforestwatch.ca/")
/         li
/           a.footer-logo.google (target="_blank" href="http://earthengine.google.org/")
/         li
/           a.footer-logo.imazon (target="_blank" href="http://www.imazon.org.br/pagina-inicial-en?set_language=en&amp;cl=en")
/         li
/           a.footer-logo.inab (target="_blank" href='http://www.inab.gob.gt/')
/         li
/           a.footer-logo.ioi (target="_blank" href='http://europe.croklaan.com/taking-responsibility')
/         li
/           a.footer-logo.goodall (target="_blank" href="http://www.janegoodall.org/")
/         li
/           a.ministiere (target='_blank' title="Le Ministère des Forêts et de la Faune" href='http://www.minfof.cm/')
/         li
/           a.mongabay (target='_blank' title="Mongabay" href='http://www.mongabay.com/')
/         li
/           a.footer-logo.moore (target="_blank" href="http://www.moore.org/")
/         li
/           a.muyissi (target='_blank' title="ONG Muyissi" href='http://www.ongmuyissi.org/')
/         li
/           a.footer-logo.norwegian (target="_blank" href="https://www.regjeringen.no/en/topics/climate-and-environment/climate/klima--og-skogprosjektet/id2000712/")
/         li
/           a.footer-logo.opendevcam (target="_blank" href='http://www.opendevelopmentcambodia.net/')
/         li
/           a.footer-logo.orbital (target="_blank" href='http://orbitalinsight.com/')
/         li
/           a.footer-logo.osfac (target="_blank" href="http://osfac.net/index.php?lang=en")
/         li
/           a.footer-logo.osinfor (target="_blank" href='http://www.osinfor.gob.pe/portal/index.php')
/         li
/           a.footer-logo.rfuk (target="_blank" href='http://www.rainforestfoundationuk.org/')
/         li
/           a.footer-logo.raisg (target="_blank" href='http://raisg.socioambiental.org/')
/         li
/           a.footer-logo.redd (target="_blank" href='http://www.redd-indonesia.org/')
/         li
/           a.footer-logo.rm (target="_blank" href='http://www.reforestamosmexico.org/')
/         li
/           a.footer-logo.resolve (target="_blank" href='http://www.resolv.org/site-BiodiversityWildlifeSolutions/')
/         li
/           a.rspo (target='_blank' title="RSPO" href='http://www.rspo.org/')
/         li
/           a.footer-logo.scanex (target="_blank" href="http://www.scanex.ru/en/")
/         li
/           a.footer-logo.tilia (target="_blank" href="http://www.tiliafund.org/")
/         li
/           a.footer-logo.twrus (target="_blank" href="http://www.transparentworld.ru/ru/")
/         li
/           a.footer-logo.ukaid (target="_blank" href="http://www.gov.uk/government/organisations/department-for-international-development")
/         li
/           a.footer-logo.unep (target="_blank" href="http://www.unep.org/")
/         li
/           a.unepwcmc (target='_blank' title="UNEP-WCMC" href='http://www.unep-wcmc.org/')
/         li
/           a.footer-logo.unilever (target="_blank" href='http://www.unilever.com/')
/         li
/           a.footer-logo.universitymaryland (target="_blank" href="http://www.geog.umd.edu/")
/         li
/           a.footer-logo.usaid (target="_blank" href="http://www.usaid.gov/")
/         li
/           a.footer-logo.vizzuality (target="_blank" href="http://vizzuality.com/")
/         li
/           a.whrc (target='_blank' title="Woods Hole Research Center" href='http://www.whrc.org/')
/         li
/           a.zeroextinction (target='_blank' title="Alliance for Zero Extinction" href='http://www.zeroextinction.org/')
/         li
/           a.footer-logo.zsl (target="_blank" href='http://www.zsl.org/')

/   .terms
/     a< (href="http://www.globalforestwatch.org/terms") Terms of Service ·
/     a< (href="http://stats.pingdom.com/me0q72oj01nt" target="_blank")  Global Forest Watch System Status ·
/     a< (href="mailto:gfw@wri.org") Contact us

/ TERMS DIALOG
#sources.hidden
  article#mobile-friendly
    .terms-modal
      h2.source_title Warning
      .source_body
      p The page you're trying to access is not mobile optimized
      p
        a.btn.green.uppercase.set-link Continue


