- if Rails.env.production?
  script src="http://gfw-assets.s3.amazonaws.com/static/gfw-assets.latest.js" id="loader-gfw" data-current=".shape-climate"
- else
  script src="http://gfw-assets.s3.amazonaws.com/static/gfw-assets.nightly.js" id="loader-gfw" data-current=".shape-climate"
