
<h1><a href="/">Global Forest Watch</a></h1>
<nav id="nav-mobile">
  <form class="mobile-show" action="/search">
    <svg class="icon"><use xlink:href="#shape-search"></use></svg>
    <input type="text" name="query" id="search-input" placeholder="Search GFW website">
  </form>
  <div id="google_translate_element_box2"></div>
  <div id="mobileMenu"></div>
  <ul class="mobile-hide">
    <li>
      <a <% if controller?("map") && action?("index") %>class="current"<% end %> href="/map">Map</a>
    </li>
    <li>
      <a <% if controller?("countries") && action?("index") %>class="current"<% end %> href="/countries">Country profiles</a>
    </li>
    <li>
      <a <% if controller?("compare") && action?("index") %>class="current"<% end %> href="/compare-countries">Compare countries</a>
    </li>
    <li>
      <!-- <a <% if controller?("posts") && action?("index") %>class="current"<% end %> href="<%= posts_path %>">Blog</a> -->
      <a <% if controller?("posts") && action?("index") %>class="current"<% end %> href="#">Blog</a>
    </li>
    <li>
      <a <% if controller?("static") && action?("data_methods") %>class="current"<% end %> href="#">Data & Methods</a>
      <ul class="submenu">
        <li><a href="http://data.globalforestwatch.org/">Open Data Portal</a></li>
        <li><a href="#">Definitions page</a></li>
        <li><a href="#">FAQs page</a></li>
        <li><a href="#">Technical Notes and Publications</a></li>
      </ul>
    </li>
    <li>
      <a <% if controller?("static") && action?("about") %>class="current"<% end %> href="#">About</a>
      <ul class="submenu">
        <li><a href="#">About GFW Climate</a></li>
        <li><a href="#">Data providers and partners</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Stay informed</a></li>
      </ul>
    </li>
  </ul>
</nav>
<% if content_for?(:header) %>
  <%= yield :header %>
<% end %>

