<div style="display:none;">

  <li id='source-widget-1' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Deforestation rate</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>There is currently no scientific consensus on a global dataset for deforestation rates, and in many cases this lack of consensus extends to the national level.  We include multiple data sources on GFW Climate in the hopes of fostering transparency and understanding of data differences.</p>
        <h3>Gross tree cover loss</h3>
        <p>Estimates are based on Hansen et al. (2013) and subsequent annual updates available on Global Forest Watch. Hansen et al. use Landsat satellite imagery at 30 meter pixel resolution to measure the magnitude of annual tree cover loss, counting all tree cover or forest area lost without regard to regeneration or reforestation of natural forest. Tree cover is a proxy for forest cover, defined as all vegetation five meters or taller. On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and gross tree cover loss estimates will update accordingly to reflect the new forest definition.</p>
        <h3>Net forest conversion</h3>
        <p>Estimates are based on FAO’s Forest Resources Assessment 2015, which compiles country-level data on forest area that are self-reported by countries every five years using their own inventories, surveys and maps. Forests are defined based on national land use classifications, with a minimum threshold of 0.5 ha land area, trees over 5 meters and a 10% minimum canopy cover. Figures for net forest conversion are reported by subtracting the total natural forest cover reported for one reporting period from the previous reporting period. <strong>Whereas gross forest loss treats the loss term as categorically distinct from regeneration, net forest loss conflates the two.</strong> A summary of source data used by countries in FAO reporting can be found (here).</p>
        <h3>Other national deforestation data</h3>
        <p>Gross deforestation estimates for Brazil are from the System of Greenhouse Gas Emissions Estimates (SEEG), and estimates for the Amazon biome are consistent with INPE’s annual deforestation monitoring. Data for other countries reflect gross deforestation rates included in country <a href="http://redd.unfccc.int/submissions.html?topic=6" target="_blank">Forest Reference Emission Level</a> submissions to the UNFCCC.</p>

        <p>####### TABLE #######</p>

        <p class='credits'><strong>Citation:</strong> Hansen, M.C., P.V. Potapov, R. Moore, M. Hancher, S.A. Turubanova, A. Tyukavina, D. Thau, S.V. Stehman, S.J. Goetz, T.R. Loveland, A. Kommareddy, A. Egorov, L. Chini, C.O. Justice and J.R.G. Townshend. 2013. High-Resoltuion Global Maps of 21st-Century Forest Cover Change. Science 342: 850-853.</p>
        <p class="credits">Data available online from: <a href="http://earthenginepartners.appspot.com/science-2013-global-forest" target="_blank">http://earthenginepartners.appspot.com/science-2013-global-forest</a></p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-2' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Carbon Emissions</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Carbon emissions from deforestation reflect the carbon dioxide emitted to the atmosphere as a result of forest biomass clearing, and country level estimates are commonly expressed in units of carbon (Tg) or carbon dioxide (Mt CO2). For tropical forested countries, most emission estimates are derived using IPCC Guidelines for (Tier 1 accounting) by multiplying an estimate of the area of deforestation by an estimate of the biomass carbon of the deforested area, and these are assumed to be “committed” emissions to the atmosphere. Carbon sequestration from growing vegetation after clearing is generally excluded from large-scale carbon assessments; this requires additional information on the fate of the cleared land, which is often lacking. Emissions from tropical organic (peat) soils in Southeast Asia are also either excluded or reported separately; estimates are available on GFW Climate as separate indicators.</p>
        <h3>Carbon emissions from gross tree cover loss</h3>
        <p>Estimates are based on the co-location of aboveground biomass carbon density values for the year 2000 with annual tree cover loss data from 2001 through 2014 at 30 m spatial resolution. Emissions associated with other carbon pools such as belowground biomass and soil carbon are excluded. Loss of biomass, like loss of tree cover, may occur for many reasons, including deforestation, fire, and logging within the course of sustainable forestry operations. For DRC, Indonesia and Malaysia, emissions are further disaggregated to approximate those from deforestation consistent with Zarin et al. (2015). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and carbon emission estimates will update accordingly to reflect the new forest definition.</p>
        <h3>Carbon emissions from net forest conversion</h3>
        <p>Estimates are based on national estimates of net forest conversion and biomass carbon stock density, as reported by countries every five years to FAO’s Forest Resources Assessment (FRA) using their own inventories, surveys, and maps. Estimates of net forest conversion are used as a proxy for deforestation (Federici et al. 2015), and estimates of woody biomass carbon stock density are in most cases derived from the use of conversion factors to estimate total living biomass stocks from nationally reported wood volumes. A summary of source data used by countries in FAO reporting on forest biomass can be found (here). FRA data do not allow for quantification of gross area changes.</p>
        <h3>Carbon emissions from other national deforestation data</h3>
        <p>Carbon emission estimates for Brazil are from the System of Greenhouse Gas Emissions Estimates (SEEG). Data for other countries reflect annual carbon emission estimates included in country (Forest Reference Emission Level) submissions to the UNFCCC.</p>

        <p>####### TABLE #######</p>

        <p class='credits'><strong>Citations:</strong> Zarin, D., Harris, N.L., et al. 2015. Can carbon emissions from tropical deforestation drop by 50% in five years? Global Change Biology, in press.</p>
        <p class="credits">Federici, S., F.N. Tubiello, M. Salvatore, H. Jacobs, J. Schmidhuber. 2015. New estimates of CO2 forest emissions and removals: 1990-2015. Forest Ecology and Management 352: 89-98.</p>
        <p class="credits">UNFCCC, 2015. Forest Reference Emission Level submissions available at: <a href="http://redd.unfccc.int/submissions.html?topic=6" target="_blank">http://redd.unfccc.int/submissions.html?topic=6</a></p>
        <p class="credits">RADAMBRASIL, 1981. Projeto Radambrasil, Levantamento de Recursos Naturais, Ministerio de Minas e Energia, Secretaria Geral, Projeto RADAMBRASIL, Rio de Janeiro, Brasil </p>
        <p class="credits">SEEG, 2014. Sistema de Estimativa de Emissão de Gases de Efeito Estufa. <a href="http://seeg.eco.br/seeg-2014-engl/" target="_blank">http://seeg.eco.br/seeg-2014-engl/</a></p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-3' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Forest Area 2000</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>The definition of the word “forest” differs from region to region and country to country based on different objectives such as management, land use, vegetation type, composition, and altitude. As such, there are over 800 definitions worldwide (Lund 2002). Here, we present two global sources of forest area data for the tropical countries included on GFW Climate.</p>
        <h3>Tree cover for the year 2000</h3>
        <p>“Percent tree cover” is defined as the density of tree canopy coverage of the land surface within a 30 m (0.09 ha) pixel. Data were generated using multispectral satellite imagery from the Landsat 7 thematic mapper plus (ETM+) sensor. The clear surface observations from over 600,000 images were analyzed using Google Earth Engine, a cloud platform for earth observation and data analysis, to determine per pixel tree cover using a supervised learning algorithm. 30 x 30 meter pixels were aggregated to estimate the area of tree cover at the relevant scale of analysis (national, subnational, etc.). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30% and the area of tree cover will update accordingly to reflect the new forest definition.</p>
        <h3>Forest area for the year 2000</h3>
        <p>National forest area statistics for the year 2000 are reported by countries to the Food and Agriculture Organization every as part of . Forests are defined based on national land use classifications, with a minimum threshold of 0.5 ha land area, trees over 5 meters and a 10% minimum canopy cover. A summary of source data used by countries in FAO reporting on forest area can be found (here).</p>

        <p>####### TABLE #######</p>

        <p class='credits'><strong>Citations:</strong> Hansen, M.C., P.V. Potapov, R. Moore, M. Hancher, S.A. Turubanova, A. Tyukavina, D. Thau, S.V.</p>
        <p class="credits">Stehman, S.J. Goetz, T.R. Loveland, A. Kommareddy, A. Egorov, L. Chini, C.O. Justice and J.R.G. </p>
        <p class="credits">Townshend. 2013. High-Resoltuion Global Maps of 21st-Century Forest Cover Change. Science 342: 850-853. Data available online from: <a href="http://earthenginepartners.appspot.com/science-2013-global-forest" target="_blank">http://earthenginepartners.appspot.com/science-2013-global-forest</a></p>
        <p class="credits">FAO-FRA, “Global Forest Resources Assessment 2015” <a href="http://www.fao.org/3/a-i4793e.pdf" target="_blank">http://www.fao.org/3/a-i4793e.pdf</a></p>
        <p class="credits">Lund, H.G. 2002. When is a forest not a forest? Journal of Forestry 100, 21-28.</p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-4' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Biomass Carbon Stocks in the year 2000</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Average biomass carbon density values, as estimated from forest inventories and/or spatially-explicit mapping products, are used to estimate total biomass carbon stocks within an area of interest by multiplying density values by the forest area under consideration at the relevant scale of analysis (national, subnational, or within specific areas of interest).</p>
        <h3>WHRC/WRI</h3>
        <p>The biomass density maps on GFW Climate were produced at 30 x 30 m spatial resolution and are representative of the year 2000. Values for each pixel refer to the average woody biomass of forests within the pixel, and can be used directly to estimate the total biomass carbon stock within the pixel. Pixels are then aggregated to estimate total biomass carbon stocks at the relevant scale of analysis (national, subnational, or within specific areas of interest). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and biomass carbon stock estimates will update accordingly to reflect the new forest definition.</p>
        <h3>FAO</h3>
        <p>Estimates of above- and belowground biomass carbon stocks in the year 2000 are based on FAO’s Forest Resource Assessment 2015, which compiles country-level data that are self-reported by countries every five years using their own inventories, surveys and maps. Source data on biomass estimates from FAO country reports are summarized (here).</p>

        <p class='credits'><strong>Citations:</strong> Zarin, D., Harris, N.L., et al. 2015. Can carbon emissions from tropical deforestation drop by 50% in five years? Global Change Biology, in press.</p>
        <p class="credits">FAO-FRA, “Global Forest Resources Assessment 2015” <a href="http://www.fao.org/3/a-i4793e.pdf" target="_blank">http://www.fao.org/3/a-i4793e.pdf</a></p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-5' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Biomass Carbon Density in the year 2000</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Biomass carbon density represents the average carbon content of all living plant biomass per unit land area, both above the soil - including stem, stump, branches, bark, seeds and foliage - and below the soil in live roots. A number of different methodological approaches yield estimates of biomass carbon density. At the most fundamental level, all of these rely on the collection of reliable data within inventory plots on the ground, where typically the diameter at breast height (DBH) of individual trees are measured by field technicians and converted to tree biomass estimates using allometric equations. Due to methodological difficulties associated with measuring root biomass, applying a default root : shoot ratio is a core method for estimating belowground (root) biomass from the more easily measured aboveground biomass. Biomass of the forest understory is generally excluded from the aboveground biomass estimates in broadscale carbon accounting</p>
        <h3>WHRC</h3>
        <p>Estimates are derived from a 30 m resolution map of aboveground woody biomass density across the tropics, developed by Woods Hole Research Center using a combination of ground measurements, GLAS LiDAR waveform metrics and Landsat 7 ETM+ satellite imagery and products, elevation and other biophysical variables. Belowground biomass is calculated from aboveground biomass using equation from Mokany et al. On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and biomass carbon density estimates will update accordingly to reflect the new forest definition.</p>
        <h3>FAO</h3>
        <p>Estimates of above- and belowground biomass carbon density in the year 2000 are based on FAO’s Forest Resource Assessment 2015, which compiles country-level data that are self-reported by countries every five years using their own inventories, surveys and maps. Source data on biomass estimates from FAO country reports are summarized (here).</p>

        <p class='credits'><strong>Citations:</strong> Zarin, D., Harris, N.L., et al. 2015. Can carbon emissions from tropical deforestation drop by 50% in five years? Global Change Biology, in press.</p>
        <p class="credits">FAO-FRA, “Global Forest Resources Assessment 2015” <a href="http://www.fao.org/3/a-i4793e.pdf" target="_blank">http://www.fao.org/3/a-i4793e.pdf</a></p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-6' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Soil Organic Carbon Density</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Soil organic carbon density, or the average soil organic carbon content per unit of land area, is estimated based on the <a href="http://webarchive.iiasa.ac.at/Research/LUC/External-World-soil-database/HTML/index.html?sb=1">Harmonized World Soil Database</a> (HWSD). HWSD is a 30 arc-second raster database that combines four regional soil databases: the European Soil Database (ESDB), the 1:1 million soil map of China, various regional SOTER databases (SOTWIS Database), and the Soil Map of the World. The harmonized raster database contains soil parameters, such as organic carbon, pH, water storage capacity, soil depth, total exchangeable nutrients and salinity. Soil carbon estimates, and soil information in general, have long been considered highly uncertain, and the HWSD makes major improvements by integrating existing regional and national soil information worldwide into a harmonized format.</p>
        <p>Here, we present average soil organic carbon density estimates for the top 30 cm of soil in forested areas based on pixel-level information from HWSD. Topsoil organic carbon values were calculated using total organic carbon, bulk density and gravel values from HWSD and the equation SOCS = SOCC x BD x (1-VS/100) x LD x 102 (t ha -1). Where SOCS is total amount of soil organic carbon to a given depth (t ha-1), SOCC is soil organic carbon content for a given depth (%), BD is dry bulk density (g cm-3), VS is volume of stones (gravel) (%) and LD is depth of soil layer (m).  On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and soil organic carbon density estimates will update accordingly to reflect the new forest definition.</p>

        <p class='credits'><strong>Citations:</strong> FAO/IIASA/ISRIC/ISSCAS/JRC, 2009. Harmonized World Soil Database (version 1.1). FAO, Rome, Italy and IIASA, Laxenburg, Austria</p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-7' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Soil Carbon Stocks</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Soil organic carbon density, or the average soil organic carbon content per unit of land area, is estimated based on the <a href="http://webarchive.iiasa.ac.at/Research/LUC/External-World-soil-database/HTML/index.html?sb=1">Harmonized World Soil Database</a> (HWSD). HWSD is a 30 arc-second raster database that combines four regional soil databases: the European Soil Database (ESDB), the 1:1 million soil map of China, various regional SOTER databases (SOTWIS Database), and the Soil Map of the World. The harmonized raster database contains soil parameters, such as organic carbon, pH, water storage capacity, soil depth, total exchangeable nutrients and salinity. Soil carbon estimates, and soil information in general, have long been considered highly uncertain, and the HWSD makes major improvements by integrating existing regional and national soil information worldwide into a harmonized format.</p>
        <p>Here, we present total soil organic carbon stocks for the top 30 cm of soil in forested areas based on pixel-level information from HWSD. Soil organic carbon density values per pixel can be used directly to estimate total soil organic carbon stocks aggregated to the relevant scale of analysis (national, subnational, or within specific areas of interest). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and soil organic carbon stock estimates will update accordingly to reflect the new forest definition.</p>

        <p class='credits'><strong>Citations:</strong> FAO/IIASA/ISRIC/ISSCAS/JRC, 2009. Harmonized World Soil Database (version 1.1). FAO, Rome, Italy and IIASA, Laxenburg, Austria</p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-8' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Emissions from Peat Drainage</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Development of agriculture and other human activities on peatlands requires drainage, which leads to increased CO2 emissions to the atmosphere from peat decomposition. Highly productive croplands, including plantations, will always be 100% drained (Hooijer et al. 2010). </p>
        <p>Here, we apply a Tier 1 methodology (IPCC 2014) to estimate annual CO2 emissions from peat drainage based on the area of overlap between mapped areas of large industrial plantations in 2013/2014 (Transparent World 2015) and mapped areas of peatlands (Indonesian Ministry of Agriculture 2011), and apply an emission factor of 15 t CO2 ha-1 yr-1, based on guidance provided in Equation 2.3 and Table 2.1 of IPCC (2014).</p>

        <p class='credits'><strong>Citations:</strong> Hooijer, A., Page, S., Canadell, J.G., Silvius, M., Kwadijk, J., Wosten, H.W. and Jauhiainen, J. 2010. Current and future CO2 emissions from drained peatlands in Southeast Asia. Biogeosciences 7, 1505-1514.</p>
        <p class="credits">IPCC 2014, 2013 Supplement to the 2006 IPCC Guidelines for National Greenhouse Gas Inventories: Wetlands, Hiraishi, T., Krug, T., Tanabe, K., Srivastava, N., Baasansuren, J., Fukuda, M. and Troxler, T.G. (eds). Published: IPCC, Switzerland.</p>
        <p class="credits">Transparent World. “Tree Plantations.” 2015. Data available on Global Forest Watch. www.globalforestwatch.org</p>
        <p class="credits">Peatlands map, Indonesian Ministry of Agriculture, 2011. Prepared by World Resources Institute (2015).   </p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-9' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Top 5 Crops Expanding in Area</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>While agricultural expansion is not a driver of deforestation in all countries, Kissinger et al. (2012) confirm that agriculture is the direct driver for around 80% of deforestation worldwide. Here we list the top 5 crops that expanded most in area between 2001 and 2012 (latest available year) in this country according to FAOSTAT.</p>

        <p class='credits'><strong>Citations:</strong> Food and Agriculture Organization of the United Nations, FAOSTAT database (FAOSTAT, 2014), available at <a href="http://faostat3.fao.org/browse/Q/*/E" target="_blank">http://faostat3.fao.org/browse/Q/*/E</a></p>
        <p class="credits">Kissinger, G., M. Herold, V.D. Sy. (2012). Drivers of deforestation and forest degradation: A Synthesis Report for REDD+ Policymakers. Lexeme Consulting. Vancouver, Canada. August 2012.</p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-10' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Deforestation and Degradation Drivers</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Drivers of deforestation and forest degradation in tropical countries are complex and multi-faceted, and include both direct and indirect drivers. Kissinger et al. (2012) confirm that agriculture is the direct driver for approximately 80% of deforestation worldwide. Indirect drivers are complex interactions of social, economic, political, cultural and technological processes that affect the direct drivers to cause deforestation, and act at multiple scales. </p>
        <p>Here, we list the main drivers of deforestation and forest degradation as reported by countries in their REDD+ Readiness Preparation Proposal (R-PP) submissions to the World Bank’s Forest Carbon Partnership Facility.</p>

        <p class='credits'><strong>Citations:</strong> World Bank Carbon Partnership Facility. REDD+ Readiness Preparation Proposals (R-PP) for individual countries available at <a href="https://www.forestcarbonpartnership.org/redd-countries-1" target="_blank">https://www.forestcarbonpartnership.org/redd-countries-1</a></p>
        <p class="credits">Kissinger, G., M. Herold, V.D. Sy. (2012). Drivers of deforestation and forest degradation: A Synthesis Report for REDD+ Policymakers. Lexeme Consulting. Vancouver, Canada. August 2012.</p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-11' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Deforestation Emissions vs. Fossil Fuel Emissions</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>In many tropical developing countries, greenhouse gas emissions from deforestation can equal or exceed emissions from fossil fuel use.</p>
        <p>Here, we compare national estimates of emissions from deforestation (Zarin et al. 2015) against national estimates of emissions from fossil fuels (CAIT). For more information about how fossil fuel emissions are estimated, see <a href="http://cait.wri.org/" target="_blank">CAIT</a>.</p>

        <p class='credits'><strong>Citations:</strong> Zarin, D., Harris, N.L., et al. 2015. Can carbon emissions from tropical deforestation drop by 50% in five years? Global Change Biology, in press.</p>
        <p class="credits">CAIT Climate Data Explorer. Data available at <a href="http://cait.wri.org/" target="_blank">CAIT</a></p>

      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
  <li id='source-widget-12' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Human Population Trends</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Demographic factors including population growth, population density, migration and urbanization all contribute to the complex relationship between human population trends and deforestation trends. Population growth is one of the most commonly cited indirect drivers of deforestation in many tropical forested countries, particularly in tropical Africa. </p>
        <p>Here, we display national data on urban and rural population growth as estimated by the United Nations, accessed through the World Bank’s World Development Indicators website.</p>

        <p class='credits'><strong>Citations:</strong> World Development Indicators 2014. Washington, DC: World Bank. doi:10.1596/978- 1-4648-0163-1. License: Creative Commons Attribution CC BY 3.0 IGO</p>
      </div>
    </div>
  </li>
  <!--
    ***************************************************
    ***************************************************
    ***************************************************
   -->
</div>
