<div style="display:none;">
  <li id='source-deforestation-rate' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Deforestation rate</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>There is currently no scientific consensus on a global dataset for deforestation rates, and in many cases this lack of consensus extends to the national level.  We include multiple data sources on GFW Climate in the hopes of fostering transparency and understanding of data differences. </p>
        <h3>Gross tree cover loss</h3>
        <p>Estimates are based on Hansen et al. (2013) and subsequent annual updates available on Global Forest Watch. Hansen et al. use Landsat satellite imagery at 30 meter pixel resolution to measure the magnitude of annual tree cover loss, counting all tree cover or forest area lost without regard to regeneration or reforestation of natural forest. Tree cover is a proxy for forest cover, defined as all vegetation five meters or taller. On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and gross tree cover loss estimates will update accordingly to reflect the new forest definition.</p>
        <h3>Net forest conversion</h3>
        <p>Estimates are based on FAO’s Forest Resources Assessment 2015, which compiles country-level data on forest area that are self-reported by countries every five years using their own inventories, surveys and maps. Forests are defined based on national land use classifications, with a minimum threshold of 0.5 ha land area, trees over 5 meters and a 10% minimum canopy cover. Figures for net forest conversion are reported by subtracting the total natural forest cover reported for one reporting period from the previous reporting period.
          <strong>Whereas gross forest loss treats the loss term as categorically distinct from regeneration, net forest loss conflates the two.</strong>
          A summary of source data used by countries in FAO reporting can be found <a href="/forest_change_data" target="_blank">here</a>.</p>
          <h3>Other national deforestation data</h3>
          <p>Gross deforestation estimates for Brazil are from the System of Greenhouse Gas Emissions Estimates (SEEG), and estimates for the Amazon biome are consistent with INPE’s annual deforestation monitoring. Data for other countries reflect gross deforestation rates included in country
            <a href="http://redd.unfccc.int/submissions.html?topic=6" target="_blank">Forest Reference Emission Level</a>
            submissions to the UNFCCC.</p>

            <table class="source_table">
              <thead>
                <tr>
                  <th>Source</th>
                  <th>Spatial Resolution</th>
                  <th>Reference Time Period</th>
                  <th>Input Data</th>
                  <th>Frequency of Updates</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Hansen/UMD</strong></td>
                  <td>30 x 30 m</td>
                  <td>2001-2014</td>
                  <td>Landsat</td>
                  <td>Annual</td>
                </tr>
                <tr>
                  <td><strong>FAO FRA 2015</strong></td>
                  <td>National</td>
                  <td>2000-2015</td>
                  <td>(FAO table)</td>
                  <td>Every 5 years</td>
                </tr>
                <tr>
                  <td colspan="5"><strong>Other National Deforestation Data</strong></td>
                </tr>
                <tr>
                  <td>Brazil</td>
                  <td>30 x 30 m</td>
                  <td>1970-2013</td>
                  <td>Landsat</td>
                  <td>Annual (Amazon), Variable (other biomes)</td>
                </tr>
                <tr>
                  <td>Colombia</td>
                  <td>Subnational (Colombian Amazon only)</td>
                  <td>2000-2012</td>
                  <td>Landsat</td>
                  <td>Biennial</td>
                </tr>
                <tr>
                  <td>Ecuador</td>
                  <td>National</td>
                  <td>1990-2000, 2000-2008</td>
                  <td>Landsat, ASTER</td>
                  <td>Unspecified</td>
                </tr>
                <tr>
                  <td>Guyana</td>
                  <td>National</td>
                  <td>2000-2012</td>
                  <td>Landsat (to 2010), RapidEye (2011 onwards)</td>
                  <td>Annual</td>
                </tr>
              </tbody>
            </table>

            <p class='credits'><strong>Citation:</strong> Hansen, M.C., P.V. Potapov, R. Moore, M. Hancher, S.A. Turubanova, A. Tyukavina, D. Thau, S.V. Stehman, S.J. Goetz, T.R. Loveland, A. Kommareddy, A. Egorov, L. Chini, C.O. Justice and J.R.G. Townshend. 2013. High-Resoltuion Global Maps of 21st-Century Forest Cover Change. Science 342: 850-853.</p>
            <p class="credits">Data available online from: <a href="http://earthenginepartners.appspot.com/science-2013-global-forest" target="_blank">http://earthenginepartners.appspot.com/science-2013-global-forest</a></p>
            <p class="credits">FAO-FRA, “Global Forest Resources Assessment 2015” <a href="http://www.fao.org/3/a-i4793e.pdf" target="_blank">http://www.fao.org/3/a-i4793e.pdf</a></p>
            <p class="credits">UNFCCC, 2015. Forest Reference Emission Level submissions available at: <a href="http://redd.unfccc.int/submissions.html?topic=6" target="_blank">http://redd.unfccc.int/submissions.html?topic=6</a></p>
            <p class="credits">SEEG, 2014. Sistema de Estimativa de Emissão de Gases de Efeito Estufa. <a href="http://seeg.eco.br/seeg-2014-engl/" target="_blank">http://seeg.eco.br/seeg-2014-engl/</a>.</p>

          </div>
        </div>
      </li>
      <!--
      ***************************************************
      ***************************************************
      ***************************************************
    -->
    <li id='source-carbon-emissions' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Carbon Emissions</strong>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p>Carbon emissions from deforestation reflect the carbon dioxide emitted to the atmosphere as a result of forest biomass clearing, and country level estimates are commonly expressed in units of carbon (Tg) or carbon dioxide (Mt CO2). For tropical forested countries, most emission estimates are derived using IPCC Guidelines for Tier 1 accounting by multiplying an estimate of the area of deforestation by an estimate of the biomass carbon of the deforested area, and these are assumed to be “committed” emissions to the atmosphere. Carbon sequestration from growing vegetation after clearing is generally excluded from large-scale carbon assessments; this requires additional information on the fate of the cleared land, which is often lacking. Emissions from tropical organic (peat) soils in Southeast Asia are also either excluded or reported separately; estimates are available on GFW Climate as separate indicators.</p>
          <h3>Carbon emissions from gross tree cover loss</h3>
          <p>Estimates are based on the co-location of aboveground biomass carbon density values for the year 2000 with annual tree cover loss data from 2001 through 2014 at 30 m spatial resolution. Emissions associated with other carbon pools such as belowground biomass and soil carbon are excluded. Loss of biomass, like loss of tree cover, may occur for many reasons, including deforestation, fire, and logging within the course of sustainable forestry operations. For DRC, Indonesia and Malaysia, emissions are further disaggregated to approximate those from deforestation consistent with Zarin et al. (2015). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and carbon emission estimates will update accordingly to reflect the new forest definition.</p>
          <h3>Carbon emissions from net forest conversion</h3>
          <p>Estimates are based on national estimates of net forest conversion and biomass carbon stock density, as reported by countries every five years to FAO’s Forest Resources Assessment (FRA) using their own inventories, surveys, and maps. Estimates of net forest conversion are used as a proxy for deforestation (Federici et al. 2015), and estimates of woody biomass carbon stock density are in most cases derived from the use of conversion factors to estimate total living biomass stocks from nationally reported wood volumes. A summary of source data used by countries in FAO reporting on forest biomass can be found <a href="/forest_change_data" target="_blank">here</a>. FRA data do not allow for quantification of gross area changes.</p>
          <h3>Carbon emissions from other national deforestation data</h3>
          <p>Carbon emission estimates for Brazil are from the System of Greenhouse Gas Emissions Estimates (SEEG). Data for other countries reflect annual carbon emission estimates included in country (Forest Reference Emission Level) submissions to the UNFCCC.</p>

          <table class="source_table">
            <thead>
              <tr>
                <th>Source</th>
                <th>Spatial Resolution</th>
                <th>Reference Time Period</th>
                <th>Input Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>WHRC/WRI</strong></td>
                <td>30 m</td>
                <td>2001-2014</td>
                <td>Landast, ICEsat lidar, MODIS, inventory plots</td>
              </tr>
              <tr>
                <td><strong>Federici et al./FAO FRA 2015</strong></td>
                <td>National</td>
                <td>2000-2015</td>
                <td>(FAO table)</td>
              </tr>
              <tr>
                <td colspan="5"><strong>Other National Data</strong></td>
              </tr>
              <tr>
                <td>Brazil</td>
                <td>National</td>
                <td>1990-2013</td>
                <td>RADAMBRASIL (1981)</td>
              </tr>
              <tr>
                <td>Colombia</td>
                <td>Subnational</td>
                <td>2000-2012</td>
                <td>721 plots collected between 1990 and 2014</td>
              </tr>
              <tr>
                <td>Ecuador</td>
                <td>National</td>
                <td>1990-2000, 2000-2008</td>
                <td>National forest inventory plots collected between 2012 and 2014</td>
              </tr>
              <tr>
                <td>Guyana</td>
                <td>National</td>
                <td>2000-2012</td>
                <td>66 plots collected between 2012 and 2014. Four 0.1 ha subplots per plot.</td>
              </tr>
              <tr>
                <td>Mexico</td>
                <td>National</td>
                <td>2002/2003, 2007/2008, 2012/2013</td>
                <td>21,811 systematically distributed national inventory plots collected between 2004 and 2007. Four 0.04 ha subplots per plot.</td>
              </tr>
            </tbody>
          </table>

          <p class='credits'><strong>Citations:</strong> Zarin, D., Harris, N.L., et al. 2015. Can carbon emissions from tropical deforestation drop by 50% in five years? Global Change Biology, in press.</p>
          <p class="credits">Federici, S., F.N. Tubiello, M. Salvatore, H. Jacobs, J. Schmidhuber. 2015. New estimates of CO2 forest emissions and removals: 1990-2015. Forest Ecology and Management 352: 89-98.</p>
          <p class="credits">UNFCCC, 2015. Forest Reference Emission Level submissions available at: <a href="http://redd.unfccc.int/submissions.html?topic=6" target="_blank">http://redd.unfccc.int/submissions.html?topic=6</a></p>
          <p class="credits">RADAMBRASIL, 1981. Projeto Radambrasil, Levantamento de Recursos Naturais, Ministerio de Minas e Energia, Secretaria Geral, Projeto RADAMBRASIL, Rio de Janeiro, Brasil </p>
          <p class="credits">SEEG, 2014. Sistema de Estimativa de Emissão de Gases de Efeito Estufa. <a href="http://seeg.eco.br/seeg-2014-engl/" target="_blank">http://seeg.eco.br/seeg-2014-engl/</a></p>

        </div>
      </div>
    </li>
    <!--
    ***************************************************
    ***************************************************
    ***************************************************
  -->
  <li id='source-forest-area-2000' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Forest Area 2000</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>The definition of the word “forest” differs from region to region and country to country based on different objectives such as management, land use, vegetation type, composition, and altitude. As such, there are over 800 definitions worldwide (Lund 2002). Here, we present two global sources of forest area data for the tropical countries included on GFW Climate.</p>
        <h3>Area with tree cover</h3>
        <p>“Percent tree cover” is defined as the density of tree canopy coverage of the land surface within a 30 m (0.09 ha) pixel. 30 x 30 meter pixels were aggregated to estimate the area of tree cover at the relevant scale of analysis (national, subnational, etc.). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30% and the area of tree cover will update accordingly to reflect the new forest definition.</p>
        <h3>Forest area</h3>
        <p>National forest area statistics for the year 2000 are reported by countries to the Food and Agriculture Organization every five years as part of their Forest Resources Assessment 2015. Forests are defined for these assessments based on national land use classifications, with a minimum threshold of 0.5 ha land area, trees over 5 meters and a 10% minimum canopy cover. A summary of source data used by countries in FAO reporting on forest area can be found <a href="/forest_change_data" target="_blank">here</a>.</p>

        <p class='credits'><strong>Citations:</strong> Hansen, M.C., P.V. Potapov, R. Moore, M. Hancher, S.A. Turubanova, A. Tyukavina, D. Thau, S.V.</p>
        <p class="credits">Stehman, S.J. Goetz, T.R. Loveland, A. Kommareddy, A. Egorov, L. Chini, C.O. Justice and J.R.G. </p>
        <p class="credits">Townshend. 2013. High-Resoltuion Global Maps of 21st-Century Forest Cover Change. Science 342: 850-853. Data available online from: <a href="http://earthenginepartners.appspot.com/science-2013-global-forest" target="_blank">http://earthenginepartners.appspot.com/science-2013-global-forest</a></p>
        <p class="credits">FAO-FRA, “Global Forest Resources Assessment 2015” <a href="http://www.fao.org/3/a-i4793e.pdf" target="_blank">http://www.fao.org/3/a-i4793e.pdf</a></p>
        <p class="credits">Lund, H.G. 2002. When is a forest not a forest? Journal of Forestry 100, 21-28.</p>

      </div>
    </div>
  </li>
  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-total-carbon-stored-in-trees' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Total Carbon Stored in Trees </strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Carbon is stored in trees both above and below the soil, including stem, stump, branches, bark, seeds and leaves, and in live roots. Average biomass carbon density values, as estimated from forest inventories and/or spatially-explicit mapping products, can be used to estimate the total amount of carbon stored in trees within an area of interest by multiplying density values by the forest area under consideration at the relevant scale of analysis (national, subnational, or within specific areas of interest).</p>
        <h3>Satellite-based estimates/WHRC</h3>
        <p>The biomass density maps on GFW Climate were produced by Woods Hole Research Center at 30 x 30 m spatial resolution and are representative of the year 2000. Values for each pixel refer to the average woody live biomass of forests within the pixel, and can be used directly to estimate the total biomass carbon stock within the pixel. Biomass is assumed to be 50% carbon. Pixels are then aggregated to estimate total biomass carbon stocks at the relevant scale of analysis (national, subnational, or within specific areas of interest). Belowground biomass is calculated as 26% of aboveground biomass based on Mokany et al. (2006). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and biomass carbon stock estimates will update accordingly to reflect the new forest definition.</p>
        <h3>FAO FRA 2015</h3>
        <p>Estimates of above- and belowground biomass carbon stocks in the year 2000 are based on FAO’s Forest Resource Assessment 2015, which compiles country-level data that are self-reported by countries every five years using their own inventories, surveys and maps. Source data on biomass estimates from FAO country reports are summarized <a href="/biomass_data" target="_blank">here</a>.</p>

        <p class='credits'><strong>Citations:</strong> Zarin, D., Harris, N.L., et al. 2015. Can carbon emissions from tropical deforestation drop by 50% in five years? Global Change Biology, in press.</p>
        <p class="credits">FAO-FRA, “Global Forest Resources Assessment 2015” <a href="http://www.fao.org/3/a-i4793e.pdf" target="_blank">http://www.fao.org/3/a-i4793e.pdf</a></p>
        <p class="credits">Mokany, K., R.J. Raison, A.S. Prokushkin. 2006. Critical analysis of root:shoot ratios in terrestrial biomes. Global Change Biology 12: 84-96</p>

      </div>
    </div>
  </li>

  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-total-carbon-stored-in-soil' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Total Carbon Stored in Soil</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Soil organic carbon is a major component of soil organic matter, which is derived from residual, decomposed plant and animal material. Natural factors, such as land cover, vegetation, topography and climate, as well as human factors, such as land use and management, can influence the amount of soil organic matter, and thus soil organic carbon, present in soils. Total soil organic carbon within an area of interest can be estimated by multiplying soil organic carbon density values by the amount of forest area at the relevant scale of analysis (national, subnational, or within specific areas of interest). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30% and soil organic carbon stock estimates will update accordingly to reflect the new forest definition.</p>
        <p>To calculate topsoil organic carbon (to 30 cm depth), we use data from the <a href="http://webarchive.iiasa.ac.at/Research/LUC/External-World-soil-database/HTML/index.html?sb=1" target="_blank">Harmonized World Soil Database</a> (HWSD), a compilation of four soil databases: the European Soil Database (ESDB), the 1:1 million soil map of China, various regional SOTER databases (SOTWIS Database), and the Soil Map of the World. The HWSD contains information on soil parameters, such as organic carbon, pH, water storage capacity, soil depth, total exchangeable nutrients and salinity. Soil carbon estimates, and soil information in general, have long been considered highly uncertain, and the HWSD makes major improvements by integrating existing regional and national soil information worldwide into a harmonized format. This dataset currently constitutes the best available spatially-explicit soil carbon data for most regions. The spatial resolution of the data is 1 km.</p>

        <p>The amount of carbon stored in soils to 30 cm depth in each 1 km pixel was calculated using inputs of percent carbon content, bulk density, and gravel volume. We use relative bulk density values except for Andosols and Histosols, which are typically overestimated by this method. Values are calculated for 0-30 cm depth. See more information on calculating SOC from the HWSD <a href="http://eusoils.jrc.ec.europa.eu/esdb_archive/eusoils_docs/other/EUR25225.pdf" target="_blank">here</a>. Forested pixels within a given extent were summed to derive total carbon stored in soils.</p>

        <p class='credits'><strong>Citations:</strong> FAO/IIASA/ISRIC/ISSCAS/JRC, 2009. Harmonized World Soil Database (version 1.1). FAO, Rome, Italy and IIASA, Laxenburg, Austria</p>

      </div>
    </div>
  </li>

  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-top-5-crops-expanding-in-the-area' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Top 5 Crops Expanding in Area</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>While agricultural expansion is not a driver of deforestation in all countries, Kissinger et al. (2012) estimate that agriculture is the direct driver for around 80% of deforestation worldwide. Here we list the top 5 crops that expanded most in area between 2001 and 2012 (latest available year) in this country according to FAOSTAT.</p>

        <p class='credits'><strong>Citations:</strong> Food and Agriculture Organization of the United Nations, FAOSTAT database (FAOSTAT, 2014), available at <a href="http://faostat3.fao.org/browse/Q/*/E" target="_blank">http://faostat3.fao.org/browse/Q/*/E</a></p>
        <p class="credits">Kissinger, G., M. Herold, V.D. Sy. (2012). Drivers of deforestation and forest degradation: A Synthesis Report for REDD+ Policymakers. Lexeme Consulting. Vancouver, Canada. August 2012.</p>

      </div>
    </div>
  </li>

  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-value-of-primary-agricultural-export-commodity' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Value of Primary Agricultural Export Commodity</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Global economic growth based on the export of primary commodities and increased demand for timber and agricultural products are critical indirect drivers of deforestation and forest degradation (Kissinger et al. 2012; DeFries et al. 2010). </p>
        <p>Here we display the net export value per capita of each country’s primary agricultural commodity, as estimated from FAOSTAT data.</p>

        <p class='credits'><strong>Citations:</strong> Food and Agriculture Organization of the United Nations, FAOSTAT database (FAOSTAT, 2014), available at <a href="http://faostat3.fao.org/browse/Q/*/E" target="_blank">http://faostat3.fao.org/browse/Q/*/E</a></p>
        <p class="credits">DeFries, R.S., T. Rudel, M. Uriarte, M. Hansen. 2010. Deforestation driven by urban population growth and agricultural trade in the twenty-first century. Nature Geoscience 3: 178-181.</p>
        <p class="credits">Kissinger, G., M. Herold, V.D. Sy. (2012). Drivers of deforestation and forest degradation: A Synthesis Report for REDD+ Policymakers. Lexeme Consulting. Vancouver, Canada. August 2012.</p>

      </div>
    </div>
  </li>

  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-human-population-trends' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Human Population Trends</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Demographic factors including population growth, population density, migration and urbanization all contribute to the complex relationship between human population trends and deforestation trends. Population growth is one of the most commonly cited indirect drivers of deforestation in many tropical forested countries, particularly in tropical Africa. </p>
        <p>Here, we display national data on urban and rural population growth (%/yr) as estimated by the United Nations, accessed through the World Bank’s World Development Indicators website.</p>

        <p class='credits'><strong>Citations:</strong> World Development Indicators 2014. Washington, DC: World Bank. doi:10.1596/978- 1-4648-0163-1. License: Creative Commons Attribution CC BY 3.0 IGO</p>

      </div>
    </div>
  </li>

  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-emissions-from-deforestation-vs-all-other-sectors' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Deforestation Emissions vs. Fossil Fuel Emissions</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>In many tropical developing countries, greenhouse gas emissions from deforestation can equal or exceed emissions from fossil fuel use. </p>
        <p>Here, we compare national estimates of emissions from deforestation (Zarin et al. 2015) against national estimates of emissions from fossil fuels (CAIT). For more information about how fossil fuel emissions are estimated, see <a href="http://cait.wri.org" target="_blank">CAIT</a>.</p>

        <p class='credits'><strong>Citations:</strong> Zarin, D., Harris, N.L., et al. 2015. Can carbon emissions from tropical deforestation drop by 50% in five years? Global Change Biology, in press.</p>
        <p class="credits">CAIT Climate Data Explorer. Data available at <a href="http://cait.wri.org/" target="_blank">http://cait.wri.org/</a></p>

      </div>
    </div>
  </li>

  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-emissions-from-peat-drainage' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Emissions from Peat Drainage</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>
          Development of agriculture and other human activities on tropical peatlands requires drainage, which leads to
          increased CO2 emissions to the atmosphere from peat decomposition. Highly productive croplands, including
          plantations, will always be 100 percent drained (Hooijer et al. 2010).
        </p>
        <p>
          IPCC Tier 1 methods were applied to estimate annual CO2 emissions from peat drainage in Indonesia and Malaysia within plantation areas only, based on the area of overlap between mapped areas of plantations in 2013-14 (Transparent World 2015) and mapped areas of peatlands (Indonesian Ministry of Agriculture, 2011 for Indonesia; Wetlands International, 2004 for Malaysia). Emission factors for oil palm, Acacia, and other species were 40, 73, and 55 t CO2 ha-1 yr-1, respectively, based on guidance provided in Equation 2.3 and Table 2.1 of IPCC Wetlands Supplement (2014). The value of 55 t CO2 ha-1 yr-1 represents the average of emission factor estimates for oil palm and acacia plantations.
        </p>

        <p class='credits'><strong>Citations:</strong> World Resources Institute. "Carbon Emissions from Peat Drainage on Plantations." Accessed through Global Forest Watch Climate on [date],climate.globalforestwatch.org</p>
        </div>
      </div>
    </li>
    <!--
    ***************************************************
    ***************************************************
    ***************************************************
  -->
  <li id='source-average-carbon-stored-in-trees-per-unit-area' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Average Carbon Stored in Trees Per Unit Area</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Carbon is stored in trees both above and below the soil, including stem, stump, branches, bark, seeds and leaves, and in live roots. At the most fundamental level, all methodological approaches to measuring carbon in trees rely on the collection of reliable data within inventory plots on the ground, where typically the diameter at breast height (DBH) of individual trees are measured by field technicians and converted to tree biomass estimates using allometric equations. Due to methodological difficulties associated with measuring root biomass, applying a default root : shoot ratio is a core method for estimating belowground (root) biomass from the more easily measured aboveground biomass. Biomass of the forest understory is generally excluded from the aboveground biomass estimates in broadscale carbon accounting.</p>
        <h3>Satellite based estimate/WHRC</h3>
        <p>Estimates are derived from a 30 m resolution map of aboveground woody biomass density across the tropics, developed by Woods Hole Research Center using a combination of ground measurements, GLAS LiDAR waveform metrics and Landsat 7 ETM+ satellite imagery and products, elevation and other biophysical variables. Belowground biomass is calculated as 26% of aboveground biomass based on Mokany et al. (2006). On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30%, and biomass carbon density estimates will update accordingly to reflect the new forest definition.</p>
        <h3>FAO FRA 2015</h3>
        <p>Estimates of above- and belowground biomass carbon density in the year 2000 are based on FAO’s Forest Resource Assessment 2015, which compiles country-level data that are self-reported by countries every five years using their own inventories, surveys and maps. Source data on biomass estimates from FAO country reports are summarized <a href="/biomass_data" target="_blank">here</a>.</p>

        <p class='credits'><strong>Citations:</strong> Zarin, D., Harris, N.L., et al. 2015. Can carbon emissions from tropical deforestation drop by 50% in five years? Global Change Biology, in press.</p>
        <p class="credits">FAO-FRA, “Global Forest Resources Assessment 2015” <a href="http://www.fao.org/3/a-i4793e.pdf" target="_blank">http://www.fao.org/3/a-i4793e.pdf</a></p>
        <p class="credits">Mokany, K., R.J. Raison, A.S. Prokushkin. 2006. Critical analysis of root:shoot ratios in terrestrial biomes. Global Change Biology 12: 84-96.</p>

      </div>
    </div>
  </li>
  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-average-carbon-stored-in-soils-per-unit-area' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Average Carbon Stored in Soil Per Unit Area</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>Soil organic carbon is a major component of soil organic matter, which is derived from residual, decomposed plant and animal material. Natural factors, such as land cover, vegetation, topography and climate, as well as human factors, such as land use and management, can influence the amount of soil organic matter, and thus soil organic carbon, present in soils. On GFW Climate, a user can adjust the minimum tree canopy density threshold for what defines a forest at a value between 10% and 30% and average carbon stored in soil per unit area will update accordingly to reflect the new forest definition.</p>
        <p>To calculate topsoil organic carbon (to 30 cm depth), we use data from the <a href="http://webarchive.iiasa.ac.at/Research/LUC/External-World-soil-database/HTML/index.html?sb=1" target="_blank">Harmonized World Soil Database</a> (HWSD), a compilation of four soil databases: the European Soil Database (ESDB), the 1:1 million soil map of China, various regional SOTER databases (SOTWIS Database), and the Soil Map of the World. The HWSD contains information on soil parameters, such as organic carbon, pH, water storage capacity, soil depth, total exchangeable nutrients and salinity. Soil carbon estimates, and soil information in general, have long been considered highly uncertain, and the HWSD makes major improvements by integrating existing regional and national soil information worldwide into a harmonized format. This dataset currently constitutes the best available spatially-explicit soil carbon data for most regions. The spatial resolution of the data is 1 km.</p>
        <p>The amount of carbon stored in soils to 30 cm depth was calculated using inputs of percent carbon content, bulk density, and gravel volume. We use relative bulk density values except for Andosols and Histosols, which are typically overestimated by this method. Values are calculated for 0-30 cm depth. See more information on calculating SOC from the HWSD <a href="http://eusoils.jrc.ec.europa.eu/esdb_archive/eusoils_docs/other/EUR25225.pdf" target="_blank">here</a>.</p>

        <p class='credits'><strong>Citations:</strong> FAO/IIASA/ISRIC/ISSCAS/JRC, 2009. Harmonized World Soil Database (version 1.1). FAO, Rome, Italy and IIASA, Laxenburg, Austria</p>

      </div>
    </div>
  </li>
  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-drivers-of-deforestation-and-degradation' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Deforestation and Degradation Drivers</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p>
          Drivers of deforestation and forest degradation in tropical countries
          are complex and multi-faceted, and include both direct and indirect
          drivers. Kissinger et al. (2012) estimate that agriculture is the
          direct driver for approximately 80% of deforestation worldwide.
          Indirect drivers are complex interactions of social, economic,
          political, cultural and technological processes that affect the direct
          drivers to cause deforestation, and act at multiple scales.
        </p>
        <p>
          Here, we list the main drivers of deforestation and forest degradation
          as reported by countries in their REDD+ Readiness Preparation Proposal
          (R-PP) submissions to the World Bank’s Forest Carbon Partnership Facility.
        </p>

        <p class='credits'><strong>Citations:</strong> World Bank Carbon
          Partnership Facility. REDD+ Readiness Preparation Proposals (R-PP)
          for individual countries available at
          <a href="https://www.forestcarbonpartnership.org/redd-countries-1">
            https://www.forestcarbonpartnership.org/redd-countries-1
          </a>
        </p>
        <p class="credits">
          Kissinger, G., M. Herold, V.D. Sy. (2012). Drivers
          of deforestation and forest degradation: A Synthesis Report for REDD+
          Policymakers. Lexeme Consulting. Vancouver, Canada. August 2012.
        </p>

      </div>
    </div>
  </li>
  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
  <li id='source-insights-glad-alerts' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Insight information</strong>
    </div>

    <div class='source_body'>
      <div class='source_summary'>
        <p><strong>What does this Insight show?</strong></p>
        <p>Tracks the cumulative area of forest loss and associated carbon emissions in near real-time. Estimates are conservative, and <strong>do not</strong> reflect or replace annual estimates of area or emissions. Thumbnail images show where each week’s disturbance alerts are most concentrated. Tropical countries will need to drastically reduce their deforestation rates over the next four years if the first goal outlined in the New York Declaration on Forests to at least halve the rate of natural forest loss by 2020 is to be met; this visualization provides near real-time updates on progress towards that goal.</p>

        <p><strong>What data sources were used to create it?</strong></p>

        <p><span class="em">Forest disturbance alerts</span>. An alert is defined as any Landsat pixel that experiences a canopy loss in excess of 50% cover. New alerts are triggered with every new, cloud-free Landsat image (as often as every eight days for any particular location). For Kalimantan, only alerts within primary forests (defined by Margono et al. 2014) are included here, to better reflect loss occurring within natural forests vs. other land with tree cover, such as plantations.</p>

        <p><span class="em">Forest biomass map</span>. A 30-m resolution pantropical map of aboveground live woody biomass from Baccini et al. (in review) was used to estimate gross carbon emissions associated with forest disturbance alerts.</p>

        <p><strong>How was the upper “average” line calculated in the graph?</strong></p>

        <p>Estimates reflect those presented in Zarin et al. 2016 and represent benchmarks against which progress towards halving deforestation can be evaluated. For Brazil, the historical benchmark reflects the year 2013. For all other countries (and the province of Kalimantan, Indonesia), the benchmark reflects the 2001-2013 average. For Kalimantan, the benchmark reflects loss only within primary forests (defined by Margono et al. 2014) to better reflect loss occurring within natural forests. Brazil has been successful in reducing carbon emissions from deforestation over the past decade; we use a 2013 benchmark (rather than a 2001-2013 benchmark) to suggest that even deeper reductions are possible.</p>

        <p><strong>How was the lower “2020 target” line calculated in the graph?</strong></p>

        <p>Estimates reflect 50% of the historical benchmark rates, in keeping with the goal outlined in the New York Declaration on Forests to at least halve the rate of natural forest loss by 2020.</p>

        <p><strong>What are the caveats?</strong></p>

        <ul class="bullets">
          <li>Data are currently available only for Peru, Brazil, Kalimantan (Indonesia) and Republic of Congo. Other countries, plus an aggregated pantropical estimate, will be added as they become available (expected early 2017).</li>

          <li>The estimates shown are conservative, and do not reflect or replace annual estimates of area or emissions developed from a comparatively richer set of Landsat inputs.</li>

          <li>Alert observations for a given week are limited by the availability of cloud-free imagery.</li>

          <li>Estimates will change week to week if alerts assigned as unconfirmed in previous weeks are confirmed in later weeks.</li>
        </ul>

        <p><strong>Citations:</strong></p>

        <p class='credits'>Baccini A., W. Walker, L. Carvahlo, M. Farina, D. Sulla-Menashe, R. Houghton (in review). Tropical forests are a net carbon source based on new measurements of gain and loss. Accessed through Global Forest Watch Climate on [date]. climate.globalforestwatch.org.</p>

        <p class="credits">Hansen, M.C. A. Krylov, et al. 2016. Humid tropical forest disturbance alerts using Landsat data. Environmental Research Letters 11: 034008.</p>

        <p class="credits">Margono, B.A., P.V. Potapov, S. Turubanova, F. Stolle, and M.C. Hansen. 2014. Primary forest cover loss over 2000-2012. Nature Climate Change 4: 730-735.</p>

        <p class="credits">Zarin, D., Harris, N.L. et al. 2016. Can carbon emissions drop by 50% in five years? Global Change Biology 22 1336-1347.</p>

      </div>
    </div>
  </li>
  <!--
  ***************************************************
  ***************************************************
  ***************************************************
  -->
</div>
