<li id='ifl_2013_deg' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Intact Forest Landscapes 2000/2013</strong>
        <i class='expand_arrow'></i>
        <em class='source_description'>(2000/2013)</em>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Identifies the world’s last remaining unfragmented forest landscapes, large enough to retain all native biodiversity and showing no signs of human alteration as of the year 2013. This layer also shows the reduction in the extent of Intact Forest Lanscapes from 2000 to 2013.</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Approximately 1:1,000,000</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Global</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd><a href='http://landsat.usgs.gov/' target='_blank'>Landsat TM/ETM+/OLI</a></dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>2015 update; 2008 original publication</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>2013</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>The world IFL map was created through visual interpretation of Landsat images by experts. The map may contain inaccuracies due to limitations in the spatial resolution of the imagery and lack of ancillary information about local land-use practices in some regions. In addition, the methodology assumes that fires in proximity to roads or other infrastructure may have been caused by humans, and therefore constitute a form of anthropogenic disturbance. This assumption could result in an underestimation of IFL extent in the boreal biome.</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>The <a href='http://intactforests.org/' target='_blank'>Intact Forest Landscapes</a> (IFL) data set identifies unbroken expanses of natural ecosystems within the zone of forest extent that show no signs of significant human activity and are large enough that all native biodiversity, including viable populations of wide-ranging species, could be maintained. To map IFL areas, a set of criteria was developed and designed to be globally applicable and easily replicable, the latter to allow for repeated assessments over time as well as verification. IFL areas were defined as unfragmented landscapes, at least 50,000 hectares in size, and with a minimum width of 10 kilometers. IFL areas were defined as unfragmented landscapes, at least 50,000 hectares in size, and with a minimum width of 10 kilometers. These were then mapped from Landsat imagery for the years 2000 and 2013.</p>

          <p>Changes in the extent of IFLs were identified within year 2000 IFL boundary using the global wall-to-wall Landsat image composite for year 2013 and the global forest cover loss dataset (Hansen et al., 2013). Areas identified as “reduction in extent” met the IFL criteria in 2000, but no longer met the criteria in 2013. The main causes of change were clearing for agriculture and tree plantations, industrial activity such as logging and mining, fragmentation due to infrastructure and new roads, and fires assumed to be caused by humans.</p>

          <p>This data can be used to assess forest intactness, alteration, and degradation at global and regional scales. More information about the data set and methodology is available on  <a href="http://www.intactforests.org">www.intactforests.org</a></p>

          <p class='credits'><strong>Citation:</strong> Potapov, P., A. Yaroshenko, S. Turubanova, M. Dubinin, L. Laestadius, C. Thies, D. Aksenov, A. Egorov, Y. Yesipova, I. Glushkov, M. Karpachevski, A. Kostickova, A. Manisha, E. Tsybikova, and I. Zhuravleva. 2008. “Mapping the World’s Intact Forest Landscapes by Remote Sensing.” Ecology and Society 13, no. 2: Art. 51. www.ecologyandsociety.org/vol13/iss2/art51.</p>

          <p class='credits'><strong>Suggested citation for users:</strong> Greenpeace, University of Maryland, World Resources Institute and Transparent World. “Intact Forest Landscapes. 2000/2013” Accessed through Global Forest Watch on [date]. www.globalforestwatch.org</p>

          <p class='read_more hidden'><em><a href="http://data.globalforestwatch.org/datasets?q=intact+forest+landscapes&sort_by=relevance" target="_blank">Learn more or download data</a></em></p>
        </div>
      </div>
    </li>
    <li id='plantations' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Tree Plantations</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Shows the coverage of plantations in select countries</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Based on 30 × 30 meter data. Scale varies by country.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Currently available for Brazil, Cambodia, Colombia, Indonesia, Liberia, Malaysia, and Peru</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd><a href="http://www.transparentworld.ru/en/" target="_blank">Transparent World</a></dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>2013–2014</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Cautions</dt>
            <dd>
            An accuracy assessment found 40% false positives and 18% false negatives for the presence of plantations, with an overall accuracy of 79%. Overall accuracies were lowest in Indonesia at 68%.
            The accuracies of the species and type labels were not assessed. These fields represent the best guess of the analysts and should not be used for official purposes.
            Polygons labeled as clearings were bare or had very young vegetation as of 2013 or 2014, but contextual clues suggest that these areas will eventually become tree plantations.
            A subset of this data set more appropriate for supply chain monitoring can be found on <a href="http://commodities.globalforestwatch.org/" target="_blank">GFW Commodities.</a>

            </dd>
          </dl>
          <dl class='sources_row'>
            <dt>License</dt>
            <dd><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>This data set was created by Transparent World, with the support of Global Forest Watch. Many studies depicting forest cover and forest change cannot distinguish between natural forests and plantations. This data set attempts to distinguish tree plantations from natural forest for seven key countries: Brazil, Cambodia, Colombia, Indonesia, Liberia, Malaysia, and Peru.</p>

          <p>Given the variability of plantations and their spectral similarity to natural forests, this study used visual interpretations of satellite imagery, primarily <a href="http://landsat.usgs.gov/" target="_blank">Landsat</a>, supplemented by high resolution imagery (Google Maps, Bing Maps, or Digital Globe), where available, to locate plantations. Analysts hand-digitized plantation boundaries based on several key visual criteria, including texture, shape, color, and size.</p>

          <p>Each polygon is labelled with the plantation type and when possible, the species. A “gr” in front of the species name indicates a group of species, such as pines or fruit, where the individual species was not identifiable. The percentage of plantation coverage indicates a rough estimate of the prevalence of plantation within apolygon (as in the case of a mosaic). Types are defined as follows:</p>
          <p><ul class="bullets">
            <li><strong>Large industrial plantation:</strong> single plantation units larger than 100 hectares</li>
            <li><strong>Mosaic of medium-sized plantations:</strong> mosaic of plantation units < 100 hectares embedded within patches of other land use</li>
            <li><strong>Mosaic of small-sized plantations:</strong> mosaic of plantation units < 10 hectares embedded within patches of other land use.</li>
            <li><strong>Clearing/ very young plantation:</strong> bare ground with contextual clues suggesting it will become a plantations (shape or pattern of clearing, proximity to other plantations, distinctive road network, etc)</li>
          </ul></p>
          <p>For more information on this data set and how it was produced, see the forthcoming WRI Technical Note associated with this project.</p>

          <p class='credits'><strong>Citation:</strong> Transparent World. “Tree Plantations.” 2015. Accessed through Global Forest Watch on [date]. <a href="http://www.globalforestwatch.org" target="_blank">www.globalforestwatch.org</a> </p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
    <li id='cod_primary_forest_wgs' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Democratic Republic of the Congo primary forests</strong>
        <i class='expand_arrow'></i>
        <em class='source_description'>(2000)</em>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Shows the location of primary forests in the DRC in 2000</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>60 × 60 meters.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Democratic Republic of the Congo</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Observatoire Satellital des forêts d'Afrique centrale (OSFAC), South Dakota State University (SDSU), and University of Maryland (UMD)</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>2000</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Cautions</dt>
            <dd>The accuracy of this data has not been assessed</dd>
          </dl>
          
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>This data set shows the coverage of primary humid tropical forest in the Democratic Republic of the Congo in the year 2000 at a 60 meter resolution. “Primary forest” is defined in this data set as mature humid tropical forest with greater than 60% canopy cover, and differs from “secondary forest” (regrowing forest with greater than 60% canopy cover) and “woodlands” (between 30% and 60% canopy cover). The authors created a composite of cloud-free Landsat imagery during the growing season of 2000 to conduct the analysis. They applied supervised bagged classification tree models to separate forest areas from non-forest based on training sites. Within forest areas, primary forests were separated from secondary forests and woodlands using supervised classification. For more information on methodology, see <a href="http://www.sciencedirect.com/science/article/pii/S0034425712000430" target="_blank">here.</a></p>

          <p class='credits'><strong>Citation:</strong> Observatoire Satellital des forêts d'Afrique centrale, South Dakota State University, and University of Maryland. “Democratic Republic of the Congo primary forests”. Accessed through Global Forest Watch on [date]. <a href="http://www.globalforestwatch.org" target="_blank">www.globalforestwatch.org</a> </p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
    <li id='idn_peat_lands' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Peat lands</strong>
        <i class='expand_arrow'></i>
        <em class='source_description'>(Indonesia, 2011)</em>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Displays the location and depth of peat in Indonesia</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>1:250,000 scale.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Indonesia</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Ministry of Agriculture</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>2011</dd>
          </dl>
          
          
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>

          <p class='credits'><strong>Citation:</strong> Ministry of Agriculture. “Indonesia peat lands.” Accessed through Global Forest Watch on [date].  <a href="http://www.globalforestwatch.org" target="_blank">www.globalforestwatch.org</a> </p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
    <li id='hwsd' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Soil Organic Carbon density</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd> Identifies organic carbon density in the topsoil (0-30 cm depth).</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>1 × 1 kilometer.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Global</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>FAO/IIASA/ISRIC/ISSCAS/JRC, 2012. Harmonized World Soil Database (version 1.2). FAO, Rome, Italy and IIASA, Laxenburg, Austria.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>March 2012</dd>
          </dl>
           <dl class='sources_row even'>
            <dt>Cautions</dt>
            <dd>Reliability of the information contained in the Harmonized World Soil Database is variable due to the use of different data sources within the database. North America, Australia, West Africa and South Asia are considered less reliable, while Central and Southern Africa, Latin America and the Caribbean, Central and Eastern Europe have the highest reliability.</dd>
          </dl>
           <dl class='sources_row'>
            <dt>License</dt>
            <dd>Used with permission from the International Institute for Applied Systems Analysis (IIASA)</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>Soil is the second largest global carbon stock (after oceans) and is a significant component of the biosphere, delivering important ecosystem services. Soil organic carbon is a major component of soil organic matter, which is derived from residual, decomposed plant and animal material. Natural factors, such as land cover, vegetation, topography and climate, as well as man-made factors, such as land use and management, can influence the amount of soil organic matter, and thus soil organic carbon, present in soils.</p>
          <p>To calculate topsoil organic carbon, we use data from the <a href="http://webarchive.iiasa.ac.at/Research/LUC/External-World-soil-database/HTML/index.html?sb=1" target="_blank">Harmonized World Soil Database (HWSD)</a>, a compilation of four soil databases: the European Soil Database (ESDB), the 1:1 million soil map of China, various regional SOTER databases (SOTWIS Database), and the Soil Map of the World. The HWSD contains information on soil parameters, such as organic carbon, pH, water storage capacity, soil depth, total exchangeable nutrients and salinity.</p>
          <p>Topsoil organic carbon (measured in tons per hectare) was calculated using inputs of percent carbon content, bulk density, and gravel volume. We use relative bulk density values except for Andosols and Histosols, which are typically overestimated by this method. Values are calculated for 0-30 cm depth. See more information on calculating SOC from the HWSD <a href="http://eusoils.jrc.ec.europa.eu/esdb_archive/eusoils_docs/other/EUR25225.pdf" target="_blank">here</a></p>

          <p class='credits'><strong>Citation:</strong> World Resources Institute, derived from the Harmonized World Soil Database. “Soil Organic Carbon”. Accessed through Global Forest Watch Climate on [date].  <a href="http://climate.globalforestwatch.org" target="_blank">climate.globalforestwatch.org</a></p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
