<svg class="is-hidden" style="display:none">
  <defs>
  <symbol id="icon-download" viewBox="0 0 32 32">
  <title>download</title>
  <path fill="#6c94b6" style="fill: var(--color1, #6c94b6)" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
  <path fill="#fff" style="fill: var(--color2, #fff)" d="M18.182 16.727v-8h-4.364v8h-3.636l5.818 8 5.818-8h-3.636z"></path>
  </symbol>
  <symbol id="icon-info" viewBox="0 0 32 32">
  <title>info</title>
  <path fill="#fff" opacity="0.5" style="fill: var(--color2, #fff)" d="M16 32c-8.836 0-16-7.164-16-16s7.164-16 16-16 16 7.164 16 16-7.164 16-16 16zM16 30.545c8.033 0 14.545-6.512 14.545-14.545s-6.512-14.545-14.545-14.545-14.545 6.512-14.545 14.545 6.512 14.545 14.545 14.545zM19.636 23.273v1.455h-7.273v-1.455h0.727c0.809 0 1.455-0.646 1.455-1.44v-5.847c-0.008-0.797-0.656-1.44-1.454-1.44-0 0-0 0-0 0h-0.727v-1.455h5.818v8.73c0 0.803 0.652 1.452 1.455 1.452zM16.436 10.909c-1.205 0-2.182-0.977-2.182-2.182s0.977-2.182 2.182-2.182v0c1.205 0 2.182 0.977 2.182 2.182s-0.977 2.182-2.182 2.182v0z"></path>
  </symbol>
  </defs>
</svg>
