<svg class="is-hidden" style="display:none">
  <!-- download -->
  <symbol id="shape-download-18" viewBox="0 0 18 18">
    <g>
      <path d="M 7.0536 1 L 7.0536 6.8968 L 4 6.8968 L 8.5 13 L 13 6.8968 L 9.9464 6.8968 L 9.9464 1 L 7.0536 1 Z"></path>
      <path d="M 0 17 L 17 17 L 17 10 L 15 10 L 15 15 L 2 15 L 2 10 L 0 10 L 0 17 Z"></path>
    </g>
  </symbol>
  <!-- download arrow -->
  <symbol id="shape-download-arrow" viewBox="0 0 9 12">
    <g>
      <path d="M 3 0 L 3 6 L 0 6 L 4.5 12.2064 L 9 6 L 6 6 L 6 0 L 3 0 Z"></path>
      </g>
  </symbol>
  <!-- graph -->
  <symbol id="shape-graph" viewBox="0 0 18 18">
    <g>
      <path d="M 1.0732 11.2031 L 0.2969 10.5732 L 5.915 3.6514 L 7.8628 6.6514 L 12.7334 0.6509 L 15.3271 4.647 L 14.4883 5.1914 L 12.6436 2.3491 L 7.7729 8.3486 L 5.8252 5.3486 L 1.0732 11.2031 Z"></path>
    </g>
    <g>
      <path d="M 1 14 L 0 14 L 0 0 L 1 0 L 1 14 Z"></path>
    </g>
    <g>
      <path d="M 15 14 L 0 14 L 0 13 L 15 13 L 15 14 Z"></path>
    </g>
  </symbol>
  <!-- settings -->
  <symbol id="shape-settings" viewBox="0 0 16 16">
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5,5.2c1.4,0,2.4,1.1,2.4,2.5s-1.1,2.5-2.4,2.5S5.1,9,5.1,7.7
  S6.2,5.2,7.5,5.2z M7,0c0.3,0,0.7,0,1,0l0.8,2.1C9.2,2.2,9.6,2.3,10,2.5l1.9-1.1c0.3,0.2,0.5,0.4,0.8,0.7L12,4.3
  c0.3,0.4,0.5,0.7,0.6,1.1l2.1,0.4c0.1,0.3,0.1,0.6,0.2,1L13.1,8c0,0.5-0.1,0.8-0.2,1.3l1.4,1.8c-0.2,0.3-0.3,0.6-0.5,0.9l-2.2-0.3
  c-0.3,0.3-0.6,0.6-1,0.8l-0.1,2.2c-0.3,0.1-0.6,0.2-0.9,0.3l-1.5-1.7c-0.4,0-0.8,0-1.3,0L5.4,15c-0.3-0.1-0.6-0.2-1-0.3l0-2.2
  c-0.4-0.2-0.7-0.5-1-0.8l-2.2,0.3C1,11.6,0.9,11.4,0.7,11l1.4-1.8C2,8.8,1.9,8.5,1.9,8L0,6.8c0-0.4,0.1-0.7,0.2-1l2.1-0.4
  C2.5,5,2.7,4.6,3,4.3L2.3,2.1C2.5,1.9,2.8,1.7,3,1.5L5,2.5c0.4-0.2,0.8-0.3,1.2-0.5L7,0z"/>
    </g>
  </symbol>
  <!-- info -->
  <symbol id="shape-info" viewBox="0 0 512 1024">
    <path class="path1" d="M64 512c35.36 0 64 28.64 64 64v256c0 35.36-28.64 64-64 64h-64v128h512v-128h-63.744c-35.264 0-64.256-28.64-64.256-64l-0.128-448h-383.872v128h64zM128 128c0-70.692 57.308-128 128-128s128 57.308 128 128c0 70.692-57.308 128-128 128s-128-57.308-128-128z"></path>
  </symbol>

  <!-- piechart selector -->
  <symbol id="icon-selector-piechart" viewBox="0 0 1024 1024">
    <path class="path1" d="M512 1024c-282.77 0-512-229.23-512-512s229.23-512 512-512c282.77 0 512 229.23 512 512s-229.23 512-512 512zM512 972.8c254.493 0 460.8-206.307 460.8-460.8s-206.307-460.8-460.8-460.8c-254.493 0-460.8 206.307-460.8 460.8s206.307 460.8 460.8 460.8z"></path>
    <path class="path2" d="M512 768c-141.385 0-256-114.615-256-256s114.615-256 256-256c141.385 0 256 114.615 256 256s-114.615 256-256 256zM512 716.8c113.108 0 204.8-91.692 204.8-204.8s-91.692-204.8-204.8-204.8c-113.108 0-204.8 91.692-204.8 204.8s91.692 204.8 204.8 204.8z"></path>
    <path class="path3" d="M523.888 307.539v-256.339c248.966 6.109 448.912 209.845 448.912 460.282 0 98.188-30.735 189.198-83.11 263.933v0l-207.382-149.63c21.786-32.544 34.492-71.681 34.492-113.785 0-109.118-85.337-198.304-192.912-204.461z"></path>
  </symbol>

  <!-- chart bars -->
  <symbol id="icon-chart-bars" viewBox="0 0 1092 1024">
  <title>chart-bars</title>
    <path class="path1" d="M68.267 341.333h273.067v546.133h-273.067v-546.133zM0 955.733h1092.267v68.267h-1092.267v-68.267zM750.933 477.867h273.067v409.6h-273.067v-409.6zM409.6 0h273.067v887.467h-273.067v-887.467z"></path>
  </symbol>

  <!-- Check -->
  <symbol id="icon-check" viewBox="0 0 910 1024">
    <title>check</title>
    <path class="path1" d="M699.486 71.024l-398.222 648.533 180.444-17.766-284.444-307.2-166.971 154.603 386.38 417.29 476.73-776.39-193.916-119.071z"></path>
  </symbol>

  <!-- First step Arrow -->
  <symbol id="icon-first_step-arrow" viewBox="0 0 1806 1024">
    <title>first_step-arrow</title>
    <path class="path1" d="M1617.108 4.743l-10 18.189c14.538 7.992 32.843 15.9 54.098 23.673 19.007 6.951 39.323 13.42 59.633 19.245 7.104 2.038 13.702 3.85 19.63 5.417 2.080 0.55 3.928 1.030 5.526 1.437 0.967 0.247 1.641 0.416 2 0.505l1.135-20.364c-4.949 0.653-13.225 2.359-23.741 5.566-17.431 5.317-34.863 13.047-51.192 23.679-22.721 14.794-41.423 34.033-54.598 58.246l18.232 9.921c11.435-21.015 27.723-37.77 47.692-50.772 14.571-9.487 30.246-16.438 45.921-21.219 5.476-1.67 10.546-2.947 15.069-3.879 2.645-0.545 4.469-0.849 5.332-0.963l54.422-7.181-53.288-13.183c-1.288-0.319-3.746-0.946-7.207-1.861-5.792-1.531-12.251-3.305-19.21-5.301-19.87-5.699-39.733-12.024-58.227-18.787-20.348-7.442-37.749-14.958-51.227-22.368zM1722.316 78.822c-488.184-23.285-881.597 18.306-1171 142.515-344.273 147.759-528.073 408.504-528.073 802.663h-20.757c0-402.726 188.967-670.8 540.643-821.737 292.893-125.707 689.124-167.596 1180.176-144.174l-0.989 20.733z"></path>
  </symbol>
</svg>
