<svg class="is-hidden" style="display:none">

  <!-- Lock -->
  <symbol id="icon-lock" viewBox="0 0 1024 1024">
  <title>lock</title>
    <path fill="rgb(91, 128, 160)" class="path1 fill-color1" d="M1024 512c0 282.77-229.23 512-512 512s-512-229.23-512-512c0-282.77 229.23-512 512-512s512 229.23 512 512z"></path>
    <path fill="rgb(255, 255, 255)" class="path2 fill-color3" d="M307.2 742.27c0 42.3 33.49 76.93 77.142 76.93h235.65c43.66 0 96.808-34.638 96.808-76.93v-230.775c0-10.443-8.735-18.912-19.506-18.912h-277.306v-135.461c0-49.782 40.679-90.139 92.008-90.139s92.008 40.373 92.008 90.139v41.701c0 5.369 0 93.752 0 93.752h76.99c0 0 0.184-88.383 0.184-93.752 0 0-0.080-47.358-0.184-47.925-3.799-81.242-81.406-146.098-166.033-146.098-86.775 0-166.217 68.189-166.217 152.322v135.453h-22.046c-10.763 0-19.498 8.477-19.498 18.92v230.775z"></path>
</symbol>

  <!-- Unlock -->
  <symbol id="icon-unlock" viewBox="0 0 1024 1024">
  <title>unlock</title>
  <path fill="rgb(190, 188, 194)" class="path1" d="M325.818 721.336c0 38.454 30.446 69.936 70.129 69.936h214.227c39.691 0 88.008-31.489 88.008-69.936v-209.795c0-9.493-7.941-17.193-17.733-17.193h-252.096v-123.146c0-45.256 36.981-81.945 83.644-81.945s83.644 36.702 83.644 81.945v37.91c0 4.881 4.087 8.837 9.121 8.837h51.216c5.741 0 9.821-3.956 9.821-8.837 0 0-0.073-43.053-0.168-43.568-3.453-73.857-74.005-132.816-150.939-132.816-78.886 0-151.106 61.99-151.106 138.474v123.139h-20.042c-9.784 0-17.725 7.706-17.725 17.2v209.795z"></path>
  <path fill="rgb(190, 188, 194)" class="path2" d="M46.545 512v0 0c0 257.12 208.391 465.455 465.455 465.455v0c257.12 0 465.455-208.391 465.455-465.455v0c0-257.12-208.391-465.455-465.455-465.455v0c-257.12 0-465.455 208.391-465.455 465.455v0zM0 512v0c0-282.788 229.192-512 512-512 282.788 0 512 229.192 512 512 0 282.788-229.192 512-512 512-282.788 0-512-229.192-512-512v0z"></path>
</symbol>
</svg>
