javascript:

  window.liveSettings = {
  	api_key:"35ae26e6686249dea297972fc1978922",
    picker: '#transifexTranslateElement',
    detectlang: false,
    autocollect: true,
    staging: false,
    site: 'gfw-climate'
  };
