javascript:
  if(location.hostname.indexOf('globalforestwatch.org') !== -1)
    window.liveSettings= { api_key:"35ae26e6686249dea297972fc1978922",
      picker: '#ma-div-temp-for-collection',
      detectlang: false,
      autocollect: true,
      staging: false};

script type="text/javascript" src="//cdn.transifex.com/live.js"
