<div class="l-header -narrow">
  <div class="inner insights-title">
    <h2 class="-width-margin">Deforestation and Emissions Calculator</h2>
  </div>
</div>

<div class="inner">
  Todo: subtitle and switch selector
</div>

<div class="inner">
  <div id="geo-list"></div>
</div>
