<div class="l-header">
  <div class="inner insights-title">
    <h2 class="-width-margin">Independent Baseline and Forest Monitoring Report</h2>
  </div>
</div>


<div class="inner">
  <div class="m-sub-header">
    <h3>Select a region or go to the <a href="/countries/PT/report">pantropical monitor report</a></h3>
    <div id="countryInsighSwitch"></div>
  </div>
</div>

<div class="inner">
  <div class="geo-tabs">
    <div id="geo-continents-list" class="geo-tab is-loading"></div>
    <div id="geo-countries-list" class="geo-tab -active is-loading"></div>
  </div>
</div>
