<div class="l-header -narrow">
  <div class="inner insights-title">
    <h2 class="-width-margin">Deforestation and Emissions Calculator</h2>
  </div>
</div>

<div class="inner">
  <div class="insights">
    <a href="/insights/emissions-calculator/ESP">Go to detail</a>
  </div>
</div>
