{{!-- Cambiar id numérico por widget-id --}}
<section class="country-widget">
  <div class="country-widget__header">
    <h2 class="country-widget__name">{{name}}</h2>
    <div class="options">
      <a class="close" href="#">Delete
        <svg>
          <use xlink:href="#shape-close"></use>
        </svg>
      </a>
      <a class="info" href="#">
        <svg>
          <use xlink:href="#shape-info"></use>
        </svg>
      </a>
      <a class="share" href="#">
        <svg>
          <use xlink:href="#shape-share"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="country-widget__content">

    {{#if tabs}}
      <ul class="tab-ul">
      {{#each tabs}}
        <li class="tab-li" data-position="{{position}}">{{name}}</li>
      {{/each}}
      </ul>
      <div class="tab-content"></div>
    {{/if}}
  </div>
</section>
