<div class="legend">
  <div class="content">
    <div id="country-geo" class="shape"></div>
    <div class="stats">
      <div class="name">{{country}}</div>
      <div class="km">{{km2}} <span class="unit">km<sup>2</sup></span></div>
      <div class="ha">({{ha}} ha)</div>
    </div>
  </div>
  <p>
    Land area calculated using Global Administrative Boundaries (GADM), version 2.8.
  </p>
</div>
