{{#if hasData}}
  <div id="provinces-top-chart-svg" class="chart"></div>
  <div class="legend">
    <div class="content">
      <ul class="list">
        <li class="item -reference"><span class="icon"></span>Reference period</li>
        <li class="item -monitoring"><span class="icon"></span>Monitoring period</li>
      </ul>
    </div>
  </div>
{{else}}
  No data
{{/if}}
