<div class="l-compare-selectors">
  <div class="m-compare-selector" data-tab="1">
    <div class="m-compare-selector-empty">
      <p>Click to select</p>
    </div>
  </div>
  <div class="m-compare-selector" data-tab="2">
    <div class="m-compare-selector-empty">
      <p>Click to select</p>
    </div>
  </div>
</div>
