<section>
  <div class="gridgraphs--container">
    {{#each countries}}
      <div id="compare-grid-{{this.iso}}" class="gridgraphs--item">
        {{this.name}}
      </div>
    {{/each}}
  </div>
</section>
