<div class="l-compare-selectors">
  {{#each selection}}
    <div class="m-compare-selector" data-tab="{{this.tab}}">
        <div class="selection-name">{{this.name}}</div>

        <div class="country-figure {{this.classname}} is-mobile-hidden" id="compare-figure{{this.tab}}">
          <span></span>
        </div>

        <div class="m-compare-selector-not-empty">
          <p>Click to modify search</p>
        </div>
    </div>
  {{/each}}
</div>
