<div class="m-compare-switcher">  
  {{#each selection}}
    <button class="compare-switcher js--compare-switcher is-tab-{{this.tab}}" data-tab="{{this.tab}}">{{this.name}}</button>
  {{/each}}
</div>
