<section>
  <div class="gridgraphs--container">

      <div id="compare-grid-{{this.compare1slug}}" class="gridgraphs--item"></div>
      <div id="compare-grid-{{this.compare2slug}}" class="gridgraphs--item"></div>
  </div>
</section>
