<section>
  {{#each this.widgets}}
    <div id="gridgraphs-compare-{{this}}" class="gridgraphs--container">
      <button class="lock-mode" data-id="{{this}}">
        <svg class="icon-unlock"><use xlink:href="#icon-unlock"></use></svg>
        <svg class="icon-lock"><use xlink:href="#icon-lock"></use></svg>
        <div class="locker-tooltip is-hidden">
          <span class="tooltip-legend">Lock</span>
          {{!-- <span class="tooltip-legend unlock">unlocked</span> --}}
        </div>
      </button>
    </div>
  {{/each}}
</section>
