<div class="l-compare-switcher is-desktop-hidden">
  <div class="m-compare-switcher">  
    {{#each selection}}
      <button class="compare-switcher js--compare-switcher" data-tab="{{this.tab}}">{{this.name}}</button>
    {{/each}}
  </div>
</div>