<div class="noselect">
  <ul class="categories-list">

    {{!-- CARBON LOSS --}}
    <li class="carbon-loss">
      <span class="category-name">CARBON LOSS <i id="carbon_loss-category-num" class="category-num"></i></span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-carbon-emissions"></use></svg></div>
          <span class="category-name">CARBON LOSS</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="biomass_loss">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Tree Biomass Loss<a href='#' data-source='tree_biomass_loss' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
           <li class="layer" data-layer="peatland_drainage">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Emissions from peat drainage<a href='#' data-source='peatland_drainage' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
        </ul>
      </div>
    </li>

    {{!-- CARBON GAINS --}}
    <li class="carbon-gains">
      <span class="category-name">CARBON GAINS <i id="carbon_gains-category-num" class="category-num"></i></span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-carbon-emissions"></use></svg></div>
          <span class="category-name">CARBON GAINS</span>
        </div>
        <ul class="layers-list">
          <li class="wrapped-layer" data-color="#36893D">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Potential carbon gains from forest regeneration<a href="#" data-source="potential_tree_biomass_gain" class="source"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-info"></use></svg></a></span>
            <span class="layer-info">
              <label data-layer="total_sg" class="layer wrapped">
                <span></span>
                <input type="radio">Total
              </label>
              <label data-layer="ysg_msg" class="layer wrapped">
                <span></span>
                <input type="radio">Young and mid secondary forests only
              </label>
              <label data-layer="pastures" class="layer wrapped">
                <span></span>
                <input type="radio">Pasture areas only
              </label>
              <label data-layer="crops_1" class="layer wrapped">
                <span></span>
                <input type="radio">Crop areas only
              </label>
            </span>
          </li>
        </ul>
      </div>
    </li>

    {{!-- CARBON DENSITY --}}
    <li class="carbon-density">
      <span class="category-name">CARBON DENSITY<i id="carbon_density-category-num" class="category-num"></i></span>

       <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-stories"></use></svg></div>
          <span class="category-name">CARBON DENSITY</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="carbon_stocks">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Aboveground Live Woody Biomass density<a href='#' data-source='aboveground_biomass' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="hwsd">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Soil Organic Carbon<a href='#' data-source='soil_organic_carbon' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="global_mangroves_biomass">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Global Distribution of Modelled Mangrove Biomass (2014)<a href='#' data-source='Aboveground_mangrove_biomass_density' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
        </ul>
      </div>
    </li>

    {{!-- LAND USE --}}
    <li class="land-use">
      <span class="category-name">LAND USE<i id="forest_use-category-num" class="category-num"></i></span>
      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-forestuse"></use></svg></div>
          <span class="category-name">LAND USE</span>
        </div>
        <ul class="layers-list">
        <div class="layer-group">
            <span class="group-name">Conservation</span>
            <li class="layer" data-layer="protected_areasCDB">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Protected Areas<a href='#' data-source='wdpa_protected_areas' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            </li>
          <div class="layer-group">
            <span class="group-name">Concessions</span>
            <li class="layer" data-layer="logging">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Managed forests (select countries)<a href='#' data-source='gfw_logging' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            </li>
            <li class="layer" data-layer="mining">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Mining (select countries)<a href='#' data-source='gfw_mining' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            </li>
            <li class="layer" data-layer="oil_palm">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Oil palm<a href='#' data-source='gfw_oil_palm' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(select countries)</span>
            </li>
            <li class="layer" data-layer="wood_fiber_plantations">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Wood fiber<a href='#' data-source='gfw_wood_fiber' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(select countries)</span>
            </li>
          </div>
          <div class="layer-group">
            <span class="group-name">Infrastructure</span>
            <li class="layer" data-layer="dam_hotspots">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Major dams<a href='#' data-source='dam_hotspots' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            </li>
          </div>
        </ul>
      </div>
    </li>

    {{!-- LAND COVER --}}
    <li class="land-cover">
      <span class="category-name">LAND COVER <i id="forest_cover-category-num" class="category-num"></i></span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-forestcover"></use></svg></div>
          <span class="category-name">LAND COVER</span>
        </div>
        <ul class="layers-list">

          <li class="layer" data-layer="ifl_2013_deg">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Intact Forest Landscapes<a href='#' data-source='intact_forest_landscapes_change' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            <span class="layer-info">(2000/2013)</span>
          </li>

          <li class="wrapped-layer" data-color="#D67828">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Tree plantations (select countries)<a href="#" data-source="gfw_plantations" class="source"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-info"></use></svg></a></span>
            <span class="layer-info">
              <label data-layer="plantations_by_type" class="layer wrapped">
                <span></span>
                <input type="radio">by type
              </label>
              <label data-layer="plantations_by_species" class="layer wrapped">
                <span></span>
                <input type="radio">by species
              </label>
            </span>
          </li>
        </ul>
      </div>
    </li>

    <li id="country-layers" class="country-layers-nav country disabled">
      <span class="category-name">COUNTRY LAYERS <i id="forest_clearing-category-num" class="category-num"></i></span>
    </li>
    <li id="country-layers-reset" class="country-close disabled hidden">
      <button class="btn close"><span><svg><use xlink:href="#shape-close"></use></svg></span></button>
    </li>
  </ul>
</div>
