<h3>Total</h3>
<div class="line-value legend-value">
  <p>Tree cover loss</p>
  <span>{{lineTotalValue}} ha</span>
</div>
<div class="bars-value legend-value">
  <p>Gross carbon emissions</p>
  <span>{{barsTotalValue}} MtCO<sub>2</sub></span>
</div>
