<h3>Total</h3>
<div class="line-value legend-value">
  <p>Tree cover loss</p>
  <span>{{lineTotalValue}} Ha</span>
</div>
<div class="bars-value legend-value">
  <p>Gross carbon emissions</p>
  <span>{{barsTotalValue}} TCO2</span>
</div>

