
.feature-section {
  &:first-child {
    border-top: 1px solid $border;
  }
  &.-country-profiles,
  &.-pantropical {
    background: rgba($gray, .2);
  }

  &.-intro > .feature-content {}
  &.-country-profiles > .feature-content {}
  &.-map > .feature-content {}
  &.-compare-countries > .feature-content {}
  &.-pantropical > .feature-content {}

}

.col-container {
  > .title {
    font-size: 35px;
    font-weight: 300;
    color: $dark;
  }

  > .description {
    margin: 20px 0 0;
    font-size: 19px;
    line-height: 24px;
    color: $dark;
  }

  > .description > span {
    color: $blue;
    font-weight: 700;
  }

  > .link-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
  }
}
