.m-feature-slider {

  &.main-slider {
    @media (min-width: $br-mobile) {
      margin: 0 0 60px;
    }

    @media screen and (max-width: $br-mobile) {
      height: 425px;
    }
  }

  .main-slider-viewport {
    @media screen and (max-width: $br-mobile) {
      max-height: 425px !important;
    }
  }

  .main-slider-viewport > .slick-dots {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);

    li button {
      width: 100px;
      height: 100px;
      background-color: $white;
      opacity: 1;

      $backgrounds: "1", "2", "3", "4";

      @for $i from 1 through length($backgrounds) {
        &:nth-child(#{nth($backgrounds, $i)}){
          background-image: image-url('home/features/profiles/profile#{nth($backgrounds, $i)}b.png');
          background-position: center;
          background-color: $white;
        }
      }
    }

    li {
      position: relative;

      &:after {
        position: absolute;
        bottom: -20px;
        right: 50%;
        transform: translate(50%, 50%);
        text-align: center;
        font-size: 12px;
        color: $font-color-1;
        text-align: center;
        text-transform: capitalize;
      }

      &:nth-child(1):after {
        content: "JOURNALISTS";
      }

      &:nth-child(2):after {
        content: "ORGANIZATIONS";
      }

      &:nth-child(3):after {
        content: "POLICY MAKER";
      }

      &:nth-child(4):after {
        content: "INVESTORS";
      }
    }

    li.slick-active button, 
    li:hover button {
      opacity: 1;
      transform: scale(1);
      background-image: image-url('home/features/profiles/profile1.png');
    }
  
  }

  .col > .col-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    @media screen and (min-width: $br-mobile) {
      // padding: 120px 60px;
    }
  }

  .description-container {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    margin: 0;

    > .title {
      font-size: 19px;
      color: $dark;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 24px;
    }

    > .description {
      margin: 10px 0 0;
      font-size: 20px;
      color: $white;
      font-weight: 300;
      line-height: 25px;

      span {
        color: $font-color-2;
      }
    }

    @media screen and (min-width: $br-mobile) {

      > .description {
        font-size: 35px;
        line-height: 40px;
      }
    }
  }

  .profile-list {
    position: absolute;
    top: auto;
    bottom: 0;
    margin: 0 0 -10px 0;
    transform: translate(0, 50%);
    width: 100%;
    text-align: center;
  }

  .profile-list > .profile {
    display: inline-block;
    width: 135px;
    > .profile-img {
      cursor: pointer;
    }
    > .profile-name {
      font-size: 14px;
      color: $dark;
      line-height: 21px;
      text-align: center;
      text-transform: capitalize;
    }
  }

  .slide {

    @media screen and (max-width: $br-mobile) {
      height: 425px;
    }


    > .slide-container {
      position: relative;
      display: flex;
      min-height: 425px !important;
      padding: 0;

      @media (min-width: 850px) {
        min-height: 620px !important;
      }

      img {
        position: absolute;
        width: 100%;
      }
    }

    .slide-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
    }

    &.slide0 {
      .col-container {
        background: $brown;
      }
      .slide-background {
        background-image: image-url('home/features/slider/slide0.png');
      }
    }

    &.slide1 {
      .col-container {
        background-color: $brown;
      }
    }

    &.slide2 {
      .col-container {
        background-color: $brown;
      }
    }

    &.slide3 {
      .col-container {
        background-color: $brown;
      }
    }
  }
}
