$slider-height-mb: 550px;

.m-feature-slider {
  @include clearfix();

  &.main-slider {
    @media (min-width: $br-mobile) {
      margin: 0 0 60px;
    }

    @media screen and (max-width: $br-mobile) {
      height: 900px;
      background: none;
    }
  }

  .main-slider-viewport {
    @media screen and (max-width: $br-mobile) {
      max-height: $slider-height-mb !important;
    }
  }

  .main-slider-viewport > .slick-dots {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);

    li button {
      width: 100px;
      height: 100px;
      background-color: $white;
      opacity: 1;
      box-shadow: none;

      $backgrounds: "1", "2", "3", "4";

      @for $i from 1 through length($backgrounds) {
        &:nth-child(#{nth($backgrounds, $i)}){
          background-image: image-url('home/features/profiles/profile#{nth($backgrounds, $i)}b.png');
          background-position: center;
          background-color: $white;
        }
      }
    }

    li {
      position: relative;
      text-align: center;

      &:after {
        position: absolute;
        bottom: -20px;
        right: 50%;
        transform: translate(50%, 50%);
        text-align: center;
        font-size: 12px;
        color: $font-color-1;
        text-align: center;
        text-transform: capitalize;
      }

      &:nth-child(1):after {
        content: "JOURNALISTS";
      }

      &:nth-child(2):after {
        content: "CONSERVATION ORGANIZATIONS";
      }

      &:nth-child(3):after {
        content: "DONORS/GOVERNMENT";
      }

      &:nth-child(4):after {
        content: "BUSINESSES";
      }
    }

    li.slick-active button, 
    li:hover button {
      opacity: 1;
      transform: scale(1);
      background-image: image-url('home/features/profiles/profile1.png');
    }

    @media screen and (max-width: $br-mobile) {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 300px;
      transform: translate(50%, 185%);
      
      li {
        flex-basis: 48%;
        margin: 0;
        float: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 150px;

        &:after {
          bottom: 25px;
        }
      }
    }
  }

  .col > .col-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
  }

  .description-container {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    margin: 0;

    > .title {
      font-size: 19px;
      color: $dark;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 24px;
    }

    > .description {
      margin: 10px 0 0;
      font-size: 20px;
      color: $white;
      font-weight: 300;
      line-height: 25px;

      span {
        color: $font-color-2;
      }
    }

    @media screen and (min-width: $br-mobile) {

      > .description {
        font-size: 35px;
        line-height: 40px;
      }
    }
  
    @media screen and (max-width: $br-mobile) {
      left: 20px;
      right: 20px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  .slide {

    @media screen and (max-width: $br-mobile) {
      height: $slider-height-mb;
    }


    > .slide-container {
      position: relative;
      display: flex;
      min-height: $slider-height-mb !important;
      padding: 0;

      @media (min-width: 850px) {
        min-height: 620px !important;
      }

      @media (max-width: $br-mobile) {
        flex-direction: column;

        .col.-c5 {
          @include col(100);
          height: $slider-height-mb/2;

          &:first-child {
            display: flex;
            order: 2;
          }
        }

        .col-container {
          left: 0;
          right: 0;
        }

        .description-container {
          margin-top: 0; 
        }
      }

      img {
        position: absolute;
        width: 100%;
      }
    }

    .slide-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
    }

    &.slide0 {
      .col-container {
        background: $brown;
      }
      .slide-background {
        background-image: image-url('home/features/slider/slide0.png');
      }
    }

    &.slide1 {
      .col-container {
        background-color: $brown;
      }
    }

    &.slide2 {
      .col-container {
        background-color: $brown;
      }
    }

    &.slide3 {
      .col-container {
        background-color: $brown;
      }
      .slide-background {
        background-image: image-url('home/features/slider/slide3.jpg');
      }
    }
  }
}
