.field {
  margin: 0 0 25px;
  position: relative;
  clear: both;
}

.field_with_errors {
  label {
    color: #C12000;
  }

  input[type="text"],
  input[type="email"] {
    border: 1px solid #C12000;
  }

  p {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 12px;
    color: #C12000;
    text-transform: uppercase;
  }
}

label {
  float: left;
  color: #333;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

input[type="password"],
input[type="text"],
input[type="date"],
input[type="email"],
textarea {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
}

textarea {
  height: 182px;
}

.field {
  @include clearfix();
  width: 100%;
  @media (min-width: $br-mobile) {
    max-width: 582px;
  }


  &.short {
    @media (min-width: $br-mobile) {
      max-width: 304px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"] {
      width: 100%;
      display: block;
      clear: both;
    }
  }

  &.required {
    span {
      float: right;
      font-size: 13px;
      color: #666;
      &.drop_pin{
        @media (max-width: $br-mobile - 1) {
          display: block;
          float: left;
          width: 100%;
          margin: 2px 0 5px;
        }
      }
    }
  }
}

.inline-form {
  .field {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    @media (min-width: $br-mobile) {
      width: 100%;
    }
    & + .field {
      margin-top: 5px;
    }
  }
  label {
    display: inline-block;
    text-align: left;
    width: 80%;
    float: none;
  }
  input {
    margin: 10px 0 15px;
    min-height: 40px;

    &.error {
      border: 1px solid $red;
    }
  }
  .btn-container {
    height: 40px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(20% - 5px);
    button {
      width: 120px;
      height: 36px;
      position: relative;
      text-align: center;
      .icon {
        opacity: 0;
        position: absolute;
        top: 8px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 18px;
        fill: $white;
      }

      &.-success,
      &.is-loading {
        white-space: nowrap;
        overflow: hidden;
        text-indent: -9999px;
      }

      &.is-loading {
        &:after {
          top: 24px;
          left: 60px;
          width: 25px;
          height: 25px;
          border-width: 3px;
        }
      }
      &.-success {
        .icon {
          opacity: 1;
        }
      }
    }

  }
}
