.grid--graph {
  width: 100%;
  position: relative;
  z-index: 0;
}

.gridgraphs--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
  padding-top: 50px;
  border-top: 1px solid $border;
  position: relative;
  min-height: 200px;

  &:first-child {
    margin: 0;
    border: none;
  }

  .gridgraphs--widget {
    width: 47.5%;
  }

  &.is-locked {
    background: #f8fafb;

    .locker-tooltip > .tooltip-legend {
      color: $blue;
    }
  }
}


.gridgraphs--container-profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 0;

  .gridgraphs--widget {
    width: 47.5%;
  }

  h2 {
    font-size: 32px;
    font-weight: 300;
    text-transform: capitalize;
  }
}
