.gridgraphs--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 35px 0 0;
  padding: 35px 0 0;
  border-top: 1px solid $border;
  &:first-child {
    margin: 0;
    padding: 0;
    border: none;
  }
  .gridgraphs--widget {
    width: 47.5%;
  }
}

.gridgraphs--container-profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 0;

  .gridgraphs--widget {
    width: 47.5%;
  }
}
