.modal-download {
  .modal-wrapper {
    padding-top: 0;
  }

  .modal-title {
    display: block;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    color: $dark;
  }

  .modal-subtitle {
    display: block;
    margin-top: 25px;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #999;
  }

  .modal-footer {
    .btn {
      margin-left: 30px;
    }
  }
}
