<div class="linechart-graph"></div>
<div class="linechart-legend"></div>

<div class="fao-note is-hidden">
  <p>
    * According to FAO data, this country showed a net gain in forest area over this time period. Net and gross forest change are not the same thing.
    <a href="">See more</a>
  </p>
</div>

