h1 Countries

- @countries.each do |country|
  - if country['iso'].present? && country['enabled'].present?
    p =raw "#{country['name']} (#{country['iso']}) #{link_to 'view', country_path(country['iso'])}"