<div class="layout-content">
  <section data-iso="<%= params[:iso] %>" id="countryReportView">
    <div class="container-country">
      <section id="report" class="m-report is-loading"></section>
    </div>
  </section>
</div>
