<div class="sup-options">

  <div class="unit-conversor"></div>

  <div class="canopy-treshold">
    <span>display loss with
      <select class="selector blue" name="treshold" id="treshold">
        <option value="25">>25%</option>
        <option value="55">>55%</option>
        <option value="75">>75%</option>
      </select>
    canopy density</span>
  </div>

</div>

<div class="content" id="{{graphicId}}"></div>

<div class="sub-options">

  <div class="average">

    <span>Average:
      <select class="selector blue" name="min-average" id="min-average">
        <option value="2006">2006</option>
        <option value="2006">2007</option>
        <option value="2006">2008</option>
      </select>
      to
      <select class="selector blue" name="max-average" id="max-average">
        <option value="2006">2006</option>
        <option value="2006">2007</option>
        <option value="2006">2008</option>
      </select>
    </span>

    <span class="total-areas">9,243 ha yr-1</span>

  </div>

</div>
