<div class="piechart-container">
  <div class="description">
    <p>There where <span>3.5  <span class="underline">million tons</span> of <span class="underline">carbon</span></span>, in Gabon's forests in 2000.</p>
  </div>
  <div class="graph-container"></div>
</div>
