<div class="piechart-container">
  <div class="description">
    <p>There where <span>3.5 million tons of carbon</span>, in Gabon's forests in 2000.</p>
  </div>
  <div class="graph-container"></div>
</div>
