{{!-- BACKDROP --}}
<div class="modal-backdrop"></div>
{{!-- WINDOW --}}
<div class="modal-window">
  <a href="#" class="modal-close">
    <svg><use xlink:href="#shape-close"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content"></div>
  </div>
</div>




{{!-- TESTING --}}
<div style="display:none;">
  <li id='idn_peat_lands' class='source-item'>
    <div class='source_header'>
      <strong class='source_title'>Peat lands</strong>
      <i class='expand_arrow'></i>
      <em class='source_description'>(Indonesia, 2011)</em>
    </div>

    <div class='source_body'>
      <div class='source_table'>
        <dl class='sources_row'>
          <dt>Function</dt>
          <dd>Displays the location and depth of peat in Indonesia</dd>
        </dl>
        <dl class='sources_row even'>
          <dt>RESOLUTION / SCALE</dt>
          <dd>1:250,000 scale.</dd>
        </dl>
        <dl class='sources_row'>
          <dt>Geographic coverage</dt>
          <dd>Indonesia</dd>
        </dl>
        <dl class='sources_row even'>
          <dt>Source data</dt>
          <dd>Ministry of Agriculture</dd>
        </dl>
        <dl class='sources_row'>
          <dt>Date of content</dt>
          <dd>2011</dd>
        </dl>


      </div>

      <div class='source_summary'>
        <h3 class='overview_title'>Overview</h3>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>
        <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>

        <p class='credits'><strong>Citation:</strong> Ministry of Agriculture. “Indonesia peat lands.” Accessed through Global Forest Watch on [date].  <a href="http://www.globalforestwatch.org" target="_blank">www.globalforestwatch.org</a> </p>

        <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
      </div>
    </div>
  </li>
</div>
