<div class="legend">
  <div class="item">
    <span class="circle blue"></span><span>Aboveground</span>
  </div>
  <div class="item">
    <span class="circle gray"></span><span>Belowground</span>
  </div>
</div>
