.is-hidden {
  display: none !important;
  visibility: hidden;
}

.is-clearfix, .clearfix {
  @include clearfix;
}

.is-loading {
  @include spinner (40px, 5px, $color-1);
  pointer-events: none;
}

.is-no-scroll {
  overflow: hidden;
}


.no-pointer-events {
  pointer-events: none;
}

.is-bold {
  font-weight: 600;
}

.is-mobile-hidden {
  @media only screen and (max-width: $br-mobile) {
    display: none !important;
    visibility: hidden;
  }
}

.is-desktop-hidden {
  @media only screen and (min-width: $br-mobile) {
    display: none !important;
    visibility: hidden;
  }
}