.is-hidden {
  display: none;
  visibility: hidden;
}

.is-clearfix, .clearfix {
  @include clearfix;
}

.is-loading {
  @include spinner (40px, 5px, $color-1);
  pointer-events: none;
}

.is-no-scroll {
  overflow: hidden;
}


.no-pointer-events {
  pointer-events: none;
}

.is-bold {
  font-weight: 600;
}