// Compass
@import "reset";

//   // Images
// @import
//   "icons/*.png",
//   "logos/*.png",
//   "basemaps/*.png",
//   "home-icons/*.png",
//   "static-icons/*.png",
//   "static-logos/*.png",
//   "country-icons/*.png",
//   "stories-icons/*.png";

// General
@import "settings";
@import "fonts";
@import "mixins";
@import "animations";
@import "base";
@import "states";


// Layout
@import "header";
@import "footer";
@import "grid";

//modules
@import "modules/shared";
@import "modules/buttons";
@import "modules/icons";
@import "modules/slick";
@import "modules/notifications";
@import "modules/home/features";

@import "modules/slick";
@import "modules/home/features-slider";

@import
// Modules
  "modules/navbar",
  "modules/feedback",
  "modules/form",
  "modules/modal",
  "modules/dialog";


// Common
@import 'layouts/application';

