@import "reset";

// General
@import "settings";
@import "fonts";
@import "mixins";
@import "animations";
@import "base";

// Layout
@import "header";
@import "footer";
@import "grid";
@import "modules/notifications";


// Modules
@import "modules/modal";
@import "modules/modal_new";
@import "modules/shared";
@import "modules/buttons";
@import "modules/icons";
@import "modules/slick";
@import "modules/countries/header-profile";
@import "modules/countries/header-stats";
@import "modules/countries/list";
@import "modules/countries/header-show";
@import "modules/countries/indicators-modal";
@import "modules/countries/show";
@import 'modules/countries/report';
@import "modules/countries/no-indicators";
@import 'modules/countries/tabs.scss';
@import 'modules/countries/charts/line_chart';
@import "modules/select";
@import "modules/gridgraphs";

// Report modules
@import "modules/countries/report/table-list";
@import "modules/countries/report/summary-chart";

// Grids
@import "modules/countries/grid";

// Widgets and charts
@import "modules/widgets/*";
@import "modules/widgets/charts/*";

// Pantropical: we should remove this to another tab
@import "modules/pantropical/m-pantropical";

// Insights
@import "modules/insights/m-insights";
@import "modules/insights/m-glad-vis";
@import "modules/insights/m-chart-glad";

// Common
@import "states";
@import "modules/common/m-fixed-header";
@import "modules/common/m-toolbar";
@import "modules/common/m-grid-button-box";
@import "modules/common/m-modal-fields";

// Layouts
@import "layouts/countries";
@import 'layouts/compare';
