// Compass
@import "reset";

//   // Images
// @import
//   "icons/*.png",
//   "logos/*.png",
//   "basemaps/*.png",
//   "home-icons/*.png",
//   "static-icons/*.png",
//   "static-logos/*.png",
//   "country-icons/*.png",
//   "stories-icons/*.png";

// General
@import "settings";
@import "fonts";
@import "mixins";
@import "animations";
@import "base";


// Layout
@import "header";
@import "footer";
@import "grid";

//modules
@import "modules/shared";
@import "modules/buttons";
@import "modules/icons";
@import "modules/slick";
@import "modules/notifications";




@import

  // Layouts

  "layouts/map",
  "layouts/embed-map",

  // Modules
  "modules/navbar",
  "modules/feedback",
  "modules/form",
  "modules/modal",
  "modules/modal_new",
  "modules/dialog",

  // layer nav
  "modules/map/layer-nav",
  "modules/map/onoffswitch",
  "modules/map/onoffradio",

  "modules/map/mode",
  "modules/map/country-select",

  // Real Modules
  "modules/map/module",
  // legend
  "modules/map/module-legend",
  // controls
  "modules/map/module-mapcontrols",
  "modules/map/control-searchbox",
  "modules/map/control-share",
  "modules/map/control-threshold",
  // tabs
  "modules/map/module-tabs",
  "modules/map/tab-analysis",
  "modules/map/tab-basemaps",
  "modules/map/tab-countries",
  // timeline
  "modules/map/widget",
  "modules/map/timeline",
  "modules/map/timeline-btn",
  "modules/map/timeline-year",
  "modules/map/timeline-month",

  //Nav mobile
  "modules/map/module-navmobile",

  // analysis
  "modules/map/analysis-tool",
  "modules/map/analysis-results",
  "modules/map/analisys-graph",

  // infowindow
  "modules/map/infowindow";


@import "states";
