.content-list {
  margin-bottom: 70px;

  > .item {
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $br-mobile) {
      width: 100%;
    }

    > .image {
      width: 117px;
      min-width: 117px;
      max-width: 117px;
      max-height: 154px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
      margin-top: 5px;
      overflow: hidden;
    }

    > .detail {
      flex-direction: column;
      margin-left: 30px;

      > .title {
        margin-bottom: 10px;
        font-size: 21px;
        color: $font-color-1;
        line-height: 24px;
      }

      > .text {
        font-size: 14px;
        color: $font-color-4;
        line-height: 18px;
      }

      > .action {
        margin-top: 20px;

        .btn {
          border-color: $color-4;
          padding: 0;
          height: 34px;
          line-height: 0;

          a {
            padding: 8px 28px;
            line-height: 34px;
            color: $font-color-1;
          }
        }
      }
    }
  }

  > .links {
    width: 100%;
    display: flex;
    margin-top: 35px;
  }
}
