.pantropical-title{
  h3 {
    font-size: 18px;
    color: $white;
    text-align: center;
    margin-top: 20px;
  }

  h2 {
    font-size: 47px;
    color: $white;
    text-align: center;
  }
}

#pantropical_tooltip {
  max-width: 230px;
  width: 230px;
  left: -125px;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border:1px solid rgba(200,200,200,0.85);
  text-align:center;
  position: absolute;
  z-index: 2;
  &:after {
    @include equi-triangle(7px, rgba(255,255,255,0.9), 'bottom');
    right: inherit;
    bottom: -35px;
    top: 110%;
    content: ' ';
    position: relative;
  }
}
.pantropical-vis {
  .quote {
    font-size: 12px;
  }

  .btn-group {
    background-color: #eee;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .btn {
    background-color: transparent;
    height: 100%;
    border-radius: 0;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    position: relative;
    &.active {
      background-color: white;
    }
  }

  &.is-loading {
    pointer-events: none;

    &:after {
      top: 30%;
      z-index: 5;
    }

    &:before {
      z-index: 4;
      background-color: $white;
    }
  }
}

.pantropical-options {
  display: block;
  @include clearfix();
  display: flex;
  justify-content: flex-end;
  margin: 0 0 -53px;
  position: relative;
  z-index: 4;

  .pantropical-search-box {
    position: relative;
    margin: 10px 0 0 20px;
    min-width: 300px;
  }

  .pantropical-share {
    margin: 10px 0 0;

    .btn-share {
      width: 40px;
      height: 40px;
      cursor: pointer;

      svg {
        fill: $font-color-1;
        display: block;
        width: 50%;
        height: 100%;
        margin: 0 auto;
      }
    }

  }

  select {
    display: none;
  }
}

#vis {
  min-height: 525px;

  &.change {
    min-height: 930px;

    .bottom-chart {
      width: 100%;
      position: absolute;
      top: 470px;

      #totalEmissionsChart {
        width: 100%;
        height: 380px;
      }
    }
  }

  .legend {
    margin-top: 20px;
  }

  .vis-tab {
    position: absolute;
    margin: 57px 0 0 50px;
    color: #555;
    display: none;
    width: 300px;

    &.nydfs {
      width: 220px
    }

    &.right-side {
      z-index: 2;
      right: 0;
      height: 380px;
      margin: 57px 50px 0 0;
      width: 190px;
    }

    &.country {
      left: 50%;
      transform: translatex(-50%);
      z-index: 2;
    }

    h4 {
      font-size: 18px;
    }

    h5 {
      margin: 22px 0;
    }

    p,li {
      font-size: 14px;
      line-height: 21px;
      margin: 21px 0;

      &.small-figures {
        margin-bottom: 0;
      }
    }

    li {
      margin: 4px 0;
      &:before {
        content: ' ';
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background-color: grey;
        display: inline-block;
        top: 2px;
        position: relative;
        margin: 0 3px 0 0;
      }
      &.latam:before {
        background-color: #3593c5;
      }
      &.africa:before {
        background-color: #a0cddb;
      }
      &.asia:before {
        background-color: #fb8f5e;
      }
    }
    sup,
    sub {
      font-size: 10px;
      position: relative;
      top: 2px;
    }
    sup {
      top: -3px;
    }
    &.all {
      display: block;
    }
    .year-picker {
      height: 34px;
      width: 103px;
      border: 1px solid #5b80a0;
      border-radius: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 14px;
      color: #555;
      line-height: 31px;
      margin:0;

      &#year-picker {
        margin: 0 0 110px;
        position: relative;
        z-index: 3;
      }
      .minusy {
        cursor: pointer;
        font-size: 20px;
        color: #5b80a0;
        &.stop {
          color: #eaeaea;
          cursor: default;
        }
      }
    }

    .year-range {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 40px;
      width: 110%;

      span {
        position: absolute;
        top: 0;
        left: -58px;
      }

      #year-picker-label {
        position: absolute;
        top: 0;
        font-weight: 600;
        transform: translatex(-50%);
      }
      #play-pause {
        position: relative;
        top: 30px;
        left: -38px;
        width: 40px;
        cursor: pointer;
      }
      input {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
      }

      // RANGE INPUT
      input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        -moz-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        margin: 0;
        background: transparent;
        border: 0;

      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }

      input[type=range]::-moz-range-thumb {
        -moz-appearance: none;
        background: transparent;
        border: 0;
      }

      input[type=range]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
      }

      input[type=range]:-moz-focusring {
        outline: none;
      }

      input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent; /* Hides the slider so custom styles can be added */
        border-color: transparent;
        color: transparent;
      }

      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        background: $border;
        border-radius: 5px;
      }

      input[type=range]::-moz-range-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        background: $border;
        border-radius: 5px;
      }

      .progress-year {
        z-index: 3;
        position: absolute;
        top: 28px;
        width: 15px;
        height: 15px;
        background: $blue;
        border-radius: 50%;
        transform: translate(-8px, 0);
      }

    }

    .select-years {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .select-wrapper {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 44%;
          right: 25px;
          height: 8px;
          width: 8px;
          border-right: 2px solid $black;
          border-bottom: 2px solid $black;
          transform: rotate(45deg) translatey(-50%);
          pointer-events: none;
        }
      }

      .year-dropdown {
        display: blocK;
        appearance: none;
        padding: 0 30px 0 10px;
        border: 1px solid $color-1;
        border-radius: 40px;
        display: flex;
        font-size: 14px;
        color: #555;
        line-height: 31px;
        margin: 0 10px;
        cursor: pointer;

        & .is-disabled {
          pointer-events: none;
          color: $color-3;
        }
      }
    }
  }

  .country-label {
    font-size: 12px;
    cursor: pointer;
  }

  .data-label {
    font-size: 18px;
    cursor: pointer;
  }
}

#svg_vis {
  position: relative;
  z-index: 1;

  circle {
    cursor: pointer;
    &.searched {
      fill: black;
    }
  }
}

