.line-chart {
  path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

  .tick {
    text {
      font-size: 11px;
      color: $font-color-1;
    }
  }

  circle {
    fill: $blue;
    stroke-width: 2px;
    stroke: $white;

  }
}

.linechart-graph {
  height: 300px;
}

.lineChart {

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .line {
    fill: none;
    stroke: $color-1;
    stroke-width: 3px;
  }

  .area {
    fill: #61BED4;
  }

  .axis line {
    stroke: #E5E5DF;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: $font-color-1;
    font-weight: 500;
    font-size: 11px;
  }

  .axis path {
    stroke: #E5E5DF;
    stroke-width: 3px;
    fill: none;
  }

  .axis.y path {
    visibility: hidden;
  }

  .axis2 path {
    visibility: hidden;
  }

  .axis2 line {
    fill: none;
    stroke: #E5E5DF;
    shape-rendering: crispEdges;
  }

  .axis2 text {
    fill: $font-color-1;
    font-size: 10px;
  }

  //Horizontal lines
  .axis.y line {
    fill :none;
    stroke: none;
  }

  .axis.x .tick line {
    visibility: hidden;
  }

  .brush .extent {
    fill: #333;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

  .resize rect {
    visibility: visible !important;
    fill: #333;
  }

  .context .background {
    fill: #3DAFCB;
  }

  .hoverOverlay circle {
    fill: $color-1;
    stroke: white;
    stroke-width: 2px;
    pointer-events: none;
  }

  .hoverOverlay line {
    stroke: white;
    stroke-width: 1px;
    pointer-events: none;
  }

  .dot {
    fill: $color-1;
    stroke: #fff;
    stroke-width: 2px;
  }
}

.pantropical-title h3{
  font-size: 18px;
  color: #555;
  text-align: center;
  margin: 0 0 30px;
}
#pantropical_tooltip {
  max-width: 230px;
  width: 230px;
  left: -125px;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border:1px solid rgba(200,200,200,0.85);
  text-align:center;
  position: absolute;
  &:after {
    @include equi-triangle(7px, rgba(255,255,255,0.9), 'bottom');
    right: inherit;
    bottom: -35px;
    top: 110%;
    content: ' ';
    position: relative;
  }
}
.pantropical-vis {
  .btn-group {
    background-color: #eee;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .btn {
    background-color: transparent;
    height: 100%;
    border-radius: 0;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    &.active {
      background-color: white;
    }
  }
}
#vis {
  min-height: 525px;
  .vis-tab {
    position: absolute;
    margin: 57px 0 0 50px;
    color: #555;
    display: none;
    &.nydfs {
      width: 220px
    }
    &.right-side {
      right: 0;
      margin: 57px 50px 0 0;
      width: 250px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      margin: 22px 0;
    }
    width: 300px;
    p,li {
      font-size: 14px;
      line-height: 21px;
      margin: 21px 0;
    }
    li {
      margin: 4px 0;
      &:before {
        content: ' ';
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background-color: grey;
        display: inline-block;
        top: 2px;
        position: relative;
        margin: 0 3px 0 0;
      }
      &.latam:before {
        background-color: #3593c5;
      }
      &.africa:before {
        background-color: #a0cddb;
      }
      &.asia:before {
        background-color: #fb8f5e;
      }
    }
    sup,
    sub {
      font-size: 10px;
      position: relative;
      top: 2px;
    }
    sup {
      top: -3px;
    }
    &.all {
      display: block;
    }
    #year-picker {
      height: 34px;
      width: 103px;
      border: 1px solid #5b80a0;
      border-radius: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 14px;
      color: #555;
      line-height: 31px;
      margin: 0 0 110px;
      .minusy {
        cursor: pointer;
        font-size: 20px;
        color: #5b80a0;
        &.stop {
          color: #eaeaea;
          cursor: default;
        }
      }
    }
  }
}


.linechart-legend {
  margin: 0 0 0 30px;
  > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    > li{
      position: relative;
      padding: 3px 0 0 22px;
      margin: 0 0 0 20px;
      &:first-child {
        margin: 0;
      }
      > span {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
  }
}
