.line-chart {
  path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

  .tick {
    text {
      font-size: 11px;
      color: $font-color-1;
    }
  }

  circle {
    fill: $blue;
    stroke-width: 2px;
    stroke: $white;

  }
}

.linechart-graph {
  height: 300px;
}

.lineChart {

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .line {
    fill: none;
    stroke: $color-1;
    stroke-width: 3px;
  }

  .area {
    fill: #61BED4;
  }

  .axis line {
    stroke: #E5E5DF;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: $font-color-1;
    font-weight: 500;
    font-size: 11px;
  }

  .axis path {
    stroke: #E5E5DF;
    stroke-width: 3px;
    fill: none;
  }

  .axis.y path {
    visibility: hidden;
  }

  .axis2 path {
    visibility: hidden;
  }

  .axis2 line {
    fill: none;
    stroke: #E5E5DF;
    shape-rendering: crispEdges;
  }

  .axis2 text {
    fill: $font-color-1;
    font-size: 10px;
  }

  //Horizontal lines
  .axis.y line {
    fill :none;
    stroke: none;
  }

  .axis.x .tick line {
    visibility: hidden;
  }

  .brush .extent {
    fill: #333;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

  .resize rect {
    visibility: visible !important;
    fill: #333;
  }

  .context .background {
    fill: #3DAFCB;
  }

  .hoverOverlay circle {
    fill: $color-1;
    stroke: white;
    stroke-width: 2px;
    pointer-events: none;
  }

  .hoverOverlay line {
    stroke: white;
    stroke-width: 1px;
    pointer-events: none;
  }

  .dot {
    fill: $color-1;
    stroke: #fff;
    stroke-width: 2px;
  }
}

.linechart-legend {
  margin: 0;

  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > li{
      position: relative;
      padding: 3px 0 0 22px;
      margin: 0 0 0 20px;

      &:first-child {
        margin-left: 30px;
      }

      > span {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
  }
}

