.listchart-graph {
  li {
    padding: 20px 0;
    border-bottom: 1px solid #E5E5DF;
    font-size: 18px;
    font-weight: 200;
    color: $black;

    &:first-child {
      font-size: 23px;
      border-top: 1px solid #E5E5DF;
    }
  }
}