<div class="layer-details layer-details-carbon_stocks">
  {{#if threshold}}
    <p class="canopy">Canopy density above ground biomass displayed <span class="canopy-button"> > {{threshold}} %</span></p>
    <div class="total-carbon-bar">
    <p class="canopy minavgmax">Values displayed <span class="canopy-button minavgmax"> <span data-quantity="min">min</span><span class="current" data-quantity="avg">avg</span><span data-quantity="max">max</span></span></p>
    <ul class="labels">
      <li>0</li>
      <li>500<span class="units"> Mg Ha <sup>-1</sup></span></li>
    </ul>
    <div class="quartile-bar-biomass"></div>
  </div>
  {{/if}}
</div>