{{#if threshold}}
  <div class="layer-details layer-details-carbon_gain" data-layer-group="carbon-gain">
    <div class="total-carbon-bar">
      <ul class="labels">
        <li><em class="js-min-label">{{minvalue}}</em></li>
        <li><em class="js-max-label">{{maxvalue}} </em> <span class="units js-unit">{{{unit}}}</span></li>
      </ul>
      <span class="range-bar">|</span>
      <span class="range-bar">|</span>
      <div class="quartile-bar"></div>
    </div>
  </div>
{{/if}}
