<div class="layer-details layer-details-grump">
  <ul class="layer-colors">
    <li><i>(Mg C ha<sup>-1</sup> in topsoil)</i></li>
    <li><i class="circle" style='color:#DDCEB8;'></i>0 - 20</li>
    <li><i class="circle" style='color:#b39465;'></i>20 - 65</li>
    <li><i class="circle" style='color:#8e6d3f;'></i>65 - 160</li>
    <li><i class="circle" style='color:#60461F;'></i>160 - 425</li>
    <li><i class="circle" style='color:#211503;'></i> >425</li>
  </ul>
</div>

<div class='my-legend'>
  <div class='legend-scale'>
    <ul class='legend-labels'>
    </ul>
  </div>
</div>
