<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i>tonnes per hectare</i></li>
    <li><i class="circle" style='color:#1c4640; opacity:0.7;'></i>0 - 149 </li>
    <li><i class="circle" style='color:#1a5e53; opacity:0.7;'></i>150 -  159 </li>
    <li><i class="circle" style='color:#157c64; opacity:0.7;'></i>160 - 169 </li>
    <li><i class="circle" style='color:#1bab7d; opacity:0.7;'></i>170 - 200</li>
    <li><i class="circle" style='color:#9ed45e; opacity:0.7;'></i>over 200</li>
  </ul>

</div>
