<div class="layer-details layer-details-idn-peat">
  <ul class="layer-colors">
    <li><i>(Tons of CO<sup>2</sup>  ha<sup>-1</sup> yr<sup>-1</sup>)</i></li>
    <li><i class="circle" style="color:#E0DCE0"></i>Unknown (peat outside plantations)</li>
    <li><i class="circle" style="color:#C28BCA"></i>40 (oil palm on peat)</li>
    <li><i class="circle" style="color:#8A33AD"></i>55 (other plantation types on peat)</li>
    <li><i class="circle" style="color:#5A0198"></i>73 (Acacia on peat)</li>
  </ul>
</div>
