<div class="layer-details layer-details-idn-peat">
  <ul class="layer-colors">
    <li><i class="circle" style="color:#ECF0F6"></i>Unknown (peat outside plantations)</li>
    <li><i class="circle" style="color:#B2C2DB"></i>40 (oil palm on peat)</li>
    <li><i class="circle" style="color:#6182B5"></i>55 (other plantation types on peat)</li>
    <li><i class="circle" style="color:#0F3B82"></i>73 (Acacia on peat)</li>
  </ul>
</div>