<div class="layer-details layer-details-grump">
  <ul class="layer-colors">
    <li><i>(Mg C ha<sup>-1</sup> in all ecosystem)</i></li>
    <li><i class="circle" style='color:#75322B;'></i>0 - 70</li>
    <li><i class="circle" style='color:#ef9e0b;'></i>71 - 140</li>
    <li><i class="circle" style='color:#f9eb46;'></i>141 - 210</li>
    <li><i class="circle" style='color:#4A6D2A;'></i>211 - 280</li>
    <li><i class="circle" style='color:#114610;'></i> >280</li>
  </ul>
</div>

<div class='my-legend'>
  <div class='legend-scale'>
    <ul class='legend-labels'>
    </ul>
  </div>
</div>
