<div class="layer-details layer-details-grump">
  <ul class="layer-colors">
    <li><i>(Mg C ha<sup>-1</sup> in all ecosystem)</i></li>
    <li><i class="circle" style='color:#29392F;'></i>0 - 70</li>
    <li><i class="circle" style='color:#436551;'></i>71 - 140</li>
    <li><i class="circle" style='color:#5D9675;'></i>141 - 210</li>
    <li><i class="circle" style='color:#79C99B;'></i>211 - 280</li>
    <li><i class="circle" style='color:#95FFC3;'></i> >281</li>
  </ul>
</div>

<div class='my-legend'>
  <div class='legend-scale'>
    <ul class='legend-labels'>
    </ul>
  </div>
</div>
