<div class="tab-countries">
  <div class="countries-content">
    {{!-- <header>
      <ul class="submenu">
        <li class="is-selected"><svg class="icon"><use xlink:href="#icon-tab-analysis"></use></svg><span>draw shape</span></li>
        <li><svg class="icon"><use xlink:href="#icon-tab-alerts"></use></svg><span>country or region</span></li>
        <li><svg class="icon"><use xlink:href="#icon-tab-countries"><span>other data layers</span></li>
      </ul>
    </header> --}}
    <div class="select-box">
      <select data-placeholder="Select country" class="chosen-select default notranslate" id="countries-country-select"><option></option></select>
      {{!-- <select data-placeholder="Select jurisdiction (optional)" disabled="true" class="chosen-select default notranslate" id="countries-region-select"><option></option></select> --}}
    </div>
    <div class="toggle-countries-content" id="toggle-countries-content">
      <div id="countries-layers" class="countries-layers"></div>
      <div id="countries-buttons" class="countries-buttons"></div>
    </div>
  </div>
 </div>
