<div class="number-graph">
  <h3>Each year, drainage of tropical peat for large industrial plantations in {{this.country_name}} emit <span>{{this.millionsValueString}} million metric tons of CO2</span>.</h3>
</div>
