<div class="number-graph">
  <h3>In the <span>year 2000</span>, the area of tree cover in {{this.country_name}} was <span>{{this.valueString}} hectares</span>.</h3>
  <div class="number-trees"></div>
</div>
