<div class="content-wrapper">
  <div id="sources">
    <div id="indicators" class="source-item">
      <div class="source_header">
        <strong class="source_title">Select indicators</strong>
      </div>
      <div class="source_body">

      <div class="indicator-list">
        <div class="col">
          <h3>National/subnational data</h3>
          <ul>
            <li class="indicator"><span class="indicator__name">annual deforestation rate</span></li>
            <li class="indicator"><span class="indicator__name">carbon emissions from deforestation</span><svg class="icon-selector-piechart"><use xlink:href="#icon-selector-piechart"></use></svg></li>
            <li class="indicator"><span class="indicator__name">forest area 2000</span><svg class="icon-selector-piechart"><use xlink:href="#icon-selector-piechart"></use></svg></li>
            <li class="indicator"><span class="indicator__name">biomass carbon stock</span></li>
            <li class="indicator"><span class="indicator__name">aboveground biomass density</span></li>
            <li class="indicator"><span class="indicator__name">emerging hotspots</span></li>
            <li class="indicator"><span class="indicator__name">soil carbon stocks</span></li>
            <li class="indicator"><span class="indicator__name">soil carbon density</span></li>
          </ul>
        </div>

        <div class="col">
          <h3>Policy and Drivers</h3>
          <ul>
            <li class="indicator"><span class="indicator__name">top 5 crops expanding in area</span></li>
            <li class="indicator"><span class="indicator__name">c stocks vs. crop yields</span></li>
            <li class="indicator"><span class="indicator__name">deforestation drivers</span></li>
            <li class="indicator"><span class="indicator__name">deforestation emissions as a % of national ghg emissions</span></li>
            <li class="indicator"><span class="indicator__name">climate change initiatives singed</span></li>
            <li class="indicator"><span class="indicator__name">human population trends</span></li>
          </ul>
        </div>
        <div class="col">
          <h3>Priority Areas of Interest</h3>
          <ul>
            <li class="indicator"><span class="indicator__name">tree plantations</span></li>
            <li class="indicator"><span class="indicator__name">protected areas</span></li>
            <li class="indicator"><span class="indicator__name">primary forests</span></li>
            <li class="indicator"><span class="indicator__name">moratorium areas</span></li>
            <li class="indicator"><span class="indicator__name">mining concessions</span></li>
            <li class="indicator"><span class="indicator__name">logging concessions</span></li>
            <li class="indicator"><span class="indicator__name">plantation concessions</span></li>
            <li class="indicator"><span class="indicator__name">key biodiversity areas</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <button id="btn-done" class="btn medium blue">Done</button>
      </div>
    </div>
  </div>
</div>
