<section class="country-widget" id="{{id}}">
  <div class="country-widget__header">
    <h2 class="country-widget__name">WIDGET TITLE</h2>
    <div class="options">
      <a class="close" href="#">Delete
        <svg>
          <use xlink:href="#shape-close"></use>
        </svg>
      </a>
      <a class="info" href="#">
        <svg>
          <use xlink:href="#shape-info"></use>
        </svg>
      </a>
      <a class="share" href="#">
        <svg>
          <use xlink:href="#shape-share"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="country-widget__content">

    {{#if indicators}}
      <div class="indicators-grid">
      {{#each indicators}}
        <div class="indicators-grid__item" data-name="{{this}}">{{this}}</div>
      {{/each}}
      </div>
      <div class="indicators__content">
        <div class="graph-container"></div>
      </div>
    {{/if}}
  </div>
</section>
