<div class="content-wrapper">
  <div id="sources">
    <div id="indicators" class="source-item">
      <div class="source_header">
        <strong class="source_title">Select indicators</strong>
      </div>
      <div class="source_body">
        <ul class="indicator-list">
          <li id="1" class="indicator"><span class="indicator__name">annual tree cover loos</span></li>
          <li id="2" data-name="Carbon Emissions" class="indicator"><span class="indicator__name">carbon emissions</span></li>
          <li id="3" class="indicator"><span class="indicator__name">carbon stocks by pool</span></li>
          <li id="4" class="indicator"><span class="indicator__name">emerging emissions hotspots</span></li>
          <li id="5" class="indicator"><span class="indicator__name">climate change initiatives signed</span></li>
          <li id="6" class="indicator"><span class="indicator__name">main drivers of deforestation</span></li>
          <li id="7" class="indicator"><span class="indicator__name">emissions per average crop yield</span></li>
          <li id="8" class="indicator"><span class="indicator__name">emissions within vs. outisde existing plantation areas</span></li>
          <li id="9" class="indicator"><span class="indicator__name">emissions within vs. outisde logging/mining/plantation concessions</span></li>
          <li id="10" class="indicator"><span class="indicator__name">deforestation emissions as % of national ghg emissions</span></li>
          <li id="11" class="indicator"><span class="indicator__name">emissions ocurring withing primary forests</span></li>
          <li id="12" class="indicator"><span class="indicator__name">tree cover loss within vs. outside moratorium areas</span></li>
          <li id="13" class="indicator"><span class="indicator__name">emissions within vs. outside moratorium areas</span></li>
          <li id="14" class="indicator"><span class="indicator__name">gfw vs. reference level reported to unfccc</span></li>
          <li id="15" class="indicator"><span class="indicator__name">emissions ocurring withing primary forests</span></li>
          <li id="16" class="indicator"><span class="indicator__name">aboveground biomass comparison</span></li>
          <li id="17" class="indicator"><span class="indicator__name">deforestation comparison</span></li>
          <li id="18" class="indicator"><span class="indicator__name">emission comparison</span></li>
          <li id="19" class="indicator"><span class="indicator__name">emission within vs. outside protected areas</span></li>
          <li id="20" class="indicator"><span class="indicator__name">carbon stocks within vs. outside protected areas</span></li>
          <li id="21" class="indicator"><span class="indicator__name">emissions from forests vs. croplands</span></li>
        </ul>
        <div class="row">
          <button id="btn-done" class="btn medium blue">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
