<div class="gridgraphs-content">

  {{#each jurisdictions}}

    <div class="box" id="box-jurisdictions-{{this.id}}">
      <h2 class="title">{{this.name}}</h2>
      <div class="gridgraphs-container"></div>
    </div>

  {{/each}}

</div>

