<div class="subnational-grid">

  <div class="subnational-grid__header">
    <div class="wrapper-subnational-selector">
      <select name="jurisdictionSelector" id="jurisdictionSelector">
        <option value="default" selected="selected">select jurisdiction</option>
      </select>
      <div class="selector-arrow"></div>
      <div class="selector-remove"></div>
    </div>
  </div>

  <div class="subnational-grid__content"></div>

</div>
