<div class="areas-grid">

  <div class="areas-grid__header">
    <div id="areaSelector" class="areaSelector">
      <span>select areas</span>
    </div>
    <div class="available-areas-menu">
      <ul>
        <li><span>tree plantations</span></li>
        <li><span>protected areas</span></li>
        <li><span>primary forests</span></li>
        <li><span>moratorium areas</span></li>
        <li><span>mining concessions</span></li>
        <li><span>logging concessions</span></li>
        <li><span>plantation concessions</span></li>
        <li><span>key biodiversity areas</span></li>
        <li><span>country</span></li>
      </ul>
      <div class="row">
          <button id="submitAreas" class="btn medium blue">Select Areas</button>
      </div>
    </div>
  </div>

  <div class="areas-grid__content"></div>

</div>
