<div class="gridgraphs-content">

  {{#each areas}}

    <div class="box" id="box-areas-{{this.id}}">
      <h2 class="title">{{this.name}}</h2>
      <div class="gridgraphs-container"></div>
    </div>
  {{/each}}

</div>
