<div class="areas-grid">

  <button class="btn medium blue addIndicators">customize report</button>

  <div class="areas-grid__content">

    {{#each areas}}

      <div id="box-areas-{{this.id}}">

        <h2>{{this.name}}</h2>

        <div class="gridgraphs--container-profile"></div>

      </div>

    {{/each}}

  </div>

</div>
