<div class="fixed-wrap">
  <div class="inner">
    <ul>
      {{#if country}}
        {{#each country.name}}
          <li data-index="{{@index}}" id={{this.id}}>{{this.name}}</li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
</div>
