<div class="m-no-indicators">
  <div class="arrow-container">
    <svg class="svg-arrow"><use xlink:href="#icon-first_step-arrow"></use></svg>
  </div>


  <div class="start-container">

    {{#if setup.isNational}}
      <p class="start-text">Start adding some<br><span> data indicators</span></p>
    {{/if}}

    {{#if setup.isJurisdictions}}
      <p class="start-text">Start adding some<br> <span>jurisdictions</span> and <span> data indicators</span></p>
    {{/if}}

    {{#if setup.isAreas}}
      <p class="start-text">Start adding some<br> <span>areas of interest</span> and <span> data indicators</span></p>
    {{/if}}
  </div>
</div>
