<div class="no-indicators">
  <button class="btn medium blue addIndicators">customize report</button>

  <div class="instructions">
    {{#if setup.isJurisdictions}}
      <p>Start adding some<br> <span class="blue">jurisdictions</span> and <span class="blue"> data indicators</span></p>
    {{/if}}

    {{#if setup.isAreas}}
      <p>Start adding some<br> <span class="blue">areas of interest</span> and <span class="blue"> data indicators</span></p>
    {{/if}}
  </div>
</div>
